<style>
    .content{
        max-width:100%;
    }
    .echart-style td{
        width:60px;
    }
</style>

<style type="text/css">
table.altrowstable {
    margin: 0 auto;
    width: 100%;
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #247692;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table.altrowstable th {
    border-width: 1px;
    padding: 8px;
    font-size: 14px;
    border-style: solid;
    border-color: #d2d6de;
}

table.altrowstable td {
    border-width: 1px;
    padding: 8px;
    text-align: center;
    font-size: 12px;
    border-style: solid;
    border-color: #ddd;
}
table.altrowstable tr:nth-child(odd){
    background:#E9F1F4;
    background: #F5F5F5;
}
table.altrowstable tr:nth-child(even){
    background: #fff;
    background: #eee;
}
    .caigou-table {
        width: 30%;
        height: 130px;
        border-width: 1px;
        border-style: solid;
        border-color: #a9c6c9;
        border-radius: 6px;
        text-align: center;
        float: left;
        margin-left: 30px;
        background-color: #c3dde0;
    }

    .caigou-table tr {

        border-width: 1px;
        border-style: solid;
        border-color: #a9c6c9;
        border-radius: 6px;
        line-height: 50px;
    }

    .caigou-table tr th {

        border-width: 1px;
        border-style: solid;
        border-color: #a9c6c9;
        border-radius: 6px;
        text-align: center;
        font-size: 14px;
    }

    .caigou-table tr td {

        border-width: 1px;
        border-style: solid;
        border-color: #a9c6c9;
        border-radius: 6px;
    }
</style>
<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <form id = "form1" action="{:url('/admin/datacenter/customer_service/detail')}" class="form-commonsearch form-horizontal" role="form1" method="post">
                        <div style="border-radius:2px;margin-bottom:10px;background:#f5f5f5;padding:20px;">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-xs-4">工单平台</label>
                                        <div class="col-xs-8">
                                            <select  id="c-order_platform" data-rule="required" class="form-control" name="order_platform">
												{foreach name="orderPlatformList" item="vo"}
                                                {if $key == $platform}
                                                <option value="{$key}" selected="selected">{$vo}</option>
                                                {else}
                                                <option value="{$key}">{$vo}</option>
                                                {/if}
                                                {/foreach}
                                                <option value="10"{if $platform==10} selected="selected"{/if}>全部</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                    <label for="create_time" class="control-label col-xs-4">完成时间</label>
                                <div class="col-xs-8">
                                    <input type="hidden" class="form-control operate" name="create_time-operate" data-name="create_time" value="RANGE" readonly="">
                                    <input type="text" autocomplete="off" class="form-control datetimerange" name="create_time"  placeholder="创建时间" id="create_time" value="{$create_time}" data-index="14">
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="col-sm-8 col-xs-offset-4">
                                    <input type="submit" class="btn btn-success" value="提交"> 
                                    <!-- <input type="reset" class="btn btn-default reset" value="重置" ></div> -->
                            </div>                                                            
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row item_info" style="background:#f5f5f5;float: left;width: 100%;height:483px;margin-top: 20px;clear:both;margin-left: 0px;">
                <div class="col-lg-12">
                    <div style="float: left;width:60%;">
                        <label for="create_time" class="control-label col-xs-1"
                            style="font-weight: bold;width: 150px;margin-top: 20px;">问题大分类统计</label>
                        <div id="echart1" style="float: left;height:400px;width:100%;"></div>
                    </div>
                    <div style="float: left;width: 40%;">
                        <table id="caigou-table" class="handle_table1"
                            style="border-width:0px;width: 100%;margin-top: 200px;">
                            <tr>
                                <td>订单修改</td>
                                <td>{$data.problem_type[0]}</td>
                                <td>占比</td>
                                {if $problem_type_total gt 0 }
                                <td>{:round($data.problem_type[0]/$problem_type_total*100,2)}%</td>
                                {else/}
                                <td>0</td>
                                {/if}
                            </tr>
                            <tr>
                                <td>物流仓储</td>
                                <td>{$data.problem_type[1]}</td>
                                <td>占比</td>
                                {if $problem_type_total gt 0}
                                <td>{:round($data.problem_type[1]/$problem_type_total*100,2)}%</td>
                                {else/}
                                <td>0</td>
                                {/if}
                            </tr>
                            <tr>
                                <td>产品质量</td>
                                <td>{$data.problem_type[2]}</td>
                                <td>占比</td>
                                {if $problem_type_total gt 0}
                                <td>{:round($data.problem_type[2]/$problem_type_total*100,2)}%</td>
                                {else/}
                                <td>0</td>
                                {/if}
                            </tr>
                            <tr>
                                <td>客户问题</td>
                                <td>{$data.problem_type[3]}</td>
                                <td>占比</td>
                                {if $problem_type_total gt 0}
                                <td>{:round($data.problem_type[3]/$problem_type_total*100,2)}%</td>
                                {else/}
                                <td>0</td>
                                {/if}
                            </tr>
                            <tr>
                                <td>仓库问题</td>
                                <td>{$data.problem_type[4]}</td>
                                <td>占比</td>
                                {if $problem_type_total gt 0}
                                <td>{:round($data.problem_type[4]/$problem_type_total*100,2)}%</td>
                                {else/}
                                <td>0</td>
                                {/if}
                            </tr>                            
                        </table>
                    </div>
                </div>
            </div>
            <div class="row item_info" style="background:#f5f5f5;float:right;width: 100%;margin-top: 20px;margin-right: 0px;">
                <div class="col-lg-12">
                    <div style="float: left;width:55%;">
                        <label for="create_time" class="control-label col-xs-1"
                            style="font-weight: bold;width: 150px;margin-top:20px;">问题类型统计</label>
                            <ul class="nav nav-tabs problem-counter" style="float:left;clear:both;" >
                                <!-- <li class="active"><a href="#t-all" data-value="" data-field="" data-toggle="tab">1</a></li> -->
                                {foreach name="problem_type" item="vo" key="k"}
                                {if $k eq 0}
                                <li class="active"><a href="javascript:void(0);" data-value="{$k+1}" class="statistics">{$vo}</a></li>
                                {else/}
                                <li><a href="javascript:void(0);" data-value="{$k+1}" class="statistics">{$vo}</a></li>
                                {/if}
                                {/foreach}
                            </ul>
                            <div id="echart2" style="float: left;height:400px;width:100%;"></div>                                 
                    </div>
                    <div style="float: right;width: 40%;margin-top:120px;">
                        <table id="caigou-table2" class="handle_table1"
                            style="border-width:0px;width: 100%;margin-top: 50px;">
                            {foreach name="customer_arr" item="vo" key="k"}
                            <tr>
                                <td>{$vo}</td>
                                <td>{$problem_data[$k]}</td>
                                <td>占比</td>
                                {if $problem_form_total gt 0 }
                                <td>{:round($problem_data[$k]/$problem_form_total*100,2)}%</td>
                                {else/}
                                <td>0</td>
                                {/if}
                            </tr>                            
                            {/foreach}
                        </table>
                    </div>
                </div>
            </div>
            <div class="row item_info" style="background:#f5f5f5;float: left;width: 100%;height:524px;margin-top: 20px;clear:both;margin-left: 0px;">
                <div class="col-lg-12">
                    <div style="float: left;width:60%;">
                        <label for="create_time" class="control-label col-xs-1"
                            style="font-weight: bold;width: 150px;margin-top: 20px;">措施统计</label>
                        <div id="echart3" style="float: left;height:400px;width:100%;"></div>
                    </div>
                    <div style="float: left;width: 40%;">
                        <table id="caigou-table" class="handle_table1"
                            style="border-width:0px;width: 100%;margin-top: 50px;">
                            {foreach name="step" item="vo" key="k"}
                            <tr>
                                <td>{$vo}</td>
                                <td>{$data.step[$k]}</td>
                                <td>占比</td>
                                {if $step_total gt 0 }
                                <td>{:round($data.step[$k]/$step_total*100,2)}%</td>
                                {else/}
                                <td>0</td>
                                {/if}
                            </tr>                            
                            {/foreach}
                        </table>
                    </div>                    
                </div>
            </div>
            <div class="row item_info" style="background:#f5f5f5;float:right;width: 100%;margin-top: 20px;margin-right: 0px;">
                <div class="col-lg-12">
                    <div style="float: left;width:100%;">
                                <label for="create_time" class="control-label col-xs-1"
                                style="font-weight: bold;width: 150px;margin-top:20px;">问题措施比统计</label>
                                    <input type="hidden" id="warehouse" name="warehouse" value="0"/>
                                    <ul class="nav nav-tabs step-type" style="float:left;clear:both;" >
                                        <!-- <li class="active"><a href="#t-all" data-value="" data-field="" data-toggle="tab">1</a></li> -->
                                        {foreach name="problem_type" item="vo" key="k"}
                                        {if $k eq 0}
                                        <li class="active"><a href="javascript:void(0);" data-value="{$k+1}" class="statisticsTwo">{$vo}</a>
                                        </li>
                                        {else/}
                                        <li><a href="javascript:void(0);" data-value="{$k+1}" class="statisticsTwo">{$vo}</a></li>
                                        {/if}
                                        {/foreach}
                                    </ul>
                                    <ul id="second-level" class="nav nav-tabs" style="margin-left:30px;float:left;clear:both; " >
                                        <!-- <li class="active"><a href="#t-all" data-value="" data-field="" data-toggle="tab">1</a></li> -->
                                        {foreach name="column" item="vo" key="k"}
                                        {if $k eq 1}
                                        <li class="active"><a  href="javascript:void(0);" data-value="{$k}" class="statisticsThree">{$vo}</a>
                                        </li>
                                        {else/}
                                        <li><a href="javascript:void(0);" data-value="{$k}" class="statisticsThree">{$vo}</a></li>
                                        {/if}
                                        {/foreach}
                                    </ul>
                                    
                    </div>
                        <div style="float: left;width:60%;">
                            <div id="echart4" style="float: left;height:400px;width:100%;"></div>
                        </div>
                        <div style="float: right;width: 40%;">
                            <table id="caigou-table4" class="handle_table1"
                                style="border-width:0px;width: 100%;margin-top: 10px;margin-right: 20px;margin-bottom: 10px;">
                                {foreach name="step" item="vo" key="k"}
                                <tr>
                                    <td>{$vo}</td>
                                    <td>{$step_data.step[$k]}</td>
                                    <td>占比</td>
                                    {if $step_four_total gt 0 }
                                    <td>{:round($step_data.step[$k]/$step_four_total*100,2)}%</td>
                                    {else/}
                                    <td>0</td>
                                    {/if}
                                </tr>                            
                                {/foreach}
                            </table>
                        </div>                     
                </div>
            </div>                                    
        </div>     		
	</div>
</div>