<style>
    .content{
        max-width:100%;
    }
    .echart-style td{
        width:60px;
    }
</style>

<style type="text/css">
table.altrowstable {
    margin: 0 auto;
    width: 100%;
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #247692;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table.altrowstable th {
    border-width: 1px;
    padding: 8px;
    font-size: 14px;
    border-style: solid;
    border-color: #d2d6de;
}

table.altrowstable td {
    border-width: 1px;
    padding: 8px;
    text-align: center;
    font-size: 12px;
    border-style: solid;
    border-color: #ddd;
}
table.altrowstable tr:nth-child(odd){
    background:#E9F1F4;
    background: #F5F5F5;
}
table.altrowstable tr:nth-child(even){
    background: #fff;
    background: #eee;
}
    .caigou-table {
        width: 30%;
        height: 130px;
        border-width: 1px;
        border-style: solid;
        border-color: #a9c6c9;
        border-radius: 6px;
        text-align: center;
        float: left;
        margin-left: 30px;
        background-color: #c3dde0;
    }

    .caigou-table tr {

        border-width: 1px;
        border-style: solid;
        border-color: #a9c6c9;
        border-radius: 6px;
        line-height: 50px;
    }

    .caigou-table tr th {

        border-width: 1px;
        border-style: solid;
        border-color: #a9c6c9;
        border-radius: 6px;
        text-align: center;
        font-size: 14px;
    }

    .caigou-table tr td {

        border-width: 1px;
        border-style: solid;
        border-color: #a9c6c9;
        border-radius: 6px;
    }
    .work_title{
        display: flex;
    }
    .work_title li{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        list-style: none;
    }
    .work_title li span{
        display: inline-block;
        font-size: 16px;
    }
    .work_title li b{
        display: inline-block;
        margin-top: 10px;
        font-size: 28px;
    }
    .work_title li.active span,.work_title li.active b{
        color:#396FFF;
    }
    .work_title .personNum{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .work_title .personNum div{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 50px;
    }
    .work_title .personNum div:nth-child(2){
        align-items: flex-end;
        position: relative;
    }
    .work_title .personNum div:nth-child(2)::after{
        content: '';
        position: absolute;
        top: -5px;
        left: -22px;
        width: 1px;
        height: 54px;
        background-color: #333;
    }
</style>
<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id = "form1" class="form-commonsearch form-horizontal" role="form1" method="post">
                        <div style="border-radius:2px;margin-bottom:10px;background:#f5f5f5;padding:20px;">
                            <div class="row">
                                <div class="col-xs-12 col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-xs-4">站点</label>
                                        <div class="col-xs-8">
                                            <select data-rule="required" class="form-control" name="order_platform" id="order_platform">
                                                <option value="0">全部</option>
                                                <option value="1" selected="selected">Zeelool</option>
                                                <option value="2">Voogueme</option>
                                                <option value="3">Nihao</option>
                                            </select>
                                        </div>
                                    </div>                                                                 
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-1 col-sm-1">时间:</label>
                                <div class="col-xs-2">
                                    <input type="hidden" class="form-control operate" name="one_time-operate" data-name="one_time" value="RANGE" readonly="">
                                    <input type="text" autocomplete="off" class="form-control datetimerange" name="one_time"  placeholder="创建时间" id="one_time" value="" data-index="14">
                                </div>
                                <label class="control-label col-xs-1 col-sm-1"><input id="contrast" name="row[contrast]" type="checkbox" value="0"/>对比时间段:</label>
                                <div id="two-time-node" class="col-xs-2" style="display:none">
                                    <input type="hidden" class="form-control operate" name="two_time-operate" data-name="two_time" value="RANGE" readonly="">
                                    <input type="text" autocomplete="off" class="form-control datetimerange" name="two_time"  placeholder="创建时间" id="two_time" value="" data-index="14">
                                </div>
                            </div>
                            <div class="form-group" style="margin-left:1px;">
                                <label class="control-label col-xs-1 col-sm-1">分组:</label>
                                <div class="col-xs-2">
                                    <select  class="form-control" name="customer_type" id="customer_type">
                                        <option value="0" selected="selected">全部</option>
                                        <option value="1">A组</option>
                                        <option value="2">B组</option>
                                    </select>
                                </div>
                            </div>                            
                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="col-sm-8 col-xs-offset-4">
                                    <input type="submit" class="btn btn-success" id="worknum_submit" value="提交">
                                    <input type="reset" class="btn btn-default reset" id="worknum_reset" value="重置" ></div>
                            </div>                                                            
                            </div>
                        </div>
                    </div>
                </div>
                <div style="border-radius:2px;margin-bottom:10px;background:#f5f5f5;padding:20px;">
                <input type="hidden" id="title_type" value="1">
                <ul class="work_title">
                    <li>
                        <span>处理量</span>
                        <b id="deal_num">{$deal_num}</b>
                    </li>
                    <li data-value="1" class="title active">
                        <span>未达标天数</span>
                        <b id="no_up_to_day">{$no_up_to_day}</b>
                    </li>
                    <li class="title personNum">
                        <div>
                            <span>人效</span>
                            <b id="all_positive_num">{$positive_effect_num.all_positive_num}</b>
                        </div>
                        <div>
                            <span style="font-size: 12px">正式员工人效 <span id="work_positive_num">{$positive_effect_num.work_positive_num}</span></span>
                            <span style="font-size: 12px">非正式员工人效 <span id="nowork_positive_num">{$positive_effect_num.nowork_positive_num}</span></span>
                        </div>
                    </li>
<!--                    <li class="title">-->

<!--                    </li>-->
                </ul>
                <div id="worknum_echart" style="height:200px;width:100%;"></div>
                </div>
                <div style="border-radius:2px;margin-bottom:10px;background:#f5f5f5;padding:20px;">
                <table id="order-info-list" class="altrowstable"
                data-operate-edit="{:$auth->check('saleaftermanage/order_return/edit')}"
                data-operate-del="{:$auth->check('saleaftermanage/order_return/del')}"
                width="100%">
             <thead>                    
             <tr>
                 <th style="text-align: center; vertical-align: middle;">姓名</th>
                 <th style="text-align: center; vertical-align: middle;">分组</th>
                 <th style="text-align: center; vertical-align: middle;">日期</th>
                 <th style="text-align: center; vertical-align: middle;">处理量</th>
                 <th style="text-align: center; vertical-align: middle;">未达标天数</th>
                 <th style="text-align: center; vertical-align: middle;">操作</th>
                 <!-- <th style="text-align: center; vertical-align: middle;">差评数量</th>
                 <th style="text-align: center; vertical-align: middle;">差评占比</th> -->
             </tr>
             </thead>
                    {if isset($customer_data)}
                    {foreach name="customer_data" item="vo" key="k"}
                  <tr>
                      <td style="text-align: center; vertical-align: middle;">{$vo.name}</td>
                      <td id='today_sales_money' style="text-align: center; vertical-align: middle;">{$vo.group_name}</td>
                      {if condition="$taskChangeSku[0]['change_type'] eq 1"/}
                      <td id='today_order_num' style="text-align: center; vertical-align: middle;">{$vo.one.time}{$vo.two.time}</td>
                      {else/}
                      {/if}
                      <td id='today_order_success' style="text-align: center; vertical-align: middle;">{$vo.one.deal_num}{$vo.two.deal_num}</td>
                      <td id='today_unit_price' style="text-align: center; vertical-align: middle;">{$vo.one.no_up_to_day}{$vo.two.no_up_to_day}</td>
                      <td>点击查看</td>
                  </tr>
                  {/foreach}
                  {/if}				 
                </table>
                </div>
            </div>                                   
        </div>     		
	</div>
</div>