<style type="text/css">
table.altrowstable {
    margin: 0 auto;
    width: 100%;
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #247692;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table.altrowstable th {
    border-width: 1px;
    padding: 8px;
    font-size: 14px;
    border-style: solid;
    border-color: #d2d6de;
}

table.altrowstable td {
    border-width: 1px;
    padding: 8px;
    text-align: center;
    font-size: 12px;
    border-style: solid;
    border-color: #ddd;
}
table.altrowstable tr:nth-child(odd){
    background:#E9F1F4;
    background: #F5F5F5;
}
table.altrowstable tr:nth-child(even){
    background: #fff;
    background: #eee;
}
    .caigou-table tr {

        border-width: 1px;
        border-style: solid;
        border-color: #a9c6c9;
        border-radius: 6px;
        line-height: 50px;
    }

    .caigou-table tr th {

        border-width: 1px;
        border-style: solid;
        border-color: #a9c6c9;
        border-radius: 6px;
        text-align: center;
        font-size: 14px;
    }

    .caigou-table tr td {

        border-width: 1px;
        border-style: solid;
        border-color: #a9c6c9;
        border-radius: 6px;
    }

    .tab-content > .active {
       display: block;
       clear: both;
    }
    .work_title li{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        list-style: none;
    }
    .work_title li span{
        display: inline-block;
        font-size: 14px;
    }
    .work_title li b{
        display: inline-block;
        margin-top: 10px;
        font-size: 28px;
    }
    .work_title li.active span,.work_title li.active b{
        color:#396FFF;
    }
    .echart-style td{
        width:60px;
    }
    .table-box{
        display: flex;
        justify-content: space-between;
    }
.table-box .name-table{
     width: 40%;
 }
.table-box .measure-table{
    width: 56%;
}
</style>
<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div  class="tab-content">
            <div class="tab-pane fade active in">
                <div class="row">
                    <div>
                        <div class="form-group" id="form" role="form" >
                            <div style="font-size: 16px;"><b>工单处理概况</b></div><br>
                            <div style="margin-left: 57px;font-size: 14px;margin-top: 20px;">
                            时间：
                            <span>
                            <input type="hidden" class="form-control operate" name="workload_time-operate" data-name="one_time" value="RANGE" readonly="">
                            <input type="text" autocomplete="off" class="datetimerange" name="workload_time"  placeholder="输入时间" id="customer_time" value="" data-index="14" style="width: 200px;">

                            <input type="submit" class="btn btn-success" id="customer_submit" value="提交">
                            <input type="reset" class="btn btn-default reset" id="customer_reset" value="重置" >
                            </span>
                            </div>
                            </div>
                        </div>
                    <div class="table-box">
                        <table  id="customer_meause1" class="altrowstable name-table" width="100%">
                            <thead>
                            <tr>
                                <th style="text-align: center; vertical-align: middle;">措施</th>
                                {if isset($examineArr)}
                                {foreach name="examineArr" item="vo" key="k"}
                                <th style="text-align: center; vertical-align: middle;">{$vo}</th>
                                {/foreach}
                                {/if}
                            </tr>
                            </thead>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">未超时未审批</td>
                                {if isset($examineArr)}
                                {foreach name="examineArr" item="vo" key="k"}
                                <td style="text-align: center; vertical-align: middle;"><?php echo $workorder_handle_left_data[$k]['no_time_out_check'];?></td>
                                {/foreach}
                                {/if}
                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">未超时已审批</td>
                                {if isset($examineArr)}
                                {foreach name="examineArr" item="vo" key="k"}
                                <td style="text-align: center; vertical-align: middle;"><?php echo $workorder_handle_left_data[$k]['no_time_out_checked'];?></td>
                                {/foreach}
                                {/if}
                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">超时未审批</td>
                                {if isset($examineArr)}
                                {foreach name="examineArr" item="vo" key="k"}
                                <td style="text-align: center; vertical-align: middle;"><?php echo $workorder_handle_left_data[$k]['time_out_check'];?></td>
                                {/foreach}
                                {/if}
                            </tr>
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">超时已审批</td>
                                {if isset($examineArr)}
                                {foreach name="examineArr" item="vo" key="k"}
                                <td style="text-align: center; vertical-align: middle;"><?php echo $workorder_handle_left_data[$k]['time_out_checked'];?></th>
                                {/foreach}
                                {/if}
                            </tr>
                        </table>
                        <table  id="workload-info" class="altrowstable measure-table"
                               data-operate-edit="{:$auth->check('saleaftermanage/order_return/edit')}"
                               data-operate-del="{:$auth->check('saleaftermanage/order_return/del')}"
                               width="100%">
                            <thead>
                            <tr>
                                <th style="text-align: center; vertical-align: middle;">措施</th>
                                <th style="text-align: center; vertical-align: middle;">未超时未处理</th>
                                <th style="text-align: center; vertical-align: middle;">未超时已处理</th>
                                <th style="text-align: center; vertical-align: middle;">超时未处理</th>
                                <th style="text-align: center; vertical-align: middle;">超时已处理</th>
                            </tr>
                            </thead>
                            {if isset($step)}
                            {foreach name="step" item="vo" key="k"}
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">{$vo}</td>
                                <td style="text-align: center; vertical-align: middle;"><?php echo $workorder_handle_right_data[$k]['no_time_out_handle'];?></td>
                                <td style="text-align: center; vertical-align: middle;"><?php echo $workorder_handle_right_data[$k]['no_time_out_handled'];?></td>
                                <td style="text-align: center; vertical-align: middle;"><?php echo $workorder_handle_right_data[$k]['time_out_handle'];?></td>
                                <td style="text-align: center; vertical-align: middle;"><?php echo $workorder_handle_right_data[$k]['time_out_handled'];?></td>
                            </tr>
                            {/foreach}
                            {/if}
                        </table>
                    </div>
            </div>
        </div>
	    </div>
    </div>
</div>