<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Email')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-email" data-rule="required" class="form-control" name="row[email]" type="text" value="{$row.email|htmlentities}" disabled>
        </div>

        <label class="control-label col-xs-12 col-sm-2">{:__('Customer_name')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-customer_name"  class="form-control" name="row[customer_name]" type="text" value="{$row.customer_name|htmlentities}" disabled>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mobile')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-mobile" class="form-control" name="row[mobile]" type="text" value="{$row.mobile|htmlentities}" disabled>
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('Country')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-country" class="form-control" name="row[country]" type="text" value="{$row.country|htmlentities}" disabled>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Site_type')}:</label>
        <div class="col-xs-12 col-sm-3">
            {:Form::select('row[site_type]', $siteType, $row['site_type'], ['class'=>'form-control site-type','disabled', 'data-rule'=>'required','data-live-search' => true,'id'=>'site_type'])}
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('Intention_level')}:</label>
        <div class="col-xs-12 col-sm-3">
            {:Form::select('row[intention_level]', $intention_level, $row['intention_level'], ['class'=>'form-control site-type','disabled', 'data-rule'=>'required','data-live-search' => true,'id'=>'intention_level'])}
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_behalf_of')}:</label>
        <div class="col-xs-12 col-sm-3">
            {:Form::select('row[is_behalf_of]', $isNo, $row['is_behalf_of'], ['class'=>'form-control site-type','disabled','data-live-search' => true,'id'=>'is_behalf_of'])}
        </div>

        <label class="control-label col-xs-12 col-sm-2">{:__('Is_order')}:</label>
        <div class="col-xs-12 col-sm-3">
            {:Form::select('row[is_order]', $isNo, $row['is_order'], ['class'=>'form-control site-type','disabled','data-live-search' => true,'id'=>'is_order'])}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_logo')}:</label>
        <div class="col-xs-12 col-sm-3">
            {:Form::select('row[is_logo]', $isNo, $row['is_logo'], ['class'=>'form-control site-type','disabled','data-live-search' => true,'id'=>'is_logo'])}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Logo_images')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group" style="background-color:transparent;width: 130px;">
                <input id="c-logo_images" class="form-control" size="200" name="row[logo_images]" type="hidden" value="{$row.logo_images|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" hidden id="plupload-logo_images" class="btn btn-danger plupload" data-input-id="c-logo_images" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" disabled data-multiple="true" data-preview-id="p-logo_images" ><i class="fa fa-upload"></i> </button></span>
                </div>
                <span class="msg-box n-right" for="c-logo_images"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-logo_images"></ul>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Remark')}</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content" class="form-control editor" rows="5" name="row[remark]" cols="50" disabled>{$row['remark']}</textarea>
        </div>
    </div>
</form>
