<script src="../../../../../../zzgit/skin/frontend/ves_taima/wap/js/zeelool.js"></script>
<style>
    .form-group-child {
        float: left;
        width: 23%;
        margin-top: 10px;
        margin-left: 1%;
    }

    .form-group-child label {
        width: 34%;
    }

    .form-group-child div {
        width: 64%;
    }

    .form-group-child2 {
        float: left;
        width: 49%;
        margin-top: 25px;
        margin-left: 1%;
    }

    .form-group-child2 label {
        width: 16%;
    }

    .form-group-child2 div {
        width: 79%;
    }

    .form-group-child3 {
        /* display: none; */
        float: left;
        width: 32%;
        margin-top: 10px;
        margin-left: 1%;
    }

    .form-group-child3 label {
        width: 45%;
    }

    .form-group-child3 .col-sm-8 {
        width: 54%;
    }

    .form-group-child5 {
        /* display: none; */
        float: left;
        width: 100%;
        margin-top: 10px;
        margin-left: 1%;
    }

    .form-group-child5 .dropdown-menu {
        width: 130%;
    }

    .form-group-child5 label {
        width: 9%;
    }

    .form-group-child5 input {
        width: 48%;
    }

    .form-group-child5 .col-sm-8 {
        width: 15%;
    }

    .form-group-child5 .toolbar {
        margin-left: 1%;
    }

    .form-group-child4 {
        /* display: none; */
        float: left;
        width: 100%;
        margin-top: 10px;
        margin-left: 2%;
    }

    .form-group-child4_del {
        float: left;
        width: 98%;
        text-align: center;
        padding: 10px;
        border: 1px solid #d2d6de;
        border-top: 1px dashed #d2d6de;
        background-color: #f4f4f4;
    }
    .prescription_type_step{
        margin-top:10px;
        width: 28%;
    }

    .form-group-child4_add {
        float: left;
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .form-group-content {
        display: flex;
    }

    .form-group-content .col-sm-2 {
        width: 13%;
    }

    .form-group-content label {
        padding-left: 0;
        margin-bottom: 10px;
        margin-left: 1%;
    }

    .form-group-content input {
        width: 0;
        height: 0;
        opacity: 0;
        float: left;
    }
    .form-group-content .single{
        padding: 0;
    }

    .form-group-content span {
        display: inline-block;
        padding: 8px 10px;
        color: #666666;
        border: 1px solid #dddddd;
        user-select: none;
        border-radius: 10px;
    }

    .form-group-content input:checked+span {
        color: #3399FF;
        border: 1px solid #3399FF;
    }
    .question-type{
        flex-direction: column;
    }
    .question-type>div{
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
    .question-type>div label{
        padding: 0 10px;
        margin: 0;
    }

    .plupload-preview a img {
        height: 60px;
    }

    .plupload-preview a:first-child {
        height: 70px;
    }

    /* lsw添加 */
    .caigou {
        /* border-width: 1px;
            border-style: solid;
            border-color: rgba(188, 188, 188, 1);
            border-radius: 6px; */
        width: 98%;
        margin-left: 2%;
        margin-top: 40px;
    }

    .caigou .caigou-table-sku {
        background-color: #f4f4f4;
        width: 96%;
        height: 130px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        text-align: center;
    }

    .caigou .caigou-table-sku tr {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        line-height: 50px;
    }

    .caigou .caigou-table-sku tr th {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        text-align: center;
        font-size: 14px;
    }

    .caigou .caigou-table-sku tr td {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
    }

    .caigou .caigou-table-sku tr td input {

        width: 150px;
    }

    .step7_function1 {
        background-color: #f4f4f4;
        border: solid 1px #d2d6de;
        width: 96%;
        float: left;
        padding: 20px;
    }

    .step7_function1_child {
        float: left;
        width: 32%;
        padding: 8px;
    }

    .step7_function1_child label {
        width: 40%;
    }

    .step7_function1_child div {
        width: 58%;
    }

    .step7_function2 {
        background-color: #f4f4f4;
        border: solid 1px #d2d6de;
        border-bottom: none;
        float: left;
        width: 30%;
    }

    .step6_function2_child {
        padding: 23.5px;
        float: left;
        width: 100%;
    }
    .step7_function2_child {
        padding: 14px;
        float: left;
        width: 100%;
    }

    .step7_function2_child label {
        width: 40%;
    }
    .step6_function2_child label {
        width: 40%;
    }

    .step7_function2_child div {
        width: 58%;
    }
    .step6_function2_child div {
        width: 58%;
    }

    .step7_function3 {
        background-color: #f4f4f4;
        border: solid 1px #d2d6de;
        border-bottom: none;
        float: left;
        width: 66%;
        margin-top: 20px;
    }

    .step7_function3_child {
        padding: 6px;
        float: left;
        width: 33%;
    }

    .step7_function3_child label {
        width: 40%;
    }

    .step7_function3_child div {
        width: 58%;
    }

    .step7_function3 table {
        float: left;
        margin-top: 2px;
    }

    .step1_function2 {
        background-color: #f4f4f4;
        border: solid 1px #d2d6de;
        border-bottom: none;
        float: left;
        width: 32%;
        margin-top: 20px;
    }

    .step1_function2_child {
        padding: 14px;
        float: left;
        width: 100%;
    }

    .step1_function2_child label {
        width: 40%;
    }

    .step1_function2_child div {
        width: 58%;
    }

    .step1_function3 {
        background-color: #f4f4f4;
        border: solid 1px #d2d6de;
        border-bottom: none;
        float: left;
        width: 66%;
    }

    .step1_function3_child {
        padding: 6px;
        float: left;
        width: 33%;
    }

    .step1_function3_child label {
        width: 40%;
    }

    .step1_function3_child div {
        width: 58%;
    }

    .step1_function3 table {
        float: left;
        margin-top: 2px;
    }
    .bootstrap-select.btn-group .dropdown-menu{
        width: auto;
        right: 0;
        left: auto;
    }
    .question-type .control-label{
        padding: 0;}

</style>

<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <!--站点类型-->
    <input type="hidden" name="row[work_type]" value="{$work_type}" />
    <!--工单类型，1 客服工单，2 仓库工单-->
    <input type="hidden" name="row[order_pay_currency]" id='order_pay_currency' value="{$row.order_pay_currency}" />
    <!--订单支付的货币类型 根据订单号读出来-->
    <input type="hidden" name="row[order_pay_method]" id='order_pay_method' value="{$row.order_pay_method}" />
    <!--订单支付的支付方式 根据订单号读出来-->
    <input type="hidden" id='work_platform' name="row[work_platform]" value="{$row.work_platform}" />
    <!--是否需要审核-->
    <input type="hidden" id='is_check' name="row[is_check]" value="{$row.is_check}" />
    <div id="input-hidden"></div>

    <!-- 承接人id -->
    <input type="hidden" name="row[recept_person_id]" id="recept_person_id" value="{:session('admin.id')}">
    <input type="hidden" name="row[id]" id="work_id" value="{$row.id}">
    <!-- 问题类型id传递 -->
    <input type="hidden" name="row[problem_id]" id="problem_id" value="{$row.problem_type_id}">
    <!-- 订单的base_grand_total -->
    <input type="hidden" name="row[base_grand_total]" id='base_grand_total' value="{$row.base_grand_total}" />
    <!-- 订单的grand_total -->
    <input type="hidden" name="row[grand_total]" id='grand_total' value="{$row.grand_total}" />
    <!-- 订单的base_to_order_rate -->
    <input type="hidden" name="row[base_to_order_rate]" id='base_to_order_rate' value="{$row.base_to_order_rate}" />

    <div class="form-group">
        <div class="form-group-child">
            <label class="control-label col-xs-12 col-sm-2">{:__('platform_order')}：</label>
            <div class="col-xs-12 col-sm-8">
                <input style="width: 60%;" id="c-platform_order" class="form-control" {:$row['id'] ? 'readonly' : ''} name="row[platform_order]"
                    type="text" value="{:$row['platform_order'] ? $row['platform_order'] : input('order_number')}">
                <button type="button" id="platform_order" class="btn btn-success"
                    style="padding: 5px 12px;">载入数据</button>
            </div>
        </div>


        <div class="form-group-child">
            <label class="control-label col-xs-12 col-sm-2">{:__('order_sku')}：</label>
            <div class="col-xs-12 col-sm-8">
                {if $row.order_sku}
                {:build_select('row[order_sku][]', $skus, $row.order_sku, ['class'=>'form-control selectpicker','multiple'=>'multiple','disabled'=>'disabled'])}
                {else/}
                {:build_select('row[order_sku][]', $skus, $row.order_sku, ['class'=>'form-control selectpicker','multiple'=>'multiple','id'=>'c-order_sku','title'=>"请选择"])}
                {/if}
            </div>
        </div>

        <div class="form-group-child">
            <label class="control-label col-xs-12 col-sm-2">{:__('work_level')}：</label>
            <div class="col-xs-12 col-sm-8">
                <select id="c-work_level" class="form-control selectpicker" {:$row['id'] ? 'disabled' : ''} name="row[work_level]">
                    <option value="1" {eq name="1" value="$row.work_level"}selected{/eq}>低</option>
                    <option value="2" {eq name="2" value="$row.work_level"}selected{/eq}>中</option>
                    <option value="3" {eq name="3" value="$row.work_level"}selected{/eq}>高</option>
                </select>
            </div>
        </div>

        <div class="form-group-child2" style="margin-left: 1%;width: 47%;">
            <label class="control-label col-xs-12 col-sm-2">{:__('problem_description')}：</label>
            <div class="col-xs-12 col-sm-8" style="width: 83%;">
                <textarea id="c-problem_description" style="resize:none;height: 142px;"  class="form-control" rows="5"
                    name="row[problem_description]" cols="50">{$row.problem_description}</textarea>
            </div>
        </div>
        {if $row['id']}
        <div class="form-group-child2" style="margin-left: 1%;width: 47%;">
            <label class="control-label col-xs-12 col-sm-2">{:__('处理备注')}：</label>
            <div class="col-xs-12 col-sm-8" style="width: 83%;">
                <textarea id="c-problem_description" style="resize:none;height: 142px;"  class="form-control" rows="5"
                    name="row[content]" cols="50"></textarea>
            </div>
        </div>
        {/if}
        <div class="form-group-child2">
            <label class="control-label col-xs-12 col-sm-2">{:__('work_picture')}：</label>
            <div class="col-xs-12 col-sm-8">
                <div class="input-group">
                    <input id="c-work_picture" class="form-control work_picture" size="200" readonly
                        name="row[work_picture]" type="hidden" value="{$row.work_picture}">
                    <div class="input-group-addon no-border no-padding"
                        style="background-color:transparent;width: 130px;">
                        <span><button type="button" id="plupload-work_picture" {:$row['id'] ? 'disabled' : ''} class="btn btn-danger plupload"
                                data-input-id="c-work_picture"
                                data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true"
                                data-maxcount="4" data-multipart={"dir":"workorder"} data-preview-id="p-work_picture"><i
                                    class="fa fa-upload"></i>
                                {:__('Upload')}</button></span>
                        <span><button type="button" id="fachoose-work_picture" {:$row['id'] ? 'disabled' : ''} class="btn btn-primary fachoose"
                                data-input-id="c-work_picture" data-mimetype="image/*" data-multiple="true"
                                data-maxcount="4"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                    </div>
                    <span class="msg-box n-right" for="c-work_picture"></span>
                </div>
                <ul class="row list-inline plupload-preview" id="p-work_picture"></ul>
            </div>
        </div>

    </div>

    <hr style="border-top: 1px solid #000;">

    <div class="form-group">
        <div class="form-group-content question-type">
            {if($work_type == 1)}
            <label class="control-label col-xs-12 col-sm-2" style="width:8%;float: left;">{:__('问题类型')}：</label>
            {foreach $problem_type as $key => $val}
            <div>
                <label class="control-label col-xs-12 col-sm-2" style="width:8%;">{:__($val['name'])}：</label>
            <div class="radio" style="width: 90%;float: left;">
                {foreach $val['type'] as $k => $v}
                <label>
                    <input type="radio" name="row[problem_type_id]" class="problem_type" {:$row['id'] ? 'disabled' : ''} id="optionsRadios{$v['id']}"
                        value="{$v['id']}">
                    <span>{$v['name']}</span>
                </label>
                {/foreach}
            </div>
            </div>
            {/foreach}
            {else/}
            <div class="radio" style="width: 90%;float: left;">
                <label class="control-label col-xs-12 col-sm-2 single" style="width:8%;float: left;">{:__('problem_type')}：</label>
                {foreach $problem_type as $k1 => $v1}
                <label>
                    <input type="radio" name="row[problem_type_id]" {:$row['id'] ? 'disabled' : ''} class="problem_type" id="optionsRadios{$k1}"
                           value="{$k1}">
                    <span>{$v1}</span>
                </label>
                {/foreach}
            </div>
            {/if}
        </div>
    </div>


    <div class="form-group" id='step_id' style="height: 50px;">
        <div class="form-group-content question-type">

            <div class="radio" style="width: 90%;float: left;">
                <label class="control-label col-xs-12 col-sm-2" style="width:8%;float: left;">{:__('step')}：</label>
                {foreach $step as $k2 => $v2}
                <label style="display: none;">
                    <input type="checkbox" name="row[measure_choose_id][]" class="step_type" id="step{$k2}"
                        value="{$k2}">
                    <span>{$v2}</span>

                    <input type="hidden" id="step{$k2}-is_check" value="">

                    <input type="hidden" id="step{$k2}-appoint_group" value="">
                </label>
                {/foreach}
            </div>
        </div>
    </div>

    <!-- 
    <div class="form-group check-div" style="height: 50px;display: none;">
        <div class="form-group-content">
            <label class="control-label col-xs-12 col-sm-2" style="width:8%;float: left;">{:__('审核人')}：</label>
            <div class="appoint_group" style="width: 90%;float: left;">
               
                <input type="hidden" name="row[appoint_group]" class="check_person"  value="">
            </div>
        </div>
    </div> -->


    <div class="form-group" id='after_user_group' style="height: 50px;display: none;">
        <div class="form-group-content">
            <label class="control-label col-xs-12 col-sm-2" style="width:8%;float: left;">{:__('承接人')}：</label>
            <div class="appoint_group" style="width: 90%;float: left;">

                <label class="control-label col-xs-12 col-sm-2" id="after_user" style="text-align: left;"></label>
                <input type="hidden" name="row[after_user_id]" id="after_user_id" value="">
            </div>
        </div>
    </div>
    <div class="form-group" id="recept_person_group" style="height: 50px;">
        <div class="form-group-content">
            <label class="control-label col-xs-12 col-sm-2" style="width:8%;float: left;">{:__('承接人')}：</label>
            <div class="appoint_group" style="width: 90%;float: left;">

                <label class="control-label col-xs-12 col-sm-2" id="appoint_group_users"
                    style="text-align: left;"></label>


            </div>
        </div>
    </div>
    <hr style="border-top: 1px solid #000;">

    <div class="form-group" id="step_function">
        <!--小操作 start-->
        <div class="form-group-child3 measure step2" style="display:none;">
            <label class="control-label col-xs-12 col-sm-2">{:__('币种')}：</label>
            <div class="col-xs-12 col-sm-8">
                <input type="text"  class="form-control" value="" id="step2_pay_currency" disabled />
            </div>
        </div>
        <div class="form-group-child3 measure step2" style="display:none;">
            <label class="control-label col-xs-12 col-sm-2">{:__('退款金额')}：</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-refund_money" class="form-control" name="row[refund_money]" type="number" value="{$row.refund_money}">
            </div>
        </div>
        <div class="form-group-child3 measure step2" style="display:none;">
            <label class="control-label col-xs-12 col-sm-2">{:__('退款方式')}：</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-refund_way" class="form-control" name="row[refund_way]" type="text" readonly value="{$row.refund_way}">
            </div>
        </div>





        <!--            <div id="add_box_option" style="display: none;">-->
        <!--                <option data-subtext="<span>$4.95</span>&nbsp;&nbsp;&nbsp;<img src='https://cdn.zeelool.com/media/catalog/product//2/_/2_62_1.jpg' width='50%'>" value="1">FP0068-01</option>-->
        <!--                <option data-subtext="<span>$4.95</span>&nbsp;&nbsp;&nbsp;<img src='https://cdn.zeelool.com/media/catalog/product//2/_/2_62_1.jpg' width='50%'>" value="2">FP0068-02</option>-->
        <!--                <option data-subtext="<span>$4.95</span>&nbsp;&nbsp;&nbsp;<img src='https://cdn.zeelool.com/media/catalog/product//2/_/2_62_1.jpg' width='50%'>" value="3">FP0068-03</option>-->
        <!--            </div>-->
        <!--            <div id="add_box">-->
        <!--                <div>-->
        <!--                    <label style="margin-top: 10px;" class="control-label col-xs-12 col-sm-2">{:__('SKU')}：</label>-->
        <!--                    <div style="margin-top: 10px;" class="col-xs-12 col-sm-8">-->
        <!--                        <div class="dropup">-->
        <!--                            <select class="selectpicker" name="row[order_change][change_sku][]" data-live-search="true" title="请选择">-->

        <!--                            </select>-->
        <!--                        </div>-->
        <!--                    </div>-->

        <!--                    <label style="margin-top: 10px;" class="control-label col-xs-12 col-sm-2">{:__('数量')}：</label>-->
        <!--                    <div style="margin-top: 10px;" class="col-xs-12 col-sm-8">-->
        <!--                        <input class="form-control" name="row[order_change][change_number][]" type="text" value="">-->
        <!--                        &lt;!&ndash;<a href="javascript:;" class="btn btn-danger btn-del-supplement" title="删除"><i class="fa fa-trash"></i>删除</a>&ndash;&gt;-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
    </div>

    <div class="form-group-child3 measure step8" style="display:none;">
        <label class="control-label col-xs-12 col-sm-2">{:__('补差价订单号')}：</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-replenish_increment_id" class="form-control" name="row[replenish_increment_id]" type="text"
                value="">
        </div>
    </div>
<!--    <div class="form-group-child3 measure step8" style="display:none;">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('补差价金额')}：</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-replenish_money" class="form-control" name="row[replenish_money]" type="text" value="">-->
<!--        </div>-->
<!--    </div>-->
    <div class="form-group-child3 measure step9" style="display:none;">
        <label class="control-label col-xs-12 col-sm-2">{:__('不需要审核的优惠券')}：</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-check_coupon" class="form-control selectpicker" name="row[coupon_id]">
                <option value="0">请选择</option>
                {foreach $check_coupon as $k3 => $v3}
                <option value="{$v3.id}">{$v3.desc}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group-child3 measure step9" style="display:none;">
        <label class="control-label col-xs-12 col-sm-2">{:__('需要审核的优惠券')}：</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-need_check_coupon" class="form-control selectpicker" name="row[need_coupon_id]">
                <option value="0">请选择</option>
                {foreach $need_check_coupon as $k3 => $v3}
                <option value="{$v3.id}">{$v3.desc}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group-child3 measure step10" style="display:none;">
        <label class="control-label col-xs-12 col-sm-2">{:__('积分')}：</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" name="row[integral]" type="text" value="">
        </div>
    </div>
    <div class="form-group-child3 measure step10" style="display:none;">
        <label class="control-label col-xs-12 col-sm-2">{:__('客户邮箱')}：</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" id="customer_email" name="row[email]" type="text" value="">
        </div>
    </div>
    <div class="form-group-child3 measure step10" style="display:none;">
        <label class="control-label col-xs-12 col-sm-2">{:__('积分描述')}：</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" name="row[integral_describe]" type="text" value="">
        </div>
    </div>
    <div class="form-group-child3 measure step11" style="display:none;">
        <label class="control-label col-xs-12 col-sm-2">{:__('退回物流单号')}：</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" name="row[refund_logistics_num]" type="text" value="">
        </div>
    </div>
    <!--小操作 end-->

    <!--赠品 start-->
    <div class="form-group-child4 measure step6" style="display:none;">
        <div class="col-xs-12 col-sm-8" style="width: 100%;margin-left: 1%;">
            <p style="font-size: 16px;"><b>赠品</b></p>
            <div id="toolbar" class="toolbar">
                <a href="javascript:;" class="btn btn-success btn-add-box"  style="float: left;" title="增加"><i class="fa fa-plus"></i>
                    增加</a>
            </div>
            <div class="add_gift" id="add_box_option">

            </div>
        </div>
    </div>
    <!--赠品 end-->

    <!--更换镜框 start-->
    <div class="form-group-child4 measure step1-1 " style="display:none;">
        <div class="caigou frame-info item_info">
            <p style="font-size: 16px;"><b>更换镜框</b></p>
            <div>
                <!-- <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-success btn-add-frame" title="增加"><i class="fa fa-plus"></i>
                            增加</a>
                    </div> -->
                <table class="caigou-table-sku" id="change-frame">
                    <tr>
                        <th>原SKU</th>
                        <th>原数量(+增加)</th>
                        <th>新SKU</th>
                        <th>新数量(-减少)</th>
                        <!-- <th>操作</th> -->
                    </tr>
                    <!-- <tr>
                            <td><input class="form-control" name="row[change_frame][original_sku][]" type="text" value="">
                            </td>
                            <td><input class="form-control" name="row[change_frame][original_number][]" type="text"
                                    value=""></td>
                            <td><input class="form-control change_sku" name="row[change_frame][change_sku][]" type="text">
                            </td>
                            <td><input class="form-control change_number" name="row[change_frame][change_number][]"
                                    type="text"></td>
                            <td><a href="javascript:;" class="btn btn-danger btn-del" title="删除"><i
                                        class="fa fa-trash"></i>删除</a></td>
                        </tr> -->
                </table>

            </div>
        </div>
    </div>
    <!--更换镜框 end-->

    <!--更换处方 start-->
    <div class="form-group-child4 measure step2-1" style="display:none;">
        <div class="col-xs-12 col-sm-8" style="width: 100%">
            <p style="font-size: 16px;"><b>更改镜片</b></p>

            <!--                <div id="toolbar" class="toolbar">-->
            <!--                    <a href="javascript:;" class="btn btn-success btn-add-lens" title="增加"><i class="fa fa-plus"></i>-->
            <!--                        增加</a>-->
            <!--                </div>-->
            <div id="lens_contents">


            </div>


        </div>
    </div>
    <!--更换处方 end-->

    <!--取消 start-->
    <div class="form-group-child4 measure step3" style="display:none;">
        <div class="caigou item_info" style="margin-top:15px;">
            <p style="font-size: 16px;"><b>取消订单</b></p>
            <div>
                <table class="caigou-table-sku" id='cancel-order'>
                    <tr>
                        <th>原始SKU</th>
                        <th>取消数量</th>
                        <th>操作</th>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-control" name="row[cancel_order][original_sku][]" type="text" value="">
                        </td>
                        <td><input id="c-original_number" class="form-control"
                                name="row[cancel_order][original_number][]" type="text" value=""></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!--取消 end-->

    <!--补发 start-->
    <div class="form-group-child4 measure step7" style="display:none;">
        <div class="col-xs-12 col-sm-8" style="width: 100%;margin-left: 1%;">
            <p style="font-size: 16px;"><b>补发</b></p>

            <div class="step7_function1">
                <div class="step7_function1_child">
                    <label class="control-label col-xs-12 col-sm-3">{:__('Address')}：</label>
                    <div class="col-xs-12 col-sm-8">
                        <select id="address_select" class="form-control selectpicker" name="row[address][address_id]">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="step7_function1_child">
                    <label class="control-label col-xs-12 col-sm-3">Shipping Method：</label>
                    <div class="col-xs-12 col-sm-8">
                        <select id="shipping_type" class="form-control selectpicker" name="row[address][shipping_type]"
                            data-title="请选择">
                            <option value="flatrate_flatrate">Standard Shipping</option>
                            <option value="tablerate_bestway">Business Express</option>
                            <option value="freeshipping_freeshipping">Free shipping</option>
                        </select>
                    </div>
                </div>
                <div class="step7_function1_child">
                    <label class="control-label col-xs-12 col-sm-3">Currency：</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-currency_code" class="form-control" name="row[address][currency_code]" type="text"
                            value="">
                    </div>
                </div>
                <div class="step7_function1_child">
                    <label class="control-label col-xs-12 col-sm-3">{:__('Fast name')}：</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-firstname" class="form-control" name="row[address][firstname]" type="text"
                            value="">
                    </div>
                </div>
                <div class="step7_function1_child">
                    <label class="control-label col-xs-12 col-sm-3">{:__('Last name')}：</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-lastname" class="form-control" name="row[address][lastname]" type="text" value="">
                    </div>
                </div>
                <div class="step7_function1_child">
                    <label class="control-label col-xs-12 col-sm-3">{:__('Email')}：</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-email" class="form-control" name="row[address][email]" type="text" value="">
                    </div>
                </div>
                <div class="step7_function1_child">
                    <label class="control-label col-xs-12 col-sm-3">{:__('Telephone')}：</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-telephone" class="form-control" name="row[address][telephone]" type="text"
                            value="">
                    </div>
                </div>
                <div class="step7_function1_child">
                    <label class="control-label col-xs-12 col-sm-3">{:__('Country')}：</label>
                    <div class="col-xs-12 col-sm-8">
                        <select id="c-country" class="form-control selectpicker" name="row[address][country_id]">
                            <option value="">请选择</option>
                            {foreach name="country" item="vo" key="key"}
                            <option value="{$key}">{$vo['country']}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="step7_function1_child">
                    <label class="control-label col-xs-12 col-sm-3">{:__('State/Province')}：</label>
                    <div class="col-xs-12 col-sm-8">
                        <select id="c-region" class="form-control selectpicker" name="row[address][region_id]">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="step7_function1_child">
                    <label class="control-label col-xs-12 col-sm-3">{:__('City')}：</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-city" class="form-control" name="row[address][city]" type="text" value="">
                    </div>
                </div>
                <div class="step7_function1_child">
                    <label class="control-label col-xs-12 col-sm-3">{:__('Street Address')}：</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-street" class="form-control" name="row[address][street]" type="text" value="">
                    </div>
                </div>
                <div class="step7_function1_child">
                    <label class="control-label col-xs-12 col-sm-3">{:__('Zip/Postal Code')}：</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-postcode" class="form-control" name="row[address][postcode]" type="text" value="">
                    </div>
                </div>
            </div>

            <div class="form-group-child4_add">

            </div>
            <div id="toolbar" class="toolbar">
                <a href="javascript:;" class="btn btn-success btn-add-supplement-reissue" style="float: left;" title="增加"><i class="fa fa-plus"></i>增加</a>
            </div>
            <div id="supplement-order">

            </div>

        </div>
    </div>
    <!--补发 end-->

    </div>

    <input type='hidden' name="row[work_status]" class="status" value="1">
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            {if !$row['id']}
            <button type="submit" class="btn btn-warning btn-embossed">{:__('保存草稿')}</button>
            {/if}
            <button type="submit" class="btn btn-success btn-status btn-embossed">提交</button>
        </div>
    </div>
</form>


<div id="edit_lens" style="display: none;">
    <div>
        <div class="step1_function2">
            <div class="step1_function2_child">
                <label class="control-label col-xs-12 col-sm-3">SKU:</label>
                <div class="col-xs-12 col-sm-8">
                    <select class="form-control selectpicker" name="row[change_lens][original_sku][]">
                        <option value="0">请选择</option>
                    </select>
                </div>
            </div>

            <div class="step1_function2_child">
                <label class="control-label col-xs-12 col-sm-3">Name:</label>
                <div class="col-xs-12 col-sm-8">
                    <input class="form-control" name="row[change_lens][original_name][]" type="text" value="">
                </div>
            </div>
            <div class="step1_function2_child">
                <label class="control-label col-xs-12 col-sm-3">QTY:</label>
                <div class="col-xs-12 col-sm-8">
                    <input class="form-control" name="row[change_lens][original_number][]" type="text" value="">
                </div>
            </div>

            <div class="step1_function2_child">
                <label class="control-label col-xs-12 col-sm-3">prescription_type:</label>
                <div class="col-xs-12 col-sm-8">
                    <select class="form-control selectpicker" name="row[change_lens][recipe_type][]">
                        <option value="0">请选择</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="step7_function3">
            <div class="panel-body">
                <div class="step7_function3_child">
                    <label class="control-label col-xs-12 col-sm-3">lens_type:</label>
                    <div class="col-xs-12 col-sm-8">
                        <select class="form-control selectpicker" name="row[change_lens][lens_type][]">
                            <option value="0">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="step7_function3_child">
                    <label class="control-label col-xs-12 col-sm-3">coating_type:</label>
                    <div class="col-xs-12 col-sm-8">
                        <select id="c-coating_type" class="form-control selectpicker"
                            name="row[change_lens][coating_type][]">
                            <option value="0">请选择</option>
                        </select>
                    </div>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align: center">value</td>
                            <td style="text-align: center">SPH</td>
                            <td style="text-align: center">CYL</td>
                            <td style="text-align: center">AXI</td>
                            <td style="text-align: center">ADD</td>
                            <td style="text-align: center">PD</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">Right(OD)</td>
                            <td><input class="form-control" name="row[change_lens][od_sph][]" type="text" value=""></td>
                            <td><input class="form-control" name="row[change_lens][od_cyl][]" type="text" value=""></td>
                            <td><input class="form-control" name="row[change_lens][od_axis][]" type="text" value="">
                            </td>
                            <td><input class="form-control" name="row[change_lens][od_add][]" type="text" value=""></td>
                            <td><input class="form-control" name="row[change_lens][pd_r][]" type="text" value=""></td>
                        </tr>
                        <tr>
                            <td style="text-align: center">Left(OS)</td>
                            <td><input class="form-control" name="row[change_lens][os_sph][]" type="text" value=""></td>
                            <td><input class="form-control" name="row[change_lens][os_cyl][]" type="text" value=""></td>
                            <td><input class="form-control" name="row[change_lens][os_axis][]" type="text" value="">
                            </td>
                            <td><input class="form-control" name="row[change_lens][os_add][]" type="text" value=""></td>
                            <td><input class="form-control" name="row[change_lens][pd_l][]" type="text" value=""></td>
                        </tr>

                        <tr>
                            <td style="text-align: center"></td>
                            <td style="text-align: center">Prism Horizontal</td>
                            <td style="text-align: center">Base Direction</td>
                            <td style="text-align: center">Prism Vertical</td>
                            <td style="text-align: center">Base Direction</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">Right(OD)</td>
                            <td><input class="form-control" type="text" name="row[change_lens][od_pv][]" value=""></td>
                            <td><input class="form-control" type="text" name="row[change_lens][od_bd][]" value=""></td>
                            <td><input class="form-control" type="text" name="row[change_lens][od_pv_r][]" value="">
                            </td>
                            <td><input class="form-control" type="text" name="row[change_lens][od_bd_r][]" value="">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center">Left(OS)</td>
                            <td><input class="form-control" name="row[change_lens][os_pv][]" type="text" value=""></td>
                            <td><input class="form-control" name="row[change_lens][os_bd][]" type="text" value=""></td>
                            <td><input class="form-control" name="row[change_lens][os_pv_r][]" type="text" value="">
                            </td>
                            <td><input class="form-control" name="row[change_lens][os_bd_r][]" type="text" value="">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group-child4_del">
            <a href="javascript:;" style="width: 50%;" class="btn btn-danger btn-del-lens" title="删除"><i
                    class="fa fa-trash"></i>删除</a>
        </div>
    </div>
</div>

<div id="replenish_order" style="display: none;">
    <div>
        <div class="step7_function2" style="margin-top: 20px;">
            <div class="step7_function2_child">
                <label class="control-label col-xs-12 col-sm-3">SKU:</label>
                <div class="col-xs-12 col-sm-8">
                    <select class="form-control selectpicker" name="row[replacement][original_sku][]">
                        <option value="0">请选择</option>
                    </select>
                </div>
            </div>

            <div class="step7_function2_child">
                <label class="control-label col-xs-12 col-sm-3">Name:</label>
                <div class="col-xs-12 col-sm-8">
                    <input class="form-control" name="row[replacement][original_name][]" type="text" value="">
                </div>
            </div>
            <div class="step7_function2_child">
                <label class="control-label col-xs-12 col-sm-3">QTY:</label>
                <div class="col-xs-12 col-sm-8">
                    <input class="form-control" name="row[replacement][original_number][]" type="text" value="">
                </div>
            </div>
            <div class="step7_function2_child">
                <label class="control-label col-xs-12 col-sm-3">选择已有处方:</label>
                <div class="col-xs-12 col-sm-8">
                    <select class="form-control selectpicker">
                        <option value="0">请选择</option>
                    </select>
                </div>
            </div>
            <div class="step7_function2_child">
                <label class="control-label col-xs-12 col-sm-3">prescription_type:</label>
                <div class="col-xs-12 col-sm-8">
                    <select class="form-control selectpicker" name="row[replacement][recipe_type][]">
                        <option value="0">请选择</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="step1_function3" style="margin-top: 20px;">
            <div class="panel-body">
                <div class="step1_function3_child">
                    <label class="control-label col-xs-12 col-sm-3">lens_type:</label>
                    <div class="col-xs-12 col-sm-8">
                        <select class="form-control selectpicker" name="row[replacement][lens_type][]">
                            <option value="0">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="step1_function3_child">
                    <label class="control-label col-xs-12 col-sm-3">coating_type:</label>
                    <div class="col-xs-12 col-sm-8">
                        <select id="c-coating_type" class="form-control selectpicker"
                            name="row[replacement][coating_type][]">
                            <option value="0">请选择</option>
                        </select>
                    </div>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align: center">value</td>
                            <td style="text-align: center">SPH</td>
                            <td style="text-align: center">CYL</td>
                            <td style="text-align: center">AXI</td>
                            <td style="text-align: center">ADD</td>
                            <td style="text-align: center">PD</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">Right(OD)</td>
                            <td><input class="form-control" name="row[replacement][od_sph][]" type="text" value="">
                            </td>
                            <td><input class="form-control" name="row[replacement][od_cyl][]" type="text" value="">
                            </td>
                            <td><input class="form-control" name="row[replacement][od_axis][]" type="text" value="">
                            </td>
                            <td><input class="form-control" name="row[replacement][od_add][]" type="text" value="">
                            </td>
                            <td><input class="form-control" name="row[replacement][pd_r][]" type="text" value="">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center">Left(OS)</td>
                            <td><input class="form-control" name="row[replacement][os_sph][]" type="text" value="">
                            </td>
                            <td><input class="form-control" name="row[replacement][os_cyl][]" type="text" value="">
                            </td>
                            <td><input class="form-control" name="row[replacement][os_axis][]" type="text" value="">
                            </td>
                            <td><input class="form-control" name="row[replacement][os_add][]" type="text" value="">
                            </td>
                            <td><input class="form-control" name="row[replacement][pd_l][]" type="text" value="">
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: center"></td>
                            <td style="text-align: center">Prism Horizontal</td>
                            <td style="text-align: center">Base Direction</td>
                            <td style="text-align: center">Prism Vertical</td>
                            <td style="text-align: center">Base Direction</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">Right(OD)</td>
                            <td><input class="form-control" type="text" name="row[replacement][od_pv][]" value="">
                            </td>
                            <td><input class="form-control" type="text" name="row[replacement][od_bd][]" value="">
                            </td>
                            <td><input class="form-control" type="text" name="row[replacement][od_pv_r][]" value="">
                            </td>
                            <td><input class="form-control" type="text" name="row[replacement][od_bd_r][]" value="">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center">Left(OS)</td>
                            <td><input class="form-control" name="row[replacement][os_pv][]" type="text" value="">
                            </td>
                            <td><input class="form-control" name="row[replacement][os_bd][]" type="text" value="">
                            </td>
                            <td><input class="form-control" name="row[replacement][os_pv_r][]" type="text" value="">
                            </td>
                            <td><input class="form-control" name="row[replacement][os_bd_r][]" type="text" value="">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group-child4_del" style="width: 100%;padding-right: 0px;">
            <a href="javascript:;" style="width: 50%;" class="btn btn-danger btn-del-supplement" title="删除"><i
                    class="fa fa-trash"></i>删除</a>
        </div>
    </div>
</div>