<style>
    .form-group-child{
        float: left;
        width: 23%;
        margin-top: 10px;
        margin-left: 1%;
    }
    .form-group-child label{
        width: 34%;
    }
    .form-group-child div{
        width: 64%;
    }
    .form-group-child2{
        float: left;
        width: 49%;
        margin-top: 25px;
        margin-left: 1%;
    }
    .form-group-child2 label{
        width: 16%;
    }
    .form-group-child2 div{
        width: 79%;
    }
    .form-group-content{
        display: flex;
    }
    .form-group-content .col-sm-2{
        width: 13%;
    }
    .form-group-content label {
        padding-left: 0;
        margin-bottom: 10px;
        margin-left: 1%;
    }
    .form-group-content input{
        width: 0;
        height: 0;
        opacity: 0;
        float: left;
    }
    .form-group-content span {
        display: inline-block;
        padding: 8px 10px;
        color: #666666;
        border: 1px solid #dddddd;
        user-select: none;
        border-radius: 10px;
    }
    .form-group-content input:checked + span{
        color: #3399FF;
        border: 1px solid #3399FF;
    }

    .plupload-preview a img {
        height: 60px;
    }
    .plupload-preview a:first-child {
        height: 70px;
    }

</style>

<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <input type="hidden" name="row[work_type]" value="1" /><!--工单类型，1 客服工单，2 仓库工单-->
    <input type="hidden" name="row[order_pay_currency]" value="" /><!--订单支付的货币类型 根据订单号读出来-->

    <div class="form-group">
        <div class="form-group-child">
            <label class="control-label col-xs-12 col-sm-2">{:__('platform_order')}：</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-platform_order" data-rule="required" class="form-control" name="row[platform_order]" type="text" value="">
            </div>
        </div>

        <div class="form-group-child">
            <label class="control-label col-xs-12 col-sm-2">{:__('work_platform')}：</label>
            <div class="col-xs-12 col-sm-8">
                <select  id="c-work_platform" data-rule="required" class="form-control selectpicker" name="row[work_platform]">
                    <option value="0">请选择</option>
                    <option value="1">zeelool</option>
                    <option value="2">voogueme</option>
                    <option value="3">nihao</option>
                </select>
            </div>
        </div>

        <div class="form-group-child">
            <label class="control-label col-xs-12 col-sm-2">{:__('order_sku')}：</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-order_sku" class="form-control" name="row[order_sku]" type="text" value="">
            </div>
        </div>

        <div class="form-group-child">
            <label class="control-label col-xs-12 col-sm-2">{:__('work_level')}：</label>
            <div class="col-xs-12 col-sm-8">
                <select  id="c-work_level" class="form-control selectpicker" name="row[work_level]">
                    <option value="1">低</option>
                    <option value="2">中</option>
                    <option value="3">高</option>
                </select>
            </div>
        </div>


        <div class="form-group-child2">
            <label class="control-label col-xs-12 col-sm-2">{:__('problem_description')}：</label>
            <div class="col-xs-12 col-sm-8">
                <textarea id="c-problem_description" style="resize:none;height: 142px;" class="form-control " rows="5" name="row[problem_description]" cols="50"></textarea>
            </div>
        </div>




        <div class="form-group-child2">
            <label class="control-label col-xs-12 col-sm-2">{:__('work_picture')}：</label>
            <div class="col-xs-12 col-sm-8">
                <div class="input-group">
                    <input id="c-work_picture" class="form-control unqualified_images" size="200" readonly
                           name="row[unqualified_images]" type="hidden" value="{$img_url}">
                    <div class="input-group-addon no-border no-padding" style="background-color:transparent;">
                    <span><button type="button" id="plupload-work_picture" class="btn btn-danger plupload"
                                  data-input-id="c-work_picture"
                                  data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true"
                                  data-maxcount="4" data-multipart={"dir":"check"} data-preview-id="p-work_picture"><i class="fa fa-upload"></i>
                            {:__('Upload')}</button></span>
                        <span><button type="button" id="fachoose-work_picture" class="btn btn-primary fachoose"
                                      data-input-id="c-work_picture" data-mimetype="image/*" data-multiple="true"
                                      data-maxcount="4"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                    </div>
                    <span class="msg-box n-right" for="c-work_picture"></span>
                </div>
                <ul class="row list-inline plupload-preview" id="p-work_picture"></ul>
            </div>
        </div>

    </div>

    <hr style="border-top: 1px solid #000;">

    <div class="form-group">
        <div class="form-group-content">
            <label class="control-label col-xs-12 col-sm-2" style="width:8%;float: left;">{:__('problem_type')}：</label>
            <div class="radio" style="width: 90%;float: left;">
                {foreach $problem_type as $k1 => $v1}
                    <label>
                        <input type="radio" name="row[problem_type_id]" class="problem_type" id="optionsRadios{$k1}" value="{$k1}">
                        <span>{$v1}</span>
                    </label>
                {/foreach}
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group-content">
            <label class="control-label col-xs-12 col-sm-2" style="width:8%;float: left;">{:__('step')}：</label>
            <div class="radio" style="width: 90%;float: left;">
                {foreach $step as $k2 => $v2}
                <label style="display: none;">
                    <input type="checkbox"  name="row[problem_type_id]" class="step" id="step{$k2}" value="{$k2}">
                    <span>{$v2}</span>
                </label>
                {/foreach}
            </div>
        </div>
    </div>

    <hr style="border-top: 1px solid #000;">


    <div class="form-group">

        <div class="form-group-child">
            <label class="control-label col-xs-12 col-sm-2">{:__('replenish_increment_id')}：</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-replenish_increment_id" data-rule="required" class="form-control" name="row[replenish_increment_id]" type="text" value="">
            </div>
        </div>

        <div class="form-group-child">
            <label class="control-label col-xs-12 col-sm-2">{:__('replenish_money')}：</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-replenish_money" data-rule="required" class="form-control" name="row[replenish_money]" type="text" value="">
            </div>
        </div>
        <div class="form-group-child">
            <label class="control-label col-xs-12 col-sm-2">{:__('check_coupon')}：</label>
            <div class="col-xs-12 col-sm-8">
                <select  id="c-check_coupon" class="form-control selectpicker" name="row[check_coupon]">
                    <option value="0">请选择</option>
                    {foreach $check_coupon as $k3 => $v3}
                    <option value="{$v3.id}">{$v3.desc}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="form-group-child">
            <label class="control-label col-xs-12 col-sm-2">{:__('need_check_coupon')}：</label>
            <div class="col-xs-12 col-sm-8">
                <select  id="c-need_check_coupon" class="form-control selectpicker" name="row[need_check_coupon]">
                    <option value="0">请选择</option>
                    {foreach $need_check_coupon as $k3 => $v3}
                    <option value="{$v3.id}">{$v3.desc}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="form-group-child">
            <label class="control-label col-xs-12 col-sm-2">{:__('integral')}：</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-integral" data-rule="required" class="form-control" name="row[integral]" type="text" value="">
            </div>
        </div>
        <div class="form-group-child">
            <label class="control-label col-xs-12 col-sm-2">{:__('refund_logistics_num')}：</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-refund_logistics_num" data-rule="required" class="form-control" name="row[refund_logistics_num]" type="text" value="">
            </div>
        </div>




    </div>

    <div class="form-group">

        <div class="form-group-child refund" style="display: none;">
            <label class="control-label col-xs-12 col-sm-2">{:__('退款金额')}：</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-refund_money"  class="form-control" name="row[refund_money]" type="text" value="">
            </div>
        </div>
        <div class="form-group-child refund" style="display: none;">
            <label class="control-label col-xs-12 col-sm-2">{:__('币种')}：</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-order_pay_currency"  class="form-control" name="row[order_pay_currency]" type="text" value="">
            </div>
        </div>
        
        <div class="form-group-child refund" style="display: none;">
            <label class="control-label col-xs-12 col-sm-2">{:__('退款方式')}：</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-refund_way"  class="form-control" name="row[refund_way]" type="text" value="">
            </div>
        </div>

        <div class="form-group-child">
            <label class="control-label col-xs-12 col-sm-2">{:__('SKU')}：</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-change_sku"  class="form-control" name="row[change_sku]" type="text" value="">
            </div>
        </div>

        <div class="form-group-child">
            <label class="control-label col-xs-12 col-sm-2">{:__('数量')}：</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-change_number"  class="form-control" name="row[change_number]" type="text" value="">
            </div>
        </div>


    </div>


    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>