<style>
    li {
        padding: 0;
        margin: 0;
        list-style: none;
        float: left;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        width: auto;
        margin-left: 20px;
        padding-top: 7px;
        
    }
</style>
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('问题类型')}:</label>
        <div class="col-xs-12 col-sm-8">
            <ul style="width: 100%;">
                {foreach $problem_type as $k => $v}
                <li>{$v}</li>
                {/foreach}
            </ul>
        </div>
    </div <div class="form-group layer-footer">
    <label class="control-label col-xs-12 col-sm-2"></label>
    <div class="col-xs-12 col-sm-8">
        <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
        <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
    </div>
    </div>
</form>