<style>
    .caigou {
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        padding: 10px;
        width: 98%;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .caigou #caigou-table {
        width: 100%;
        height: 130px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        text-align: center;
    }

    .caigou #caigou-table tr {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        line-height: 50px;
    }

    .caigou #caigou-table tr th {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        text-align: center;
        font-size: 14px;
    }

    .caigou #caigou-table tr td {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        width: 300px;
    }

    .caigou #caigou-table tr td input {

        width: 200px;
    }
</style>

<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class='caigou'>
            <p style="font-size: 16px;text-align: center;"><b>采购单信息</b></p>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">采购金额:</label>
            <div class="col-xs-12 col-sm-2">
                <input id="c-check_order_number" class="form-control" name="row[purchase_number]"
                    value="{$row.purchase_total}" readonly type="text">
            </div>
            <label class="control-label col-xs-12 col-sm-2">实际采购金额:</label>
            <div class="col-xs-12 col-sm-2">
                <input id="c-check_order_number" class="form-control" name="row[purchase_number]"
                    value="{$purchase_virtual_total}" readonly type="text">
            </div>
            <label class="control-label col-xs-12 col-sm-2">退款金额:</label>
            <div class="col-xs-12 col-sm-2">
                <input id="c-check_order_number" class="form-control" name="row[purchase_number]"
                    value="{$refund_amount}" readonly type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">采购结算金额:</label>
            <div class="col-xs-12 col-sm-2">
                <input id="c-order_number" class="form-control" name="row[createtime]"
                    value="{$purchase_settle_money}" readonly type="text">
            </div>
            <label class="control-label col-xs-12 col-sm-2">已付金额:</label>
            <div class="col-xs-12 col-sm-2">
                <input id="c-order_number" class="form-control" name="row[create_person]"
                    value="{$row.payment_money}" readonly  type="text">
            </div>
        </div>
    </div>
    <style>
        .plupload-preview li {
            width: 80px;
        }
    </style>

    <hr>
    <div class='caigou' style="margin-left:20px;width:98%;">
        <p style="font-size: 16px;text-align: center;"><b>商品信息</b></p>
        <div style="margin-bottom:20px;">
            
            <table id="caigou-table">
                <tr>
                    <th>付款金额</th>
                    <th>付款凭证</th>
                    <th>付款说明</th>
                    <th>付款人</th>
                    <th>付款时间</th>           
                </tr>
                {notempty name="item"}
                {foreach $item as $v}
                <tr>
                    <input class="form-control" name="item_id[]" type="hidden" value="">
                    <td>{$v.pay_money}</td>
                    <td>
                    {foreach $v.pay_photos as $photos}
                    <img src="{$photos}" height="100px;"/>
                    {/foreach}
                    </td>
                    <td>{$v.pay_explain}</td>
                    <td>{$v.create_person}</td>
                    <td>{$v.create_time}</td>
                </tr>
                {/foreach}
                {/notempty}
            </table>
        </div>
    </div>    
</form>
