<style>
    .caigou {
        padding: 10px;
        width: 100%;
        margin-bottom: 10px;
    }

    .caigou #caigou-table {
        width: 100%;
        height: 130px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        text-align: center;

    }

    .caigou #caigou-table tr {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        line-height: 50px;
    }

    .caigou #caigou-table tr th {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        text-align: center;
        font-size: 14px;
    }

    .caigou #caigou-table tr td {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
    }

    .caigou #caigou-table tr td input {

        width: 150px;
    }
</style>
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">采购单号:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-purchase_number" class="form-control" readonly name="row[purchase_number]"
                value="{$purchase_number}" type="text">
        </div>
        <label class="control-label col-xs-12 col-sm-2">采购单名称:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-purchase_name" class="form-control" name="row[purchase_name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">到货时间:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-arrival_time" class="form-control datetimepicker arrival_time"
                data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[arrival_time]" type="text"
                value="{:date('Y-m-d H:i:s')}">
        </div>
        <label class="control-label col-xs-12 col-sm-2">大货/现货:</label>
        <div class="col-xs-12 col-sm-3">
            <select name="row[type]" class="form-control">
                <option value="">请选择</option>
                <option value="1">现货</option>
                <option value="2">大货</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">是否为选品采购单:</label>
        <div class="col-xs-12 col-sm-3">
            <select name="row[is_new_product]" class="form-control">
                <option value="">请选择</option>
                <option value="1">是</option>
                <option value="0">否</option>
            </select>
        </div>
    </div>

    <div class="form-group">
     
        <label class="control-label col-xs-12 col-sm-2">采购备注:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-purchase_remark" class="form-control " rows="5" name="row[purchase_remark]"
                cols="50"></textarea>
        </div>
    </div>
    <hr>
    <div class='caigou {:$is_new_product==1 ? "hide" : "" }'>
        <p style="font-size: 16px;text-align: center;"><b>合同信息</b></p>

        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">合同编号:</label>
            <div class="col-xs-12 col-sm-3">
                <select name="row[contract_id]" class="form-control contract_id selectpicker" required
                    data-live-search='true'>
                    <option value="">请选择</option>
                    {foreach $contract_data as $k => $v}
                    <option value="{$v.id}">{$v.contract_number}</option>
                    {/foreach}
                </select>
            </div>
            <label class="control-label col-xs-12 col-sm-2">合同名称:</label>
            <div class="col-xs-12 col-sm-3">
                <input id="c-purchase_freight" class="form-control contract_name" readonly name="" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">交货地址:</label>
            <div class="col-xs-12 col-sm-3">
                <input id="c-delivery_address" class="form-control address" readonly name="row[delivery_address]"
                    type="text">
            </div>
            <label class="control-label col-xs-12 col-sm-2">交货时间:</label>
            <div class="col-xs-12 col-sm-3">
                <input id="c-delivery_time" readonly class="form-control datetimepicker delivery_time"
                    data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[delivery_time]" type="text"
                    value="{:date('Y-m-d H:i:s')}">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">合同有效期:</label>
            <div class="col-xs-12 col-sm-3">
                <input id="c-contract_time" readonly class="form-control datetimepicker contract_time"
                    data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="" type="text"
                    value="{:date('Y-m-d H:i:s')}">
            </div>
            <label class="control-label col-xs-12 col-sm-2">合同附件:</label>
            <div class="col-xs-12 col-sm-3">
                <div class="input-group">
                    <input id="c-contract_images" class="form-control contract_images" size="200" readonly
                        name="row[contract_images]" type="text">
                    <div class="input-group-addon no-border no-padding">
                        <span><button type="button" id="plupload-contract_images" class="btn btn-danger plupload hidden"
                                data-input-id="c-contract_images"
                                data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true"
                                data-maxcount="5" data-preview-id="p-contract_images"><i class="fa fa-upload"></i>
                                {:__('Upload')}</button></span>
                        <span><button type="button" id="fachoose-contract_images"
                                class="btn btn-primary fachoose hidden" data-input-id="c-contract_images"
                                data-mimetype="image/*" data-multiple="true" data-maxcount="5"><i
                                    class="fa fa-list"></i> {:__('Choose')}</button></span>
                    </div>
                    <span class="msg-box n-right" for="c-contract_images"></span>
                </div>
                <ul class="row list-inline plupload-preview" id="p-contract_images"></ul>
            </div>
        </div>
    </div>
    <hr>
    <div class='caigou'>
        <p style="font-size: 16px;text-align: center;"><b>供应商信息</b></p>


        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">供应商名称:</label>
            <div class="col-xs-12 col-sm-3">

                <select name="row[supplier_id]" class="form-control supplier selectpicker" data-rule='required' data-live-search='true'>
                    <option value="">请选择</option>
                    {foreach $supplier as $k => $v}
                    <option value="{$k}" {:$row[0]['supplier_id']==$k ? 'selected' : '' } {:$list[0]['supplier_id']==$k ? 'selected' : '' }>{$v}</option>
                    {/foreach}
                </select>

            </div>

            <label class="control-label col-xs-12 col-sm-2">供应商地址:</label>
            <div class="col-xs-12 col-sm-3">
                <input id="c-purchase_total" class="form-control supplier_address" readonly name="row[supplier_address]"
                    type="text">
            </div>
        </div>

        <div class="form-group">

        </div>
    </div>
    <hr>
    <div class='caigou' style="width: 80%;margin-left: 10%;">
        <p style="font-size: 16px;text-align: center;"><b>商品信息</b></p>
        <div style="margin-bottom: 20px;">
            <div id="toolbar" class="toolbar">
                <a href="javascript:;" class="btn btn-success btn-add" title="增加"><i class="fa fa-plus"></i> 增加</a>
            </div>
            <table id="caigou-table" class="purchase-table">
                <tr>
                    <th>SKU</td>
                    <th>产品名称</td>
                    <th>供应商sku</td>
                    <th>采购数量（个）</td>
                    <th>采购单价（元）</td>
                    <th>总价（元）</td>
                    <th>操作</td>
                </tr>
                {if $list}
                {foreach $list as $v}
                <input  class="form-control"  name="row[replenish_id]" type="hidden">
                <tr>
                    <input  class="form-control replenish_list_id" name="replenish_list_id[]" type="hidden" value="{$v.id}">
                    <td>
                        <input id="c-purchase_remark" class="form-control sku" name="sku[]" type="text"
                            value="{$v.sku}">
                    </td>
                    <td><input id="c-purchase_remark" class="form-control product_name" readonly name="product_name[]"
                            type="text" value="{$v.product_name}"></td>
                    <td><input id="c-purchase_remark" class="form-control supplier_sku" readonly name="supplier_sku[]"
                            type="text" value="{$v.supplier_sku}"></td>
                    <td><input id="c-purchase_remark" class="form-control purchase_num" name="purchase_num[]"
                            type="text" value="{$v.distribute_num}"></td>
                    <td><input id="c-purchase_remark" class="form-control purchase_price" name="purchase_price[]"
                            type="text"></td>
                    <td><input id="c-purchase_remark" class="form-control goods_total" readonly name="purchase_total[]"
                            type="text"></td>
                    <td><a href="javascript:;" class="btn btn-danger btn-del" title="删除"><i class="fa fa-trash"></i>
                            删除</a></td>
                </tr>
                {/foreach}
                
                {else/}
                <tr>
                    <td>
                        <input id="c-purchase_remark" class="form-control sku" name="sku[]" type="text">
                    </td>
                    <td><input id="c-purchase_remark" class="form-control product_name" readonly name="product_name[]"
                            type="text"></td>
                    <td><input id="c-purchase_remark" class="form-control supplier_sku" readonly name="supplier_sku[]"
                            type="text"></td>
                    <td><input id="c-purchase_remark" class="form-control purchase_num" name="purchase_num[]"
                            type="text"></td>
                    <td><input id="c-purchase_remark" class="form-control purchase_price" name="purchase_price[]"
                            type="text"></td>
                    <td><input id="c-purchase_remark" class="form-control goods_total" readonly name="purchase_total[]"
                            type="text"></td>
                    <td><a href="javascript:;" class="btn btn-danger btn-del" title="删除"><i class="fa fa-trash"></i>
                            删除</a></td>
                </tr>
                {/if}
            </table>
        </div>


        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">商品总额:</label>
            <div class="col-xs-12 col-sm-3">
                <input id="c-product_total" class="form-control total" readonly step="0.01" name="row[product_total]"
                    type="number">
            </div>

            <label class="control-label col-xs-12 col-sm-2">运费:</label>
            <div class="col-xs-12 col-sm-3">
                <input id="c-purchase_freight" class="form-control freight" step="0.01" name="row[purchase_freight]"
                    type="number">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">总计:</label>
            <div class="col-xs-12 col-sm-3">
                <input id="c-purchase_total" class="form-control purchase_total" readonly step="0.01"
                    name="row[purchase_total]" value="" type="number">
            </div>
            <label class="control-label col-xs-12 col-sm-2">{:__('Settlement_method')}:</label>
            <div class="col-xs-12 col-sm-3">
                <select name="row[settlement_method]" class="form-control settlement_method">
                    <option value="1">先付款</option>
                    <option value="2">货到付款</option>
                    <option value="3">付定金，货到付款</option>
                </select>
            </div>


        </div>
        <div class="form-group hidden final_amount">

            <label class="control-label col-xs-12 col-sm-2">定金金额:</label>
            <div class="col-xs-12 col-sm-3">
                <input id="c-deposit_amount" class="form-control deposit_amount" step="0.01" name="row[deposit_amount]"
                    type="number">
            </div>

            <label class="control-label col-xs-12 col-sm-2">尾款金额:</label>
            <div class="col-xs-12 col-sm-3">
                <input id="c-final_amount" class="form-control final_amount" step="0.01" name="row[final_amount]"
                    type="number">
            </div>

        </div>

    </div>

    <hr>
    <div class='caigou' style="width: 50%;margin-left: 10%;">
        <p style="font-size: 16px;text-align: center;"><b>交货信息</b></p>
        <div style="margin-bottom: 20px;" id="arrival_div">
            <div id="toolbar1" class="toolbar">
                <a href="javascript:;" class="btn btn-success btn-addplus" title="添加交货批次"><i class="fa fa-plus"></i>
                    添加交货批次</a>
            </div>
            <!-- <div class="list" style="margin-top:20px;">
                <label class="control-label col-xs-12 col-sm-2" style="width:150px;">批次预计到货时间：</label>
                <div class="col-xs-12 col-sm-3" style="margin-bottom: 20px;">
                    <input id="c-arrival_time" readonly class="form-control datetimepicker arrival_time"
                        data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="arrival_time[]" type="text"
                        value="{:date('Y-m-d H:i:s')}">

                </div>
                <a href="javascript:;" class="btn btn-danger btn-arrival-del" title="删除"><i class="fa fa-trash"></i>
                    删除</a>
                <table id="caigou-table" style="width:80%;">
                    <tr>
                        <th>SKU</td>
                        
                        <th>到货数量</td>
                    </tr>

                    <tr>
                        <td>
                            <input id="c-purchase_remark" class="form-control" name="sku[]" readonly type="text">
                        </td>
                    
                        <td><input id="c-purchase_remark" class="form-control arrival_num" name="arrival_num[]"
                                type="text"></td>

                    </tr>

                </table>

            </div> -->

        </div>
    </div>
    <input type='hidden' name="row[purchase_status]" class="status" value="0">
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="submit" class="btn btn-success btn-status btn-embossed disabled">提交审核</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>

<div id="table-content" style="display: none;">
    <table>
        <tr>
            <td>
                <input id="c-purchase_remark" class="form-control sku" name="sku[]" type="text">
            </td>
            <td><input id="c-purchase_remark" class="form-control product_name" readonly name="product_name[]"
                    type="text"></td>
            <td><input id="c-purchase_remark" class="form-control supplier_sku" readonly name="supplier_sku[]"
                    type="text"></td>
            <td><input id="c-purchase_remark" class="form-control purchase_num" name="purchase_num[]" type="text"></td>
            <td><input id="c-purchase_remark" class="form-control purchase_price" name="purchase_price[]" type="text">
            </td>
            <td><input id="c-purchase_remark" class="form-control goods_total" readonly name="purchase_total[]"
                    type="text"></td>
            <td><a href="javascript:;" class="btn btn-danger btn-del" title="删除"><i class="fa fa-trash"></i> 删除</a></td>
        </tr>
    </table>
</div>
