<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Purchase_number')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-purchase_number" class="form-control" name="row[purchase_number]" type="text" value="{$row.purchase_number|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Purchase_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-purchase_name" class="form-control" name="row[purchase_name]" type="text" value="{$row.purchase_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Purchase_remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-purchase_remark" class="form-control" name="row[purchase_remark]" type="text" value="{$row.purchase_remark|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Contract_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contract_id" data-rule="required" data-source="contract/index" class="form-control selectpage" name="row[contract_id]" type="text" value="{$row.contract_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Supplier_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-supplier_id" data-rule="required" data-source="supplier/index" class="form-control selectpage" name="row[supplier_id]" type="text" value="{$row.supplier_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Item_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-item_id" data-rule="required" data-source="item/index" class="form-control selectpage" name="row[item_id]" type="text" value="{$row.item_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Create_person')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-create_person" class="form-control" name="row[create_person]" type="text" value="{$row.create_person|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Product_total')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-product_total" class="form-control" step="0.01" name="row[product_total]" type="number" value="{$row.product_total|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Purchase_freight')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-purchase_freight" class="form-control" step="0.01" name="row[purchase_freight]" type="number" value="{$row.purchase_freight|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Purchase_total')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-purchase_total" class="form-control" step="0.01" name="row[purchase_total]" type="number" value="{$row.purchase_total|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Settlement_method')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-settlement_method" class="form-control" name="row[settlement_method]" type="number" value="{$row.settlement_method|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Deposit_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-deposit_amount" class="form-control" step="0.01" name="row[deposit_amount]" type="number" value="{$row.deposit_amount|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Final_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-final_amount" class="form-control" step="0.01" name="row[final_amount]" type="number" value="{$row.final_amount|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Delivery_stime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-delivery_stime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[delivery_stime]" type="text" value="{$row.delivery_stime}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Delivery_etime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-delivery_etime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[delivery_etime]" type="text" value="{$row.delivery_etime}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Delivery_address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-delivery_address" class="form-control" name="row[delivery_address]" type="text" value="{$row.delivery_address|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Purchase_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-purchase_status" data-rule="required" class="form-control" name="row[purchase_status]" type="number" value="{$row.purchase_status|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_add_logistics')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-is_add_logistics" data-rule="required" class="form-control" name="row[is_add_logistics]" type="number" value="{$row.is_add_logistics|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_new_product')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-is_new_product" data-rule="required" class="form-control" name="row[is_new_product]" type="number" value="{$row.is_new_product|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Payment_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-payment_status" data-rule="required" class="form-control" name="row[payment_status]" type="number" value="{$row.payment_status|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Payment_images')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-payment_images" class="form-control" size="50" name="row[payment_images]" type="text" value="{$row.payment_images|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-payment_images" class="btn btn-danger plupload" data-input-id="c-payment_images" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-payment_images"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-payment_images" class="btn btn-primary fachoose" data-input-id="c-payment_images" data-mimetype="image/*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-payment_images"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-payment_images"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Payment_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-payment_money" class="form-control" step="0.01" name="row[payment_money]" type="number" value="{$row.payment_money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Payment_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-payment_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[payment_time]" type="text" value="{$row.payment_time}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Payment_remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-payment_remark" class="form-control" name="row[payment_remark]" type="text" value="{$row.payment_remark|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Payment_person')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-payment_person" class="form-control" name="row[payment_person]" type="text" value="{$row.payment_person|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Check_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-check_status" data-rule="required" class="form-control" name="row[check_status]" type="number" value="{$row.check_status|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Stock_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-stock_status" data-rule="required" class="form-control" name="row[stock_status]" type="number" value="{$row.stock_status|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Return_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-return_status" data-rule="required" class="form-control" name="row[return_status]" type="number" value="{$row.return_status|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
