<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    {if $batch_data}
    {foreach $batch_data as $v}
    <div>
        <label class="control-label col-xs-12 col-sm-2" style="width:150px;"><b>第{$v.batch}批 批次ID号:{$v.id}</b> </label>
        <label class="control-label col-xs-12 col-sm-2" style="width:150px;"><b>SKU:{$v->sku}</b> </label>
        <label class="control-label col-xs-12 col-sm-2" style="width:150px;"><b>到货数量:{$v->arrival_num}</b> </label>
        <label class="control-label col-xs-12 col-sm-2" style="width:250px;"><b>预计到货时间：{$v->arrival_time}</b></label>
        <br/>
    </div>
    <div id="toolbar" class="toolbar">
        <a href="javascript:;" style="margin-left: 30px;margin-bottom: 15px;" class="btn btn-success btn-add-batch" title="增加"><i
                class="fa fa-plus"></i> 增加</a>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">选择收货仓:</label>
            <div class="col-xs-12 col-sm-3">
                {if $is_sign == 1}
                <input type="hidden" name="stock_id[{$v.id}]" value="{$v->receiving_warehouse}">
                {/if}

                <select name="stock_id[{$v.id}]" class="form-control"  data-rule="required" {:$is_sign == 1 ? 'disabled':''}>
                    <option value="" >请选择</option>
                    <option value="1" {:$v->receiving_warehouse == 1 ? 'selected':''}>郑州仓</option>
                    <option value="2" {:$v->receiving_warehouse == 2 ? 'selected':''}>丹阳仓</option>
                </select>
            </div>
            <span class="col-xs-12 col-sm-5" style="color: grey;margin-left: 110px;line-height: 30px;"> 注：请仔细核对物流单收货地与收货仓是否一致</span>
        </div>
    </div>
    <input type="hidden" name="batch_id[]" class="batch_id" value="{$v.id}">
    <div class='logistics_content'>
        {if $logistics_data}
        {foreach $logistics_data as $val}
        {if $val['batch_id'] == $v['id']}
        <div class="form-group">
            <input type="hidden" name="logistics_ids[{$v.id}][]" class="logistics_ids" value="{$val.id}"/>
            <label class="control-label col-xs-12 col-sm-2">物流公司编码:</label>
            <div class="col-xs-12 col-sm-3">
                <input  class="form-control" name="logistics_company_no[{$v.id}][]" {:$val.status == 1 ? 'readonly' : ''} value="{$val.logistics_company_no}"
                    type="text" placeholder="请输入对应的物流公司编码">
            </div>
            <label class="control-label col-xs-12 col-sm-2">物流单号:</label>
            <div class="col-xs-12 col-sm-3">
                <input class="form-control" name="logistics_number[{$v.id}][]" type="text" {:$val.status == 1 ? 'readonly' : ''} placeholder="请输入物流单号" value="{$val.logistics_number}">


            </div>
<!--            <a href="javascript:;" class="btn btn-danger btn-del" title="删除"><i class="fa fa-trash"></i>删除</a>-->
        </div>
        {/if}
        {/foreach}
        {else/}
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">物流公司编码:</label>
            <div class="col-xs-12 col-sm-3">
                <input  class="form-control" name="logistics_company_no[{$v.id}][]" value=""  type="text" placeholder="请输入对应的物流公司编码">
            </div>
            <label class="control-label col-xs-12 col-sm-2">物流单号:</label>
            <div class="col-xs-12 col-sm-3">
                <input  class="form-control" name="logistics_number[{$v.id}][]"  type="text" placeholder="请输入物流单号">
            </div>
            <!--            <a href="javascript:;" class="btn btn-danger btn-del" title="删除"><i class="fa fa-trash"></i>删除</a>-->
        </div>
        {/if}
    </div>
    <hr>
    {/foreach}
    {else/}
    <div id="toolbar" class="toolbar">
        <a href="javascript:;" style="margin-left: 30px;margin-bottom: 15px;" class="btn btn-success btn-add" title="增加"><i class="fa fa-plus"></i> 增加</a>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">选择收货仓:</label>
            <div class="col-xs-12 col-sm-3">


                {if $is_sign == 1}
                <input type="hidden" name="stock_id" value="{$row->receiving_warehouse}">
                {/if}
                <select name="stock_id" class="form-control" data-rule="required" {:$is_sign == 1 ? 'disabled':''}>
                    <option value="">请选择</option>
                    <option value="1" {:$row->receiving_warehouse == 1 ? 'selected':''}>郑州仓</option>
                    <option value="2" {:$row->receiving_warehouse == 2 ? 'selected':''}>丹阳仓</option>
                </select>
            </div>
            <span class="col-xs-12 col-sm-5" style="color: grey;margin-left: 110px;line-height: 30px;"> 注：请仔细核对物流单收货地与收货仓是否一致</span>

        </div>

    </div>

    <div class='logistics_content'>
        {if $logistics_data}
        {foreach $logistics_data as $val}
        <div class="form-group">
            <input type="hidden" name="logistics_ids[]" class="logistics_ids" value="{$val.id}"/>
            <label class="control-label col-xs-12 col-sm-2">物流公司编码:</label>
            <div class="col-xs-12 col-sm-3">
                <input id="c-logistics_company_no" class="form-control" name="logistics_company_no[]" {:$val.status == 1 ? 'readonly' : ''} value="{$val.logistics_company_no}"
                    type="text" placeholder="请输入对应的物流公司编码">
            </div>
            <label class="control-label col-xs-12 col-sm-2">物流单号:</label>
            <div class="col-xs-12 col-sm-3">
                <input id="c-logistics_number" class="form-control" name="logistics_number[]" {:$val.status == 1 ? 'readonly' : ''} type="text" placeholder="请输入物流单号" value="{$val.logistics_number}">


            </div>
<!--            <a href="javascript:;" class="btn btn-danger btn-del" title="删除"><i class="fa fa-trash"></i>删除</a>-->
        </div>
        {/foreach}
        {else/}
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">物流公司编码:</label>
            <div class="col-xs-12 col-sm-3">
                <input  class="form-control" name="logistics_company_no[]" value=""  type="text" placeholder="请输入对应的物流公司编码">
            </div>
            <label class="control-label col-xs-12 col-sm-2">物流单号:</label>
            <div class="col-xs-12 col-sm-3">
                <input  class="form-control" name="logistics_number[]"  placeholder="请输入物流单号" type="text">
            </div>
<!--            <a href="javascript:;" class="btn btn-danger btn-del" title="删除"><i class="fa fa-trash"></i>删除</a>-->
        </div>
        {/if}
    </div>
    {/if}

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">快递公司对应编码:</label>
        <div class="col-xs-12 col-sm-8" style="line-height: 31px;">
            <a href="/template/kuaidi100.xlsx">下载快递100快递公司标准编码</a>
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>


<div id='logistics_div' style="display: none;">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">物流公司编码:</label>
        <div class="col-xs-12 col-sm-3">
            <input  class="form-control" name="logistics_company_no[]" value="" type="text" placeholder="请输入对应的物流公司编码">
        </div>
        <label class="control-label col-xs-12 col-sm-2">物流单号:</label>
        <div class="col-xs-12 col-sm-3">
            <input  class="form-control" name="logistics_number[]" type="text" placeholder="请输入物流单号">
        </div>
        <a href="javascript:;" class="btn btn-danger btn-del" title="删除"><i class="fa fa-trash"></i>删除</a>
    </div>
</div>