<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">上传付款凭证:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-upload_photos" class="form-control" size="50" name="row[pay_photos]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-upload_photos"   class="btn btn-danger plupload" data-input-id="c-upload_photos" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-url="ajax/upload?dir=purchase/purchaseOrder" data-multiple="true" data-preview-id="p-upload_photos" data-maxsize="2M"><i class="fa fa-upload"></i> 上传</button></span>
                </div>
                <span class="msg-box n-right" for="c-upload_photos"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-upload_photos"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">付款金额（元）:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pay_money" data-rule="required" class="form-control" name="row[pay_money]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">付款说明:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-pay_explain"  rows="5" name="row[pay_explain]" cols="103"></textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>