<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
    body {
        margin: 0;
        padding: 0
    }

    .single_box {
        margin: 0px auto;
        width: 400px;
        display: list-item;
        /* list-style: none; */
        padding-top:1mm;
    }

    table.addpro {
        clear: both;
        /* table-layout: automatic; */
        border-top: 1px solid #000;
        border-left: 1px solid #000;
        font-size: 12px;
        font-weight: bold;
    }

    table.addpro .title {
        background: none repeat scroll 0 0 #f5f5f5;
    }

    table.addpro .title td {
        /* border-collapse: collapse; */
        color: #000;
        text-align: center;
        font-weight: normal;
        /* font-size: 8px; */

    }

    table.addpro tbody td {
        /* word-break: break-all; */
        text-align: center;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        width: 35px;
    }

  
</style>

{if $list}
{foreach $list as $v}
<div class='single_box'>
    <table width='380mm' height='200mm' border='0' cellspacing='0' cellpadding='0' class='addpro'>
        <tbody cellpadding='0'>
            <tr>
                <td rowspan='' colspan='2' style='padding:2px;'>
                    {$v.created_at} <br>
                    {$v.coding}
                </td>
                <td rowspan='' colspan='8' style='padding:10px;'><img style='width:100%;height:80%;'
                        src='{$v.img_url}'><br></td>
            </tr>
            <tr>
                <td colspan='10'>
                    <span style='margin-left:5px;'> Order:{$v.increment_id}</span>
                    <span style=' margin-left:5px;'>SKU:{$v.sku}</span>
                    <span style=' margin-left:5px;'>Num:<strong>{$v.serial}/{$v.total_qty_ordered}</strong></span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>SPH</td>
                <td>CYL</td>
                <td>AXI</td>
                <td>ADD</td>
                <td>PD</td>
                {if $v['prismcheck'] == 'on'}
                <td>Prism</td>
                <td>Direc</td>
                <td>Prism</td>
                <td>Direc</td>
                {else/}
                <td colspan='4' rowspan="3">
                    {$v.web_lens_name}
                </td>
                {/if}
            </tr>
            <tr>
                <td>R</td>
                <td>{$v.od_sph}</td>
                <td>{$v.od_cyl}</td>
                <td>{$v.od_axis}</td>
                {if $v['total_add']}
                <td rowspan="2">{$v.total_add}</td>
                {else/}
                <td>{$v.od_add}</td>
                {/if}
                {if $v['pdcheck'] == 'on'}
                <td>{$v.pd_r}</td>
                {else/}
                <td rowspan="2">{$v.pd}</td>
                {/if}

                {if $v['prismcheck'] == 'on'}
                <td>{$v.od_pv}</td>
                <td>{$v.od_bd}</td>
                <td>{$v.od_pv_r}</td>
                <td>{$v.od_bd_r}</td>
                {/if}
            </tr>
            <tr>
                <td>L</td>
                <td>{$v.os_sph}</td>
                <td>{$v.os_cyl}</td>
                <td>{$v.os_axis}</td>
                {if !$v['total_add']}
                <td>{$v.os_add}</td>
                {/if}
                {if $v['pdcheck'] == 'on'}
                <td>{$v.pd_l}</td>
                {/if}

                {if $v['prismcheck'] == 'on'}
                <td>{$v.os_pv}</td>
                <td>{$v.os_bd}</td>
                <td>{$v.os_pv_r}</td>
                <td>{$v.os_bd_r}</td>
                {/if}
            </tr>
            <tr>
                <td colspan='10' style=' text-align:center'>
                    {if $v['prismcheck'] == 'on'}
                        {$v.web_lens_name}
                        <br>
                    {else}
                        {$v.prescription_type}
                        <br>
                    {/if}
                        {$v.lens_name}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{/foreach}
{/if}

