<!DOCTYPE html>
<html lang="{$config.language}">
    <head>
        {include file="common/meta" /}

        <style type="text/css">
            .maintain{
                background-color: #222D32;
                opacity: 0.8;
                font-size: 20px;
                font-weight: bold;
                color: #fff;
                height: 42px;
                line-height: 42px;
            }
        </style>
    </head>

    <body class="inside-header inside-aside {:defined('IS_DIALOG') && IS_DIALOG ? 'is-dialog' : ''}">

        {if $site.authority_content}
        <div class="maintain">
            <marquee direction=left align=middle>{$site.authority_content}</marquee>
        </div>
        {/if}

        <div id="main" role="main">
            <div class="tab-content tab-addtabs">
                <div id="content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="content-header hide">
                                <h1>
                                    {:__('Dashboard')}
                                    <small>{:__('Control panel')}</small>
                                </h1>
                            </section>
                            {if !IS_DIALOG && !$config.fastadmin.multiplenav}
                            <!-- RIBBON -->
                            <div id="ribbon">
                                <ol class="breadcrumb pull-left">
                                    <li><a href="dashboard" class="addtabsit"><i class="fa fa-dashboard"></i> {:__('Dashboard')}</a></li>
                                </ol>
                                <ol class="breadcrumb pull-right">
                                    {foreach $breadcrumb as $vo}
                                    <li><a href="javascript:;" data-url="{$vo.url}">{$vo.title}</a></li>
                                    {/foreach}
                                </ol>
                            </div>
                            <!-- END RIBBON -->
                            {/if}
                            <div class="content">
                                {__CONTENT__}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {include file="common/script" /}
    </body>
</html>