/nbproject/
/runtime/*
/public/uploads/*
/public/pdftmp/*
/application/extra/upload.php
/application/extra/url.php
.idea
composer.lock
*.log
*.css.map
!.gitkeep
.env
.svn
.vscode
tryon/*
nginx.htaccess
public/nginx.htaccess