<style>
    .caigou {
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        padding: 10px;
        width: 70%;
        margin-left: 10%;
        margin-bottom: 10px;
    }

    .caigou #caigou-table {
        width: 100%;
        height: 130px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        text-align: center;
    }

    .caigou #caigou-table tr {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        line-height: 50px;
    }

    .caigou #caigou-table tr th {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        text-align: center;
        font-size: 14px;
    }

    .caigou #caigou-table tr td {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
    }

    .caigou #caigou-table tr td input {

        width: 100px;
    }
</style>

<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class='caigou'>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">退销单号:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-return_number" class="form-control" name="row[return_number]" value="{$return_number}"
                    readonly type="text">
            </div>
        </div>


        <div class="form-group purchase_id_number">
            <label class="control-label col-xs-12 col-sm-2">采购单:</label>
            <div class="col-xs-12 col-sm-8">
                <select name="row[purchase_id]" class="form-control purchase_id selectpicker" data-rule="required" data-live-search='true'>
                    <option value="">请选择</option>
                    {foreach $purchase_data as $k => $v}
                    <option value="{$k}" {:$id==$k ? 'selected' : '' }>{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">供应商:</label>
            <div class="col-xs-12 col-sm-8">
                <select name="row[supplier_id]" class="form-control supplier" required>
                    <option value="">请选择</option>
                    {foreach $supplier as $k => $v}
                    <option value="{$k}">{$v}</option>
                    {/foreach}
                </select>

            </div>
        </div>


    </div>
    <style>
        .plupload-preview li {
            width: 80px;
        }
    </style>

    <hr>
    <div class='caigou' style="margin-left:40px;width:90%;">
        <p style="font-size: 16px;text-align: center;"><b>产品信息</b></p>
        <div style="margin-bottom:20px;">

            <table id="caigou-table">
                <tr>
                    <th>SKU</th>
                    <th>采购单价</th>
                    <th>供应商SKU</th>
                    <th>采购数量</th>
                    <th>到货数量</th>
                    <!-- <th>未到数量</th> -->
                    <th>合格数量</th>
                    <th>不合格数量</th>
                    <th>合格率</th>
                    <!-- <th>已退数量</th> -->
                    <th>退销数量</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <td>
                        <input id="c-purchase_remark" class="form-control sku" name="sku[]" type="text">
                    </td>
                    <td><input id="c-purchase_remark" class="form-control purchase_price" disabled type="text"></td>
                    <td><input id="c-purchase_remark" class="form-control supplier_sku" disabled type="text"></td>
                    <td><input id="c-purchase_remark" class="form-control purchase_num" disabled type="text"></td>
                    <td><input id="c-purchase_remark" class="form-control arrivals_num" disabled type="text">
                    </td>
                    <!-- <td><input id="c-purchase_remark" class="form-control arrivals_num" disabled type="text"></td> -->
                    <td><input id="c-purchase_remark" class="form-control quantity_num" disabled type="text"></td>
                    <td><input id="c-purchase_remark" class="form-control unqualified_num" disabled type="text">
                    </td>
                    <td><input id="c-purchase_remark" class="form-control quantity_rate" disabled type="text">%</td>
                   
                    <td>
                        <input id="c-contract_images" class="form-control return_num" readonly size="200" name="return_num[]"
                            type="text">

                    </td>

                    <td>

                        <a href="javascript:;" class="btn btn-danger btn-del" title="删除"><i class="fa fa-trash"></i>
                            删除</a>
                    </td>

                </tr>

            </table>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">退销类型:</label>
            <div class="col-xs-12 col-sm-8">
                <select name="row[return_type]" class="form-control" data-rule="required">
                    <option value="">请选择</option>
                    <option value="1">仅退款</option>
                    <option value="2">退货退款</option>
                    <option value="3">调换货</option>

                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">退销金额:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-total" class="form-control return_money" step="0.01" readonly name="row[return_money]" type="number"
                    placeholder="单位：元">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">采购总金额:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-num" class="form-control purchase_total" readonly name="row[purchase_total]" type="number" value=""
                    placeholder="单位：元">
            </div>
        </div>

    </div>

    <hr>
    <div class='caigou'>
        <p style="font-size: 16px;text-align: center;"><b>供应商收货地址</b></p>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">联系人:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-supplier_linkname" class="form-control" name="row[supplier_linkname]" value="" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">联系电话:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-supplier_linkphone" class="form-control" name="row[supplier_linkphone]" value=""
                    type="text">
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">收货地址:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-supplier_address" class="form-control" name="row[supplier_address]" value="" type="text">
            </div>
        </div>

    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>

</form>