<style>
    .content {
        max-width: 100%;
    }
</style>

<style type="text/css">
    table.altrowstable {
        margin: 0 auto;
        width: 100%;
        font-family: verdana, arial, sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #247692;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    table.altrowstable th {
        border-width: 1px;
        padding: 8px;
        font-size: 14px;
        border-style: solid;
        border-color: #d2d6de;
    }

    table.altrowstable td {
        border-width: 1px;
        padding: 8px;
        text-align: center;
        font-size: 12px;
        border-style: solid;
        border-color: #ddd;
    }

    table.altrowstable tr:nth-child(odd) {
        background: #E9F1F4;
        background: #F5F5F5;
    }

    table.altrowstable tr:nth-child(even) {
        background: #fff;
        background: #eee;
    }

    .btn-div {
        font-size: 14px;
        line-height: 50px;
        background: inherit;
        background-color: rgba(255, 255, 255, 1);
        border: none;
        border-radius: 4px;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.349019607843137);
        border-width: 0px;
        font-family: 'Arial Negreta', 'Arial';
        font-weight: 700;
        font-style: normal;
        margin-right: 20px;
        width: 200px;
    }
</style>
<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <form id="form1" class="form-commonsearch form-horizontal" action="{:url('warehouse_data')}"
                        role="form1" method="post">
                        <div style="border-radius:2px;margin-bottom:10px;background:#f5f5f5;padding:20px;">
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4"><label for="create_time"
                                        class="control-label col-xs-4">创建时间</label>
                                    <div class="col-xs-8"><input type="hidden" class="form-control operate"
                                            name="create_time-operate" data-name="create_time" value="RANGE"
                                            readonly=""><input type="text" autocomplete="off"
                                            class="form-control datetimerange" name="create_time" 
                                            placeholder="创建时间" id="create_time" value="{$created_at}" data-index="14"></div>
                                </div>
                                <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="col-sm-8 col-xs-offset-4"><input type="submit" class="btn btn-success"
                                           value="提交"><button type="reset"
                                            class="btn btn-default">重置</button> </div>
                                </div>

                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-3">

                            </div>
                        </div>
                    </form>
                    <div style="width: 100%;float: left;">

                        <div class="row item_info" style="background:#f5f5f5;float: left;">
                            <div class="col-lg-12">
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <div>
                                    <table id="caigou-table" class="handle_table1" style="width: 1000px;">
                                        <tr>
                                            <td colspan="8" style="font-size: 16px;font-weight:1000">仓库数据</td>
                                        </tr>
                                        <tr>
                                            <td>未发货订单（单）</td>
                                            <td>{:$zeeloolUnorderNum+$vooguemeUnorderNum+$nihaoUnorderNum}</td>
                                            <td>Z站</td>
                                            <td>{$zeeloolUnorderNum}</td>
                                            <td>V站</td>
                                            <td>{$vooguemeUnorderNum}</td>
                                            <td>N站</td>
                                            <td>{$nihaoUnorderNum}</td>
                                        </tr>
                                        <tr>
                                            <td>未发货订单（副）</td>
                                            <td>{:$zeeloolNum+$vooguemeNum+$nihaoNum}</td>
                                            <td>Z站</td>
                                            <td>{$zeeloolNum}</td>
                                            <td>V站</td>
                                            <td>{$vooguemeNum}</td>
                                            <td>N站</td>
                                            <td>{$nihaoNum}</td>
                                        </tr>
                                        <tr>
                                            <td>处方镜（副）</td>
                                            <td>{:$zeeloolOrderPrescriptionNum+$vooguemeOrderPrescriptionNum+$nihaoOrderPrescriptionNum}</td>
                                            <td>Z站</td>
                                            <td>{$zeeloolOrderPrescriptionNum}</td>
                                            <td>V站</td>
                                            <td>{$vooguemeOrderPrescriptionNum}</td>
                                            <td>N站</td>
                                            <td>{$nihaoOrderPrescriptionNum}</td>
                                        </tr>
                                        <tr>
                                            <td>现货处方镜（副）</td>
                                            <td>{:$zeeloolSpotOrderPrescriptionNum+$vooguemeSpotOrderPrescriptionNum+$nihaoSpotOrderPrescriptionNum}</td>
                                            <td>Z站</td>
                                            <td>{$zeeloolSpotOrderPrescriptionNum}</td>
                                            <td>V站</td>
                                            <td>{$vooguemeSpotOrderPrescriptionNum}</td>
                                            <td>N站</td>
                                            <td>{$nihaoSpotOrderPrescriptionNum}</td>
                                        </tr>
                                        <tr>
                                            <td>定制处方镜（副）</td>
                                            <td>{:$zeeloolCustomOrderPrescriptionNum+$vooguemeCustomOrderPrescriptionNum+$nihaoCustomOrderPrescriptionNum}</td>
                                            <td>Z站</td>
                                            <td>{$zeeloolCustomOrderPrescriptionNum}</td>
                                            <td>V站</td>
                                            <td>{$vooguemeCustomOrderPrescriptionNum}</td>
                                            <td>N站</td>
                                            <td>{$nihaoCustomOrderPrescriptionNum}</td>
                                        </tr>
                                        <tr>
                                            <td>仅镜架（单）</td>
                                            <td>{:$zeeloolFrameOrderNum+$vooguemeFrameOrderNum+$nihaoFrameOrderNum}</td>
                                            <td>Z站</td>
                                            <td>{$zeeloolFrameOrderNum}</td>
                                            <td>V站</td>
                                            <td>{$vooguemeFrameOrderNum}</td>
                                            <td>N站</td>
                                            <td>{$nihaoFrameOrderNum}</td>
                                        </tr>

                                    </table>
                                </div>
                            </div>

                        </div>

                        <div class="row item_info" style="background:#f5f5f5;float: left;">
                            <div class="col-lg-12">
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <div>
                                    <table id="caigou-table" class="handle_table1" style="width: 1000px;">
                                        <tr>
                                            <td colspan="8" style="font-size: 16px;font-weight:1000">运营数据</td>
                                        </tr>
                                        <tr>
                                            <td>未发货订单（单）</td>
                                            <td>{:$zeeloolUnorderNum+$vooguemeUnorderNum+$nihaoUnorderNum}</td>
                                            <td>Z站</td>
                                            <td>{$zeeloolUnorderNum}</td>
                                            <td>V站</td>
                                            <td>{$vooguemeUnorderNum}</td>
                                            <td>N站</td>
                                            <td>{$nihaoUnorderNum}</td>
                                        </tr>
                                        <tr>
                                            <td>未发货订单（副）</td>
                                            <td>{:$zeeloolNum+$vooguemeNum+$nihaoNum}</td>
                                            <td>Z站</td>
                                            <td>{$zeeloolNum}</td>
                                            <td>V站</td>
                                            <td>{$vooguemeNum}</td>
                                            <td>N站</td>
                                            <td>{$nihaoNum}</td>
                                       

                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>




                </div>

            </div>
        </div>
    </div>
</div>