<style>
    .content {
        max-width: 100%;
    }
</style>

<style type="text/css">
    table.altrowstable {
        margin: 0 auto;
        width: 45%;
        font-family: verdana, arial, sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #247692;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    table.altrowstable th {
        border-width: 1px;
        padding: 8px;
        font-size: 14px;
        border-style: solid;
        border-color: #d2d6de;
    }

    table.altrowstable td {
        border-width: 1px;
        padding: 8px;
        text-align: center;
        font-size: 12px;
        border-style: solid;
        border-color: #ddd;
    }

    table.altrowstable tr:nth-child(odd) {
        background: #E9F1F4;
        background: #F5F5F5;
    }

    table.altrowstable tr:nth-child(even) {
        background: #fff;
        background: #eee;
    }

    .btn-div {
        font-size: 14px;
        line-height: 50px;
        background: inherit;
        background-color: rgba(255, 255, 255, 1);
        border: none;
        border-radius: 4px;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.349019607843137);
        border-width: 0px;
        font-family: 'Arial Negreta', 'Arial';
        font-weight: 700;
        font-style: normal;
        margin-right: 20px;
        width: 200px;
    }

    
    /* #caigou-table {
        border-width: 0px;
    }
    #caigou-table th{
        border-width: 0px;
    }
    #caigou-table td{
        border-width: 0px;
    } */
</style>
<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">

                    <div style="border-radius:2px;margin-bottom:10px;background:#f5f5f5;padding:20px;">
                        <div class="row">
                            <div id="toolbar4" class="">

                                <div class="btn btn-div" style="width: 300px;">

                                    <span class="extend">
                                        仓库总库存（个）：<span style="color: red;"
                                            id="totalPayInfo">{$allStock+$sampleNumStock}</span>

                                    </span>
                                </div>

                                <div class="btn btn-div" style="width: 300px;">

                                    <span class="extend">
                                        仓库库存总金额（<i class="fa fa-cny"></i>）：<span style="color: red;"
                                            id="totalFramePrice">{$allStockPrice+$sampleNumStockPrice}</span>
                                    </span>
                                </div>

                                <div class="btn btn-div">
                                    <span class="extend">
                                        可用库存（个）：<span style="color: red;" id="totalLensPrice">{$available_stock}</span>
                                    </span>
                                </div>

                                <div class="btn btn-div">

                                    <span class="extend">
                                        在途库存（个）：<span style="color: red;" id="totalPostageMoney">{$onwayAllStock}</span>

                                    </span>
                                </div>

                                <div class="btn btn-div" style="width: 200px;">
                                    <span class="extend">
                                        库存周转天数：<span style="color: red;" id="totalRefundMoney">{$stock7days}</span>

                                    </span>
                                </div>

                            </div>

                        </div>

                    </div>


                    <div style="width: 100%;">

                        <div class="row item_info" style="background:#f5f5f5;float: left;width: 60%;">
                            <div class="col-lg-12">
                                <div id="echart" style="float: left;height:400px;width:50%;"></div>

                                <div style="float: left;">
                                    <table id="caigou-table" class="handle_table1"
                                        style="border-width:0px;width: 450px;margin-top: 80px;">
                                        <tr>
                                            <td>镜架库存</td>
                                            <td>{$frameStock}</td>
                                            <td>镜架库存总金额（￥）</td>
                                            <td>{$frameStockPrice}</td>
                                        </tr>
                                        <tr>
                                            <td>饰品库存</td>
                                            <td>{$ornamentsStock}</td>
                                            <td>饰品库存总金额（￥）</td>
                                            <td>{$ornamentsStockPrice}</td>
                                        </tr>
                                        <tr>
                                            <td>镜片库存</td>
                                            <td>{$lensStock}</td>
                                            <td>镜片库存总金额（￥）</td>
                                            <td>{$lensStockPrice}</td>
                                        </tr>
                                        <tr>
                                            <td>辅料库存</td>
                                            <td>0</td>
                                            <td>辅料库存总金额（￥）</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>在途库存</td>
                                            <td>{$onwayAllStock}</td>
                                            <td>在途库存总金额（￥）</td>
                                            <td>{$onwayAllStockPrice}</td>
                                        </tr>
                                        <tr>
                                            <td>留样库存</td>
                                            <td>{$sampleNumStock}</td>
                                            <td>留样库存总金额（￥）</td>
                                            <td>{$sampleNumStockPrice}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>

                        <div class="row item_info" style="background:#f5f5f5;float: left;width: 40%;margin-left: 25px;">
                            <div class="col-xs-6 col-md-4">
                                <div>
                                    <table id="caigou-table" class="handle_table1" style="width: 600px;height:400px;">
                                        <tr>
                                            <td colspan="5" style="font-size: 16px;font-weight:1000">加工时效</td>
                                        </tr>
                                        <tr>
                                            <td>类型</td>
                                            <td>未超时未处理</td>
                                            <td>超时未处理</td>
                                            <td>未超时已处理</td>
                                            <td>超时已处理</td>

                                        </tr>
                                        <tr>
                                            <td>打印标签（24h）</td>
                                            <td>{$processingAgingData.labelNotOvertime}</td>
                                            <td>{$processingAgingData.labelOvertime}</td>
                                            <td>{$processingAgingData.labelNotOvertimeProcess}</td>
                                            <td>{$processingAgingData.labelOvertimeProcess}</td>

                                        </tr>

                                        <tr>
                                            <td>配镜架（24h）</td>
                                            <td>{$processingAgingData.frameNotOvertime}</td>
                                            <td>{$processingAgingData.frameOvertime}</td>
                                            <td>{$processingAgingData.frameNotOvertimeProcess}</td>
                                            <td>{$processingAgingData.frameOvertimeProcess}</td>

                                        </tr>

                                        <tr>
                                            <td>配镜片</td>
                                            <td>{$processingAgingData.lensNotOvertime}</td>
                                            <td>{$processingAgingData.lensOvertime}</td>
                                            <td>{$processingAgingData.lensNotOvertimeProcess}</td>
                                            <td>{$processingAgingData.lensOvertimeProcess}</td>

                                        </tr>

                                        <tr>
                                            <td>加工（24h）</td>
                                            <td>{$processingAgingData.machiningNotOvertime}</td>
                                            <td>{$processingAgingData.machiningOvertime}</td>
                                            <td>{$processingAgingData.machiningNotOvertimeProcess}</td>
                                            <td>{$processingAgingData.machiningOvertimeProcess}</td>

                                        </tr>
                                        <tr>
                                            <td>成品质检（24h）</td>
                                            <td>{$processingAgingData.checkNotOvertime}</td>
                                            <td>{$processingAgingData.checkOvertime}</td>
                                            <td>{$processingAgingData.checkNotOvertimeProcess}</td>
                                            <td>{$processingAgingData.checkOvertimeProcess}</td>

                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>


                    <div style="width: 100%;">

                        <div class="row item_info" style="background:#f5f5f5;float: left;width: 100%;margin-top: 20px;">
                            <div class="col-lg-12">
                                <div id="echart2" style="float: left;height:400px;width:70%;margin-top: 20px;"></div>

                                <div style="float: left;">
                                    <table id="caigou-table" class="handle_table1"
                                        style="border-width:0px;width: 300px;margin-top: 80px;">
                                        <tr>
                                            <td>30天总单量</td>
                                            <td>{$days30Num}</td>

                                        </tr>
                                        <tr>
                                            <td>未出库订单</td>
                                            <td>{$allUnorderNum}</td>

                                        </tr>
                                        <tr>
                                            <td>超时订单</td>
                                            <td>{$overtimeOrder}</td>

                                        </tr>
                                        <tr>
                                            <td>处理订单</td>
                                            <td>{$days30OrderProcessNum}</td>

                                        </tr>

                                    </table>
                                </div>
                            </div>

                        </div>

                        <div class="row item_info"
                            style="background:#f5f5f5;float: left;width: 40%;margin-left: 25px;margin-top: 20px;">
                            <div class="col-xs-6 col-md-4">
                                <div>
                                    <table id="caigou-table" class="handle_table1" style="width: 600px;height:400px;">
                                        <tr>
                                            <td colspan="4" style="font-size: 16px;font-weight:1000">库存分级</td>
                                        </tr>
                                        <tr>
                                            <td>序号</td>
                                            <td>级别</td>
                                            <td>数量</td>
                                            <td>百分比</td>

                                        </tr>

                                        <tr>
                                            <td>1</td>
                                            <td>库存 < 0</td>
                                            <td>{$stockData[0]['a']}</td>
                                            <td>{:round($stockData[0]['a']/$skuNum*100,2)}</td>

                                        </tr>

                                        <tr>
                                            <td>2</td>
                                            <td>库存 = 0</td>
                                            <td>{$stockData[0]['b']}</td>
                                            <td>{:round($stockData[0]['b']/$skuNum*100,2)}</td>

                                        </tr>

                                        <tr>
                                            <td>3</td>
                                            <td>1 <= 库存 <=10</td>
                                            <td>{$stockData[0]['c']}</td>
                                            <td>{:round($stockData[0]['c']/$skuNum*100,2)}</td>

                                        </tr>

                                        <tr>
                                            <td>4</td>
                                            <td>11 <= 库存 <=30</td>
                                            <td>{$stockData[0]['d']}</td>
                                            <td>{:round($stockData[0]['d']/$skuNum*100,2)}</td>

                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>31 <= 库存 <=50</td>
                                            <td>{$stockData[0]['e']}</td>
                                            <td>{:round($stockData[0]['e']/$skuNum*100,2)}</td>

                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>51 <= 库存 <=70</td>
                                            <td>{$stockData[0]['f']}</td>
                                            <td>{:round($stockData[0]['f']/$skuNum*100,2)}</td>

                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>71 <= 库存 <=100</td>
                                            <td>{$stockData[0]['g']}</td>
                                            <td>{:round($stockData[0]['g']/$skuNum*100,2)}</td>

                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>101 <= 库存</td>
                                            <td>{$stockData[0]['h']}</td>
                                            <td>{:round($stockData[0]['h']/$skuNum*100,2)}</td>

                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>


                        <div class="row item_info"
                            style="background:#f5f5f5;float: left;margin-left: 100px;margin-top: 20px;">
                            <div class="col-lg-12">
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <div>
                                    <table id="caigou-table" class="handle_table1" style="width: 650px;">
                                        <tr>
                                            <td colspan="6" style="font-size: 16px;font-weight:1000">SKU信息</td>
                                        </tr>
                                        <tr>
                                            <td>产品分级</td>
                                            <td>销量</td>
                                            <td>销量占比</td>
                                            <td>库存</td>
                                            <td>库存占比</td>
                                            <td>库存金额（￥）</td>
                                        </tr>
                                        <tr>
                                            <td>A+</td>
                                            <td>{$res.AA_num}</td>
                                            <td>{$res.AA_percent}</td>
                                            <td>{$gradeSkuStock.aa_stock_num}</td>
                                            <td>{:round($gradeSkuStock['aa_stock_num']/$allStock*100,2)}</td>
                                            <td>{$gradeSkuStock.aa_stock_price}</td>
                                        </tr>
                                        <tr>
                                            <td>A</td>
                                            <td>{$res.A_num}</td>
                                            <td>{$res.A_percent}</td>
                                            <td>{$gradeSkuStock.a_stock_num}</td>
                                            <td>{:round($gradeSkuStock['a_stock_num']/$allStock*100,2)}</td>
                                            <td>{$gradeSkuStock.a_stock_price}</td>
                                        </tr>
                                        <tr>
                                            <td>B</td>
                                            <td>{$res.B_num}</td>
                                            <td>{$res.B_percent}</td>
                                            <td>{$gradeSkuStock.b_stock_num}</td>
                                            <td>{:round($gradeSkuStock['b_stock_num']/$allStock*100,2)}</td>
                                            <td>{$gradeSkuStock.b_stock_price}</td>
                                        </tr>
                                        <tr>
                                            <td>C+</td>
                                            <td>{$res.CA_num}</td>
                                            <td>{$res.CA_percent}</td>
                                            <td>{$gradeSkuStock.ca_stock_num}</td>
                                            <td>{:round($gradeSkuStock['ca_stock_num']/$allStock*100,2)}</td>
                                            <td>{$gradeSkuStock.ca_stock_price}</td>
                                        </tr>
                                        <tr>
                                            <td>C</td>
                                            <td>{$res.C_num}</td>
                                            <td>{$res.C_percent}</td>
                                            <td>{$gradeSkuStock.c_stock_num}</td>
                                            <td>{:round($gradeSkuStock['c_stock_num']/$allStock*100,2)}</td>
                                            <td>{$gradeSkuStock.c_stock_price}</td>
                                        </tr>
                                        <tr>
                                            <td>D</td>
                                            <td>{$res.D_num}</td>
                                            <td>{$res.D_percent}</td>
                                            <td>{$gradeSkuStock.d_stock_num}</td>
                                            <td>{:round($gradeSkuStock['d_stock_num']/$allStock*100,2)}</td>
                                            <td>{$gradeSkuStock.d_stock_price}</td>
                                        </tr>
                                        <tr>
                                            <td>E</td>
                                            <td>{$res.E_num}</td>
                                            <td>{$res.E_percent}</td>
                                            <td>{$gradeSkuStock.e_stock_num}</td>
                                            <td>{:round($gradeSkuStock['e_stock_num']/$allStock*100,2)}</td>
                                            <td>{$gradeSkuStock.e_stock_price}</td>
                                        </tr>
                                        <tr>
                                            <td>F</td>
                                            <td>{$res.F_num}</td>
                                            <td>{$res.F_percent}</td>
                                            <td>{$gradeSkuStock.f_stock_num}</td>
                                            <td>{:round($gradeSkuStock['f_stock_num']/$allStock*100,2)}</td>
                                            <td>{$gradeSkuStock.f_stock_price}</td>
                                        </tr>

                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="row item_info"
                            style="background:#f5f5f5;width:95%;float: left;margin-top: 30px;margin-left: 20px;">
                            <div class="widget-body no-padding">
                                <!-- <div id="toolbar" class="toolbar">
                                    <a href="javascript:;" class="btn btn-primary btn-refresh"
                                        title="{:__('Refresh')}"><i class="fa fa-refresh"></i> </a>
                                </div> -->

                                <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                                    width="100%">
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>