<div class="panel-heading">
    {:build_heading()}
    <ul class="nav nav-tabs" >
        <li class="active"><a href="#t-all" data-value="" data-field="" data-toggle="tab">基本信息</a></li>
        <li><a href="{:url('images')}?ids={$row.id}">照片信息</a></li>
    </ul>
</div>
<style>
    .caigou {
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        padding: 10px;
        width: 73%;
        margin-left: 10%;
        margin-bottom: 10px;
    }

    .caigou #caigou-table {
        width: 100%;
        height: 130px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        text-align: center;
    }

    .caigou #caigou-table tr {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        line-height: 50px;
    }

    .caigou #caigou-table tr th {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        text-align: center;
        font-size: 14px;
    }

    .caigou #caigou-table tr td {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
    }

    .caigou #caigou-table tr td input {
        width: 250px;
    }
</style>
{present name="template"}
{if $template eq 1}
<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group" id="item-stock">
        <label class="control-label col-xs-12 col-sm-2">{:__('Category_id')}:</label>
        <div class="col-xs-12 col-sm-3">
            {:Form::select('row[category_id]', $categoryList, $row.category_id, ['class'=>'form-control selectpicker', 'data-rule'=>'required','data-live-search' => true,'disabled'=>'disabled'])}
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('ID')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-id" data-rule="required" class="form-control"  name="row[origin_sku]" type="text" value="{$row.sku}" disabled='disabled'>
        </div>
    </div>
    <div class='caigou ajax-add'>
        <p style="font-size: 16px;text-align: center;"><b>产品信息</b></p>
        <div style="margin-bottom:20px;">
            <div id="toolbar" class="toolbar">
                <a href="javascript:;" class="btn btn-success btn-add" title="增加"><i class="fa fa-plus"></i> 增加</a>
            </div>
            <table id="caigou-table">
                <tr>
                    <th>商品名称</th>
                    <th>商品颜色</th>
                    <th>单价</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <td><input id="c-name" data-rule="required"  class="form-control" name="row[name][]" type="text" value="{$row.name}"></td>
                    <td>
                        <div class="col-xs-12 col-sm-12">
                            <select  id="c-color" data-rule="required" class="form-control " name="row[color][]">
                                {foreach name="AllFrameColor" item="vo"}
                                <option value="{$key}"{eq name="$row['itemAttribute']['frame_color']" value="$key"}selected{/eq}>{$vo}</option>
                                {/foreach}
                            </select>
                        </div>
                    </td>
                    <td><input  data-rule="required"  class="form-control c-price" name="row[price][]" type="text" value="{$row.price}"></td>
                    <td><a href="javascript:;" class="btn btn-danger btn-del" title="删除"><i class="fa fa-trash"></i>
                        删除</a></td>
                </tr>

            </table>
        </div>
    </div>
    <div class="form-group ajax-add">
        <label class="control-label col-xs-12 col-sm-2">{:__('Procurement_type')}:</label>
        <div class="col-xs-12 col-sm-3">
            <select  id="c-procurement_type" data-rule="required" class="form-control selectpicker" name="row[procurement_type]">
                <option value="0">请选择</option>
                <option value="1"{eq name="$row['itemAttribute']['procurement_type']" value="1"}selected{/eq}>线上采购</option>
                <option value="2"{eq name="$row['itemAttribute']['procurement_type']" value="2"}selected{/eq}>线下采购</option>
            </select>
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('Procurement_origin')}:</label>
        <div class="col-xs-12 col-sm-3">
            <select  id="c-procurement_origin" data-rule="required" class="form-control selectpicker" name="row[procurement_origin]">
                {foreach name="AllOrigin" item="vo"}
                <option value="{$key}"{eq name="$row['itemAttribute']['procurement_origin']" value="$key"}selected{/eq}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group ajax-add">
        <label class="control-label col-xs-12 col-sm-2">{:__('Frame_bridge')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-frame_bridge" data-rule="required" class="form-control" name="row[frame_bridge]" type="number" value="{$row['itemAttribute']['frame_bridge']}">
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('Mirror_width')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-mirror_width" data-rule="required" class="form-control" name="row[mirror_width]" type="number" value="{$row['itemAttribute']['mirror_width']}">
        </div>
    </div>
    <div class="form-group ajax-add">
        <label class="control-label col-xs-12 col-sm-2">{:__('Frame_height')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-attribute-type" type="hidden" name="row[attribute_type]" value="1"/>
            <input id="c-frame_height" data-rule="required" class="form-control" name="row[frame_height]" type="number" value="{$row['itemAttribute']['frame_height']}">
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('Frame_width')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-frame_width" data-rule="required" class="form-control" step="0.01" name="row[frame_width]" type="number" value="{$row['itemAttribute']['frame_width']}">
        </div>
    </div>
    <div class="form-group ajax-add">
        <label class="control-label col-xs-12 col-sm-2">{:__('Frame_length')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-frame_length" data-rule="required" class="form-control" name="row[frame_length]" type="number" value="{$row['itemAttribute']['frame_length']}">
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('Frame_temple_length')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-frame_temple_length" data-rule="required" class="form-control" step="0.01" name="row[frame_temple_length]" type="number" value="{$row['itemAttribute']['frame_temple_length']}">
        </div>
    </div>
    <div class="form-group ajax-add">
        <label class="control-label col-xs-12 col-sm-2">{:__('Weight')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-weight" data-rule="required" class="form-control" name="row[weight]" type="number" value="{$row['itemAttribute']['frame_weight']}">
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('Glasses_type')}:</label>
        <div class="col-xs-12 col-sm-3">
            <select  id="c-glasses_type" data-rule="required" class="form-control selectpicker" name="row[glasses_type]">
                {foreach name="AllGlassesType" item="vo"}
                <option value="{$key}"{eq name="$row['itemAttribute']['glasses_type']" value="$key"}selected{/eq}>{$vo}</option>
                {/foreach}
            </select>
            <!--{:Form::selects('row[glasses_type][]', $AllGlassesType, $row['itemAttribute']['glasses_type'], ['class'=>'form-control selectpicker', 'data-rule'=>'required','data-live-search' => true])}-->
        </div>
    </div>
    <div class="form-group ajax-add">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shape')}:</label>
        <div class="col-xs-12 col-sm-3">
            <select  id="c-shape" data-rule="required" class="form-control selectpicker" name="row[shape]">
                {foreach name="AllShape" item="vo"}
                <option value="{$key}"{eq name="$row['itemAttribute']['shape']" value="$key"}selected{/eq}>{$vo}</option>
                {/foreach}
            </select>
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('Frame_texture')}:</label>
        <div class="col-xs-12 col-sm-3">
            <select  id="c-frame_texture" data-rule="required" class="form-control selectpicker" name="row[frame_texture]">
                {foreach name="AllTexture" item="vo"}
                <option value="{$key}" {eq name="$row['itemAttribute']['frame_texture']" value="$key"}selected{/eq}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group ajax-add">
        <label class="control-label col-xs-12 col-sm-2">{:__('Frame_shape')}:</label>
        <div class="col-xs-12 col-sm-3">
            <select  id="c-frame_shape" data-rule="required" class="form-control selectpicker" name="row[frame_shape]">
                {foreach name="AllFrameShape" item="vo"}
                <option value="{$key}"{eq name="$row['itemAttribute']['frame_shape']" value="$key"}selected{/eq}>{$vo}</option>
                {/foreach}
            </select>
            <!--{:Form::selects('row[frame_shape][]', $AllFrameShape, $row['itemAttribute']['frame_shape'], ['class'=>'form-control selectpicker', 'data-rule'=>'required','data-live-search' => true])}-->
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('Frame_gender')}:</label>
        <div class="col-xs-12 col-sm-3">
            <select  id="c-frame_gender" data-rule="required" class="form-control selectpicker" name="row[frame_gender]">
                {foreach name="AllFrameGender" item="vo"}
                <option value="{$key}"{eq name="$row['itemAttribute']['frame_gender']" value="$key"}selected{/eq}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group ajax-add">
        <label class="control-label col-xs-12 col-sm-2">{:__('Frame_size')}:</label>
        <div class="col-xs-12 col-sm-3">
            <select  id="c-frame_size" data-rule="required" class="form-control selectpicker" name="row[frame_size]">
                {foreach name="AllFrameSize" item="vo"}
                <option value="{$key}" {eq name="$row['itemAttribute']['frame_size']" value="$key"}selected{/eq}>{$vo}</option>
                {/foreach}
            </select>
            <!--{:Form::selects('row[frame_size][]', $AllFrameSize, $row['itemAttribute']['frame_size'], ['class'=>'form-control selectpicker', 'data-rule'=>'required','data-live-search' => true])}-->
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('Frame_type')}:</label>
        <div class="col-xs-12 col-sm-3">
            <select  id="c-Frame_type" data-rule="required" class="form-control selectpicker" name="row[frame_type]">
                {foreach name="AllFrameType" item="vo"}
                <option value="{$key}" {eq name="$row['itemAttribute']['frame_type']" value="$key"}selected{/eq}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group ajax-add">
        <label class="control-label col-xs-12 col-sm-2">{:__('Frame_piece')}:</label>
        <div class="col-xs-12 col-sm-3">
            <select  id="c-frame_piece" data-rule="required" class="form-control selectpicker" name="row[frame_piece]">
                <option value="1" {eq name="$row['itemAttribute']['frame_piece']" value="1"}selected{/eq}>是</option>
                <option value="2" {eq name="$row['itemAttribute']['frame_piece']" value="2"}selected{/eq}>否</option>
            </select>
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('Frame_is_advance')}:</label>
        <div class="col-xs-12 col-sm-3">
            <select  id="c-frame_is_advance" data-rule="required" class="form-control selectpicker" name="row[frame_is_advance]">
                <option value="1" {eq name="$row['itemAttribute']['frame_is_advance']" value="1"}selected{/eq}>是</option>
                <option value="2" {eq name="$row['itemAttribute']['frame_is_advance']" value="2"}selected{/eq}>否</option>
            </select>
        </div>
    </div>
    <div class="form-group ajax-add">
        <label class="control-label col-xs-12 col-sm-2">{:__('Frame_temple_is_spring')}:</label>
        <div class="col-xs-12 col-sm-3">
            <select  id="c-frame_temple_is_spring" data-rule="required" class="form-control selectpicker" name="row[frame_temple_is_spring]">
                <option value="1"{eq name="$row['itemAttribute']['frame_temple_is_spring']" value="1"}selected{/eq}>是</option>
                <option value="2"{eq name="$row['itemAttribute']['frame_temple_is_spring']" value="2"}selected{/eq}>否</option>
            </select>
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('Frame_is_adjust_nose_pad')}:</label>
        <div class="col-xs-12 col-sm-3">
            <select  id="c-frame_is_adjust_nose_pad" data-rule="required" class="form-control selectpicker" name="row[frame_is_adjust_nose_pad]">
                <option value="1"{eq name="$row['itemAttribute']['frame_is_adjust_nose_pad']" value="1"}selected{/eq}>是</option>
                <option value="2"{eq name="$row['itemAttribute']['frame_is_adjust_nose_pad']" value="2"}selected{/eq}>否</option>
            </select>
            <!--{:Form::selects('row[frame_is_adjust_nose_pad][]', $AllNosePad, $row['itemAttribute']['frame_is_adjust_nose_pad'], ['class'=>'form-control selectpicker', 'data-rule'=>'required','data-live-search' => true])}-->
        </div>
    </div>
    <div class="form-group ajax-add">
        <label class="control-label col-xs-12 col-sm-2">{:__('Frame_is_recipe')}:</label>
        <div class="col-xs-12 col-sm-3">
            <select  id="c-frame_is_recipe" data-rule="required" class="form-control selectpicker" name="row[frame_is_recipe]">
                <option value="1"{eq name="$row['itemAttribute']['frame_is_recipe']" value="1"}selected{/eq}>是</option>
                <option value="2"{eq name="$row['itemAttribute']['frame_is_recipe']" value="2"}selected{/eq}>否</option>
            </select>
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('Brand_id')}:</label>
        <div class="col-xs-12 col-sm-3">
            {:Form::select('row[brand_id]', $brandList, $row.brand_id, ['class'=>'form-control selectpicker', 'data-rule'=>'required','data-live-search' => true])}
        </div>
    </div>
    <div class="form-group ajax-add">
        <label class="control-label col-xs-12 col-sm-2">{:__('Frame_remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-problem_desc" class="form-control editor" rows="5" name="row[frame_remark]" cols="50">{$row['itemAttribute']['frame_remark']}</textarea>
        </div>
    </div>
    <input type='hidden' name="row[item_status]" id="status" value="1">
    <div class="form-group layer-footer" style="display:none;">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <!-- <button type="submit" class="btn btn-success btn-status btn-embossed disabled">{:__('Submit_audit')}</button> -->
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
    {elseif $template eq 2 /}
    {elseif $template egt 3 /}
    <form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
        <div class="form-group" id="item-stock">
            <input id = "item_type" type="hidden" name="row[item_type]" value="3"/>
            <label class="control-label col-xs-12 col-sm-2">{:__('Category_id')}:</label>
            <div class="col-xs-12 col-sm-3">
                {:Form::select('row[category_id]', $categoryList, $row.category_id, ['class'=>'form-control selectpicker', 'data-rule'=>'required','data-live-search' => true,'disabled'=>'disabled'])}
            </div>
            <label class="control-label col-xs-12 col-sm-2">{:__('ID')}:</label>
            <div class="col-xs-12 col-sm-3">
                <input id="c-id" data-rule="required" class="form-control"  name="row[origin_sku]" type="text" value="{$row.sku}" disabled='disabled'>
            </div>
        </div>
        <div class='caigou ajax-add'>
            <p style="font-size: 16px;text-align: center;"><b>产品信息</b></p>
            <div style="margin-bottom:20px;">
                <div id="toolbar" class="toolbar">
                    <a href="javascript:;" class="btn btn-success btn-add" title="增加"><i class="fa fa-plus"></i> 增加</a>
                </div>
                <table id="caigou-table">
                    <tr>
                        <th>商品名称</th>
                        <th>商品颜色</th>
                        <th>单价</th>
                        <th>操作</th>
                    </tr>
                    <tr>
                        <td><input id="c-name" data-rule="required"  class="form-control" name="row[name][]" type="text" value="{$row.name}"></td>
                        <td>
                            <div class="col-xs-12 col-sm-12">
                                <select  id="c-color" data-rule="required" class="form-control " name="row[color][]">
                                    {foreach name="AllFrameColor" item="vo"}
                                    <option value="{$vo}"{eq name="$row['itemAttribute']['accessory_color']" value="$vo"}selected{/eq}>{$vo}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </td>
                        <td><input  data-rule="required"  class="form-control c-price" name="row[price][]" type="text" value="{$row.price}"></td>
                        <td><a href="javascript:;" class="btn btn-danger btn-del" title="删除"><i class="fa fa-trash"></i>
                            删除</a></td>
                    </tr>
    
                </table>
            </div>
        </div>
        <div class="form-group ajax-add">
            <label class="control-label col-xs-12 col-sm-2">{:__('Frame_texture')}:</label>
            <div class="col-xs-12 col-sm-3">
                <select  id="c-frame_texture" data-rule="required" class="form-control selectpicker" name="row[frame_texture]">
                    {foreach name="AllTexture" item="vo"}
                    <option value="{$vo}" {eq name="$row['itemAttribute']['accessory_texture']" value="$vo"}selected{/eq}>{$vo}</option>
                    {/foreach}
                </select>
            </div>
            <label class="control-label col-xs-12 col-sm-2">{:__('Brand_id')}:</label>
            <div class="col-xs-12 col-sm-3">
                {:Form::select('row[brand_id]', $brandList, $row.brand_id, ['class'=>'form-control selectpicker', 'data-rule'=>'required','data-live-search' => true])}
            </div>
        </div>
        <div class="form-group ajax-add">
            <label class="control-label col-xs-12 col-sm-2">{:__('Frame_remark')}:</label>
            <div class="col-xs-12 col-sm-8">
                <textarea id="c-problem_desc" class="form-control editor" rows="5" name="row[frame_remark]" cols="50">{$row['itemAttribute']['frame_remark']}</textarea>
            </div>
        </div>
        <input type='hidden' name="row[item_status]" id="status" value="1">
        <div class="form-group layer-footer" style="display:none;">
            <label class="control-label col-xs-12 col-sm-2"></label>
            <div class="col-xs-12 col-sm-8">
                <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
                <!-- <button type="submit" class="btn btn-success btn-status btn-embossed disabled">{:__('Submit_audit')}</button> -->
                <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
            </div>
        </div>   
    {/if}
{/present}
</form>


