<div class="form-group ajax-add">
    <label class="control-label col-xs-12 col-sm-2">{:__('Frame_height')}:</label>
    <div class="col-xs-12 col-sm-3">
        <input id="c-frame_height" data-rule="required" class="form-control" name="row[frame_height]" type="number" value="0">
    </div>
    <label class="control-label col-xs-12 col-sm-2">{:__('Frame_width')}:</label>
    <div class="col-xs-12 col-sm-3">
        <input id="c-frame_width" data-rule="required" class="form-control" step="0.01" name="row[frame_width]" type="number" value="0.00">
    </div>
</div>