<style>
    .list-div {
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        padding: 10px;
        width: 100%;
        height: 240px;
        margin-bottom: 20px;
    }

    .list-div-two {
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        padding: 10px;
        width: 100%;
        margin-bottom: 20px;
    }

    .caigou {
        width: 100%;
        margin-bottom: 10px;
        float: left;
    }

    .caigou .form-group{
        width: 50%;
        float: left;
    }

    #caigou-table {
        width: 100%;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        text-align: center;
    }

    #caigou-table tr {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        line-height: 50px;
    }

    #caigou-table tr th {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        text-align: center;
        font-size: 14px;
        line-height: 50px;
    }

    #caigou-table tr td {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
    }

    #caigou-table tr td input {

        width: 150px;
    }

    .nav-tabs>li {
        float: left;
        margin-bottom: -1px;
    }

    .nav>li {
        position: relative;
        display: block;
    }

    .nav-tabs>li>a {
        margin-right: 4px;
        color: #95a5a6;
        background-color: #d8e0e6;
        border: 1px solid #e8edf0;
        border-bottom-color: transparent;
    }

    .panel-heading {
        padding: 15px;
        padding-bottom: 0;
        background: #e8edf0;
        border-color: #e8edf0;
        position: relative;
    }

    .panel-heading .nav-tabs>li>a {
        margin-right: 4px;
        color: #95a5a6;
        border: 1px solid #e8edf0;
        border-bottom-color: transparent;
    }

    .caigou-table-lens tbody tr td input {
        text-align: center;
    }
</style>


<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div style="width: 100%;" class="list-div">
        <div class='caigou'>
            <p style="font-size: 16px;text-align: center;"><b>库存详情</b></p>

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">SKU:</label>
                <div class="col-xs-12 col-sm-8">
                    <input id="c-purchase_number" class="form-control" name=""
                        value="{$row.sku}" type="text" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">商品名称:</label>
                <div class="col-xs-12 col-sm-8">
                    <input id="c-purchase_name" class="form-control" name="row[purchase_name]" value="{$row.name}"
                        type="text" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">总库存:</label>
                <div class="col-xs-12 col-sm-8">
                    <input id="c-purchase_name" class="form-control" name="row[purchase_name]" value="{$row.stock}"
                        type="text" readonly>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">占用库存:</label>
                <div class="col-xs-12 col-sm-8">
                    <input id="c-purchase_name" class="form-control" name="row[purchase_name]" value="{$row.occupy_stock}"
                        type="text" readonly>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">可用库存:</label>
                <div class="col-xs-12 col-sm-8">
                    <input id="c-purchase_name" class="form-control" name="row[purchase_name]" value="{$row.available_stock}"
                        type="text" readonly>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">在途库存:</label>
                <div class="col-xs-12 col-sm-8">
                    <input id="c-purchase_name" class="form-control" name="row[purchase_name]" value="{$row.on_way_stock}" type="text" readonly>
                </div>
            </div>

        </div>

        

    </div>
    <div style="width: 100%;" class="list-div-two">

    <div style="width: 100%;">
        <p style="font-size: 16px;text-align: center;"><b>采购单剩余库存详情</b></p>
        <div style="margin-bottom: 20px;">

            <table id="caigou-table">
                <tr>
                    <th>序号</td>
                    <th>采购单号</td>
                    <th>采购数量</td>
                    <th>入库数量</td>
                    <th>剩余数量</td>
                   
                </tr>
                {foreach $list as $k => $v}
                <tr>
                    <td>{:$k+1}</td>
                    <td>{$v.purchase_number}</td>
                    <td>{$v.purchase_num}</td>
                    <td>{$v.instock_num}</td>
                    <td>{$v['instock_num'] - $v['outstock_num']}</td>
                </tr>
                {/foreach}

            </table>
        </div>
    </div>
    
</div>
<div style="width: 100%;" class="list-div-two">
    <div style="width: 100%;">
        <p style="font-size: 16px;text-align: center;"><b>在途库存</b></p>
        <div style="margin-bottom: 20px;">

            <table id="caigou-table">
                <tr>
                    <th>序号</th>
                    <th>采购单号</th>
                    <th>采购单状态</th>
                    <th>数量</th>
                    <th>创建时间</th>
                    <th>创建人</th>
                    <th>预计到货时间</th>
                    <th>实际到货时间</th>
                </tr>
                {foreach $info as $k => $v}
                <tr>
                    <td>{:$k+1}</td>
                    <td>{$v.purchase_number}</td>
                    <td>{:config('purchase_status')[$v['purchase_status']]}</td>
                    <td>{$v['purchase_num']}</td>
                    <td>{$v.createtime}</td>
                    <td>{$v.create_person}</td>
                    <td>{$v.arrival_time}</td>
                    <td>{$v.receiving_time}</td>
                </tr>
                {/foreach}

               


            </table>
        </div>
    </div>
    
</div>
</form>