<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Problem_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-problem_id" data-rule="required" data-source="saleaftermanage/work_order_problem_step/getQuestionType" class="form-control selectpage" name="row[problem_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Step_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-step_id" data-rule="required" data-source="step/index" class="form-control selectpage" name="row[step_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Extend_group_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-extend_group_id" data-rule="required" data-source="extend/group/index" class="form-control selectpage" name="row[extend_group_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_check')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-is_check" data-rule="required" class="form-control" name="row[is_check]" type="number" value="0">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
