<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Code_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-code_type" data-rule="required" class="form-control" name="row[code_type]" type="text" value="{$row.code_type|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Texture_value')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-texture_value" data-rule="required" class="form-control" name="row[texture_value]" type="text" value="{$row.texture_value|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Color_value')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-color_value" data-rule="required" class="form-control" name="row[color_value]" type="text" value="{$row.color_value|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
