<style>
    * {
        margin:0;
        padding:0;
    }
    ul li {
        list-style: none;
    }
    p {
        margin: 0;
    }
    .wrap {
        margin: 0 auto;
        background: white;
    }
    .big-choose {
        display: flex;
        align-items: center;
        line-height: 50px;

    }
    .big-choose div {
        margin-left: 6px;
    }
    .big-choose .choose {
        display: flex;
        align-items: center;
    }

    .big-choose .choose span {
        font-size: 18px;
        font-weight: bold;
        margin-right: 6px;
    }
    .big-choose .choose p {
        font-size: 12px;
    }
    .big-choose>.dropdown button {
        display: flex;
        justify-content: space-between;
        width: 117px;
        height: 33px;
        border: solid 1px #000;
        border-radius: 0;
    }
    .dropdown-menu li {
        padding-left: 10px;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
    }
    .dropdown-menu li:hover {
        background: rgb(0, 140, 255);
        color: white;
    }
    .header {
        *padding-bottom: 10px;
        border-bottom: solid 1px  rgb(228, 228, 228);
    }
    .header>li {
        height: 50px;
        background-color: rgba(243, 243, 243, 1);
        border: solid 1px rgb(228, 228, 228);
    }
    .header>li:nth-child(2) {
        display: flex;
        align-items: center;
        padding-left: 20px;
        height: 60px;
        background: white;
    }
    .header .times-left {
        display: flex;
        width: 46%;
        justify-content: space-between;
    }
    .header .times-left li {
        width: 67px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 4px;
        border: solid 1px rgba(26, 188, 156, 1);
        color: #1ABC9C;
        cursor: pointer;
    }
    .header .times-left .active {
        color: white;
        background: #1ABC9C;
    }
    .header .times-right {
        display: flex;
        align-items: center;
        margin-left: 40px;
    }
    .header .times-right li {
        margin-left: 10px;
    }
    .header>li:nth-child(3) {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
    .header .detail {
        display: flex;
        align-items: center;
    }
    .header .detail p {
        margin-left: 2px;
    }
    .header .opreation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 175px;
    }
    .header .opreation p {
        width: 80px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border: solid 1px rgba(204, 204, 204, 1);
        cursor: pointer;
    }

    /* 内容样式 */
    .choose-content {
        padding-left: 40px;
        padding-right: 10px;
    }
    .choose-content .nav-choose ul li>p {
        margin-right: 35px;
    }
    .choose-content .nav-choose ul li {
        display: flex;
        flex-wrap: wrap;
    }
    .choose-content .nav-choose>ul>li:nth-child(2) {
        margin: 20px 0 40px;
    }
    .choose-content .nav-choose ul li ul{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }
    .choose-content .nav-choose ul li input {
        margin: 0 4px 0 0;
    }
    .choose-content .nav-choose ul li ul li {
        display: flex;
        align-items: center;
        padding-left: 8px;
        width: 121px;
        height: 30px;
        border: solid 1px rgba(228, 228, 228, 1);
        margin-right: 20px;
        margin-bottom: 10px;
        cursor: pointer;

    }
    .choose-content .nav-choose ul li ul li span {
        pointer-events: none
    }
    .choose-content .nav-choose ul li ul li input {
        pointer-events: none
    }
    .choose-content table tr td,.choose-content table tr th {
        position: relative;
        text-align: center;
        cursor: pointer;
    }
    .choose-content table tr td,.choose-content table tr th span {
        pointer-events: none
    }
    .choose-content table thead tr th input {
        display: none;
        position: absolute;
        bottom: -24px;
        left: 0;
        width: 100%;
        z-index:10;

    }
    .choose-content table thead tr th input::placeholder {
        font-size: 12px;
    }
    .choose-content table thead tr th .active {
        display: inline-block;
    }
    /* table中的下拉框 */
    .choose-content table .dropdown button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 83px;
        height: 32px;
        border: solid 1px #000;
        padding: 0 4px;
        background: white;
        border-radius: 0;

    }
    .bottom-right>div input {
        width: 35px;
        height: 25px;
        border: solid 1px rgba(215, 215, 215, 1);
        margin: 0 6px;
        padding-left: 10px;
    }
    #form{
        display:flex;
    }
    #form >div{
        display: flex;
        align-items: center;
    }
    #form >div label{
        white-space: nowrap;
        margin-right: 10px;
    }
    #timetime{
        width: 120px;
    }
    #form >div select{
        min-width: 120px;
    }
</style>

<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="wrap">
        <ul class="header">
            <li class="big-choose">
                <div class="choose" style="width: 8%;">
                    <span class="glyphicon glyphicon-search"></span>
                    <p>筛选查询</p>
                </div>
                <div style="width: 58%;height: 100%;">
                    <form id="form" class="form-commonsearch form-horizontal" role="form" method="post">
                        <div>
                            <label style="text-align: right;">订单号:</label>
                            <input type="text" name="increment_id" id="increment_id" value="" style="width: 120px" class="form-control">
                        </div>
                        <div>
                            <label style="text-align: right;">平台:</label>
                            <select id="order_platform" class="form-control" name="order_platform">
                                {foreach name="magentoplatformarr" item="vo" key="key"}
                                <option value="{$vo.id}" {if condition="$key == 0"}selected="selected"{/if}>{$vo.name}</option>
                                {/foreach}
                            </select>
                        </div>
                        <div>
                            <label style="text-align: right;">订单类型:</label>
                            <select id="customer_type" class="form-control" name="customer_type">
                                <option value="0" selected>请选择</option>
                                <option value="1">普通订单</option>
                                <option value="2">网红订单</option>
                            </select>
                        </div>
                        <div>
                            <label style="text-align: right;">创建时间:</label>
                            <div id="createtime" role="form">
                                <input type="hidden" class="form-control operate" name="one_time-operate" data-name="create_time" value="RANGE" readonly="">
                                <input type="text" autocomplete="off" class="form-control datetimerange" name="time_str"  id="create_time" value="{$create_time}" data-index="14">
                            </div>
                        </div>
                        <div>
                            <label style="text-align: right;">支付时间:</label>
                            <div id="paytime" role="form">
                                <input type="hidden" class="form-control operate" name="one_time-operate" data-name="pay_time" value="RANGE" readonly="">
                                <input type="text" autocomplete="off" class="form-control datetimerange" name="pay_time"  id="pay_time" value="{$pay_time}" data-index="14">
                            </div>
                        </div>
                        <div>
                            <input type="button" class="btn btn-success" value="提交">
                            <input type="button" class="btn btn-default reset" value="重置" >
                        </div>

                    </form>
                </div>
            </li>
            <li>
                <div class="detail">
                    <span class="glyphicon glyphicon-list"></span>
                    <p>订单数据明细</p>
                </div>
            </li>
        </ul>

        <div class="choose-content">
            <div class="nav-choose">
                <ul>
                    <li>
                        <ul>
                            <li data-name="base_grand_total">
                                <input type="checkbox">
                                <span>订单号</span>
                            </li>
                            <li data-name="base_shipping_amount">
                                <input type="checkbox">
                                <span>平台</span>
                            </li>
                            <li data-name="status">
                                <input type="checkbox">
                                <span>订单总金额</span>
                            </li>
                            <li data-name="store_id">
                                <input type="checkbox">
                                <span>镜架成本</span>
                            </li>
                            <li data-name="coupon_code">
                                <input type="checkbox">
                                <span>物流成本</span>
                            </li>
                            <li data-name="shipping_method">
                                <input type="checkbox">
                                <span>售后成本</span>
                            </li>
                            <li data-name="shipping_name">
                                <input type="checkbox">
                                <span>创建时间</span>
                            </li>
                            <li data-name="customer_email">
                                <input type="checkbox">
                                <span>币种</span>
                            </li>
                            <li data-name="customer_type">
                                <input type="checkbox">
                                <span>订单类型</span>
                            </li>
                            <li data-name="discount_rate">
                                <input type="checkbox">
                                <span>支付金额</span>
                            </li>
                            <li data-name="discount_money">
                                <input type="checkbox">
                                <span>镜片成本</span>
                            </li>
                            <li data-name="is_refund">
                                <input type="checkbox">
                                <span>营销成本</span>
                            </li>
                            <li data-name="country_id">
                                <input type="checkbox">
                                <span>售后退款</span>
                            </li>
                            <li data-name="payment_method">
                                <input type="checkbox">
                                <span>支付时间</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div style="float: right;margin: 10px 50px 10px 0px;">
                <input type="button" value="导出" id="export" class="btn" style="background: #18bc9c;color: #fefefe">
            </div>
            <table id="table" class="table table-striped table-bordered table-hover table-nowrap" width="100%">
            </table>
        </div>
    </div>
</div>