<style>
    .caigou {
        /* border-width: 1px;
            border-style: solid;
            border-color: rgba(188, 188, 188, 1);
            border-radius: 6px; */
        padding: 10px;
        width: 85%;
        margin-left: 20px;
        margin-top: 40px;
    }

    .caigou #caigou-table-sku {
        width: 100%;
        height: 130px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        text-align: center;
    }

    .caigou #caigou-table-sku tr {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        line-height: 50px;
    }

    .caigou #caigou-table-sku tr th {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        text-align: center;
        font-size: 14px;
    }

    .caigou #caigou-table-sku tr td {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
    }

    .caigou #caigou-table-sku tr td input {

        width: 150px;
    }

    .bg-aqua-gradient {
        background: #F5F5F5 !important;
        /* background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3498db), color-stop(1, #52a7e0)) !important; */
        background: -ms-linear-gradient(bottom, #3498db, #52a7e0) !important;
        background: -moz-linear-gradient(center bottom, #3498db 0%, #52a7e0 100%) !important;
        background: -o-linear-gradient(#52a7e0, #3498db) !important;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#52a7e0', endColorstr='#3498db', GradientType=0) !important;
        color: #333;
        border: #eee solid 1px;
    }
    .bg-blue {
        background-color: #F5F5F5 !important;
    }
    .panel-title {
        color: #333;
    }
    #caigou-table-lens .form-control {
        border-radius: 0;
        box-shadow: none;
        border-color: #d2d6de;
        -webkit-appearance: none;
        text-align: center;
        -moz-appearance: none;
        appearance: none;
    }
</style>
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Order_platform')}:</label>
        <div class="col-xs-12 col-sm-3">
            <select  id="c-order_platform" data-rule="required" class="form-control selectpicker" name="row[order_platform]">
                <option value="0" selected>请选择</option>
                {foreach name="orderPlatformList" item="vo"}
                <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('Synergy_order_number')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-synergy_order_number" data-rule="required" class="form-control" name="row[synergy_order_number]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Synergy_order_id')}:</label>
        <div class="col-xs-12 col-sm-3">
            <select id="c-synergy_order_id" data-rule="required"  class="form-control selectpicker" name="row[synergy_order_id]">
                <option value="0" selected>请选择</option>
                {foreach name="orderType" item="vo"}
                <option value="{$key}">{$vo}</option>
                {/foreach}
            </select>
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('Prty_id')}:</label>
        <div class="col-xs-12 col-sm-3">
            <select  id="c-prty_id" data-rule="required" class="form-control selectpicker" name="row[prty_id]">
                <option value="0" selected>请选择</option>
                {foreach name="prtyIdList" item="vo"}
                <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Dept_id')}:</label>
        <div class="col-xs-12 col-sm-3">
            {:Form::selects('row[dept_id][]', $allGroup, null, ['class'=>'form-control selectpicker', 'data-rule'=>'required','data-live-search' => true,'id'=>'choose_dept_id'])}
        </div>
        <label class="control-label col-xs-12 col-sm-2" >{:__('Rep_id')}:</label>
        <div class="col-xs-12 col-sm-3" id="add_rep_id">
            <select class="form-control selectpicker" data-live-search="1" id="choose_rep_id" multiple="multiple" name="row[rep_id][]" tabindex="-98">
                <!-- <option value="1">超级管理组</option>
                <option value="6">客服部</option>
                <option value="7">采购部</option>
                <option value="8">仓库部</option>
                <option value="9">运营部</option>
                <option value="10">客服部主管</option>
                <option value="11">客服部人员</option> -->
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Synergy_task_id')}:</label>
        </div>
        {foreach name="categoryList" item="vo"}
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{$vo.name}</label>
            {if $vo.junior}
            <div class="radio">
                {foreach name="$vo.junior" item="issue"}
                {if $issue.junior}
                <label for="row[synergy_task_id]-{$issue.id}"><input id="synergy_task_id-{$issue.id}" name="row[synergy_task_id]" type="radio" value="{$issue.id}" {in name="key" value="$vo.junior"}checked{/in} /> <span style="color:green;" id="{$issue.id}" class="issueLevel">{$issue.name}</span></label>
                <div class="radio three_level" style="margin-left:16.8%;float:left;clear:both;display:none;" id="display-{$issue.id}" >
                    {foreach name="$issue.junior" item="finalIssue"}
                    <label for="row[synergy_task_id]-{$finalIssue.id}"><input id="synergy_task_id-{$finalIssue.id}" name="row[synergy_task_id]" type="radio" value="{$finalIssue.id}" {in name="key" value="$issue.junior"}checked{/in} />{$finalIssue.name}</label>
                    {/foreach}
                </div>
                {else/}
                <label for="row[synergy_task_id]-{$issue.id}"><input id="synergy_task_id-{$issue.id}" name="row[synergy_task_id]" type="radio" value="{$issue.id}" {in name="key" value="$vo.junior"}checked{/in} /> {$issue.name}</label>
                {/if}
                {/foreach}
            </div>
            {/if}
        </div>
        {/foreach}
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Problem_desc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-problem_desc" class="form-control editor" rows="5" name="row[problem_desc]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Upload_photos')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-upload_photos" class="form-control" size="50" name="row[upload_photos]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-upload_photos"   class="btn btn-danger plupload" data-input-id="c-upload_photos" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-url="ajax/upload?dir=infoSynergyTaskManage/infoSynergyTask" data-multiple="true" data-preview-id="p-upload_photos" data-maxsize="2M"><i class="fa fa-upload"></i> 上传</button></span>
                </div>
                <span class="msg-box n-right" for="c-upload_photos"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-upload_photos"></ul>
        </div>
    </div>
    <div class="form-group " id="customer_info">
        <label class="control-label col-xs-12 col-sm-2">{:__('Create_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="hidden" name="row[change_type]" value="0" id="c-change_type"/>
            <input id="c-create_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[create_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
