<style>
    #remark-table{
        margin-left: 17.5%;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
    }
    #remark-table tr {
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        line-height: 50px;
    }
    #remark-table tr th {
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        text-align: center;
        font-size: 14px;
    }
    #remark-table tr td {
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
    }

    .caigou #caigou-table tr td input {

        width: 150px;
    }
</style>
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Synergy_number')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-synergy_number" data-rule="required" class="form-control" name="row[synergy_number]" type="text" value="{$row.synergy_number}" disabled="disabled">
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('Synergy_order_id')}:</label>
        <div class="col-xs-12 col-sm-3">
            <select id="c-synergy_order_id" data-rule="required"  class="form-control selectpicker" name="row[synergy_order_id]">
                <option value="0" selected>请选择</option>
                {foreach name="orderType" item="vo"}
                <option value="{$key}" {eq name="key" value="$row.synergy_order_id"}selected{/eq}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Order_platform')}:</label>
        <div class="col-xs-12 col-sm-3">
            <select  id="c-order_platform" data-rule="required" class="form-control selectpicker" name="row[order_platform]">
                <option value="0" selected>请选择</option>
                {foreach name="orderPlatformList" item="vo"}
                <option value="{$key}" {eq name="key" value="$row.order_platform"}selected{/eq}>{$vo}</option>
                {/foreach}
            </select>
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('Synergy_order_number')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-synergy_order_number" data-rule="required" class="form-control" name="row[synergy_order_number]" type="text" value="{$row.synergy_order_number}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Dept_id')}:</label>
        <div class="col-xs-12 col-sm-3">
            {:build_select('row[dept_id][]', $allGroup, $row.dept_id,['class'=>'form-control selectpicker', 'data-rule'=>'required','data-live-search' => true,'multiple'=>'multiple','id'=>'choose_dept_id'])}
        </div>
        <label class="control-label col-xs-12 col-sm-2" >{:__('Rep_id')}:</label>
        <div class="col-xs-12 col-sm-3" id="add_rep_id">
            {:build_select('row[rep_id][]', $allAdmin, $row.rep_id,['class'=>'form-control selectpicker', 'data-rule'=>'required','data-live-search' => true,'multiple'=>'multiple','id'=>"choose_rep_id"])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Prty_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select  id="c-prty_id" data-rule="required" class="form-control selectpicker" name="row[prty_id]">
                <option value="0" selected>请选择</option>
                {foreach name="prtyIdList" item="vo"}
                <option value="{$key}" {eq name="key" value="$row.prty_id"}selected{/eq}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Synergy_task_id')}:</label>
        </div>
        {foreach name="categoryList" item="vo"}
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{$vo.name}</label>
            {if $vo.junior}
            <div class="radio">
                {foreach name="$vo.junior" item="issue"}
                {if $issue.junior}
                <label for="row[synergy_task_id]-{$issue.id}"><input id="row[synergy_task_id]-{$issue.id}" name="row[synergy_task_id]" type="radio" value="{$issue.id}" {eq name="$issue.id" value="$row.synergy_task_id"}checked{/eq} /> <span style="color:green;" id="{$issue.id}" class="issueLevel">{$issue.name}<span></span></label>
                {else/}
                <label for="row[synergy_task_id]-{$issue.id}"><input id="row[synergy_task_id]-{$issue.id}" name="row[synergy_task_id]" type="radio" value="{$issue.id}" {in name="$issue.id" value="$row.synergy_task_id"}checked{/in} /> {$issue.name}</label>
                {/if}
                {if $issue.junior}
                <div class="radio" style="margin-left:20%;display:none;" id="display-{$issue.id}" >
                    {foreach name="$issue.junior" item="finalIssue"}
                    <label for="row[synergy_task_id]-{$finalIssue.id}"><input id="row[synergy_task_id]-{$finalIssue.id}" name="row[synergy_task_id]" type="radio" value="{$finalIssue.id}" {in name="$finalIssue.id" value="$row.synergy_task_id"}checked{/in} />{$finalIssue.name}</label>
                    {/foreach}
                </div>
                {/if}
                {/foreach}
            </div>
            {/if}
        </div>
        {/foreach}
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Problem_desc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-problem_desc" class="form-control editor" rows="5" name="row[problem_desc]" cols="50">{$row.problem_desc|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Upload_photos')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-upload_photos" data-rule="required" class="form-control" size="50" name="row[upload_photos]" type="text" value="{$row.upload_photos}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-upload_photos"   class="btn btn-danger plupload" data-input-id="c-upload_photos" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-url="ajax/upload?dir=infoSynergyTaskManage/infoSynergyTask" data-multiple="true" data-preview-id="p-upload_photos" data-maxsize="2M"><i class="fa fa-upload"></i> 上传</button></span>
                </div>
                <span class="msg-box n-right" for="c-upload_photos"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-upload_photos"></ul>
        </div>
    </div>
    {present name="orderReturnRemark"}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Remark_record')}:</label>
        <table id="remark-table" class="col-xs-12 col-sm-8">
            <tr>
                <th style="text-align: center; vertical-align: middle;">序号</td>
                <th style="text-align: center; vertical-align: middle;">备注详情</td>
                <th style="text-align: center; vertical-align: middle;">操作人</td>
                <th style="text-align: center; vertical-align: middle;">操作时间</td>
            </tr>
            {foreach name="orderReturnRemark" item="vo"}
            <tr>
                <td style="text-align: center; vertical-align: middle;">{$vo.id}</td>
                <td style="text-align: center; vertical-align: middle;">{$vo.remark_record}</td>
                <td style="text-align: center; vertical-align: middle;">{$vo.create_person}</td>
                <td style="text-align: center; vertical-align: middle;">{$vo.create_time}</td>
            </tr>
            {/foreach}
        </table>
    </div>
    {/present}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Add_remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-task_remark" class="form-control editor " rows="5" name="row[remark_record]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>