<style>
    .caigou {
        /* border-width: 1px;
            border-style: solid;
            border-color: rgba(188, 188, 188, 1);
            border-radius: 6px; */
        padding: 10px;
        width: 85%;
        margin-left: 20px;
        margin-top: 40px;
    }

    .caigou #caigou-table-sku {
        width: 100%;
        height: 130px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        text-align: center;
    }

    .caigou #caigou-table-sku tr {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        line-height: 50px;
    }

    .caigou #caigou-table-sku tr th {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        text-align: center;
        font-size: 14px;
    }

    .caigou #caigou-table-sku tr td {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
    }

    .caigou #caigou-table-sku tr td input {

        width: 150px;
    }
    .bg-aqua-gradient {
        background: #F5F5F5 !important;
        /* background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3498db), color-stop(1, #52a7e0)) !important; */
        background: -ms-linear-gradient(bottom, #3498db, #52a7e0) !important;
        background: -moz-linear-gradient(center bottom, #3498db 0%, #52a7e0 100%) !important;
        background: -o-linear-gradient(#52a7e0, #3498db) !important;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#52a7e0', endColorstr='#3498db', GradientType=0) !important;
        color: #333;
        border: #eee solid 1px;
    }
    .bg-blue {
        background-color: #F5F5F5 !important;
    }
    .panel-title {
        color: #333;
    }
    #caigou-table-lens .form-control {
        border-radius: 0;
        box-shadow: none;
        border-color: #d2d6de;
        -webkit-appearance: none;
        text-align: center;
        -moz-appearance: none;
        appearance: none;
    }
</style>
<style>
    #remark-table{
        margin-left: 17.5%;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
    }
    #remark-table tr {
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        line-height: 50px;
    }
    #remark-table tr th {
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        text-align: center;
        font-size: 14px;
    }
    #remark-table tr td {
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
    }

    .caigou #caigou-table tr td input {

        width: 150px;
    }
</style>
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Synergy_number')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-id" type="hidden" name="row[id]" value="{$row.id}" readonly = "readonly"/>
            <input id="c-synergy-status" type="hidden" name="row[synergy_status]" value="1" readonly = "readonly"/>
            <input id="c-synergy_number" data-rule="required" class="form-control" name="row[synergy_number]" type="text" value="{$row.synergy_number}" disabled="disabled">
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('Synergy_order_id')}:</label>
        <div class="col-xs-12 col-sm-3">
            <select id="c-synergy_order_id" data-rule="required" disabled="disabled" class="form-control selectpicker" name="row[synergy_order_id]">
                <option value="0" selected>请选择</option>
                {foreach name="orderType" item="vo"}
                <option value="{$key}" {eq name="key" value="$row.synergy_order_id"}selected{/eq}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Order_platform')}:</label>
        <div class="col-xs-12 col-sm-3">
            <select  id="c-order_platform" readonly="readonly" data-rule="required" class="form-control selectpicker" name="row[order_platform]">
                <option value="0" selected>请选择</option>
                {foreach name="orderPlatformList" item="vo"}
                <option value="{$key}" {eq name="key" value="$row.order_platform"}selected{/eq}>{$vo}</option>
                {/foreach}
            </select>
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('Synergy_order_number')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-synergy_order_number" data-rule="required" class="form-control" name="row[synergy_order_number]" type="text" value="{$row.synergy_order_number}" readonly="readonly"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Dept_id')}:</label>
        <div class="col-xs-12 col-sm-3">
            {:build_select('row[dept_id][]', $allGroup, $row.dept_id,['class'=>'form-control selectpicker', 'data-live-search' => true,'multiple'=>'multiple','id'=>'choose_dept_id'])}
        </div>
        <label class="control-label col-xs-12 col-sm-2" >{:__('Rep_id')}:</label>
        <div class="col-xs-12 col-sm-3" id="add_rep_id">
            {:build_select('row[rep_id][]', $allAdmin, $row.rep_id,['class'=>'form-control selectpicker', 'data-live-search' => true,'multiple'=>'multiple','id'=>'choose_rep_id'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Prty_id')}:</label>
        <div class="col-xs-12 col-sm-3">
            <select  id="c-prty_id" data-rule="required" class="form-control selectpicker" name="row[prty_id]" disabled="disabled">
                <option value="0" selected>请选择</option>
                {foreach name="prtyIdList" item="vo"}
                <option value="{$key}" {eq name="key" value="$row.prty_id"}selected{/eq}>{$vo}</option>
                {/foreach}
            </select>
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('Refund_way')}:</label>
            <div class="col-xs-12 col-sm-3">
                <select  id="c-refund_way" data-rule="required" class="form-control selectpicker" type="text" name="row[refund_way]">
                    <option value="0">请选择..</option>
                    {if $row.refund_way eq 'paypal'}
                    <option value="paypal" selected>paypal</option>
                    {else/}
                    <option value="paypal">paypal</option>
                    {/if}
                    {if $row.refund_way eq 'credit_card'}
                    <option value="credit_card" selected>credit_card</option>
                    {else/}
                    <option value="credit_card">credit_card</option>
                    {/if}
                </select>
            </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Refund_money')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-refund_money"  class="form-control" name="row[refund_money]" type="number" value="{$row.refund_money|htmlentities}">
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('Make_up_price_order')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-make_up_price_order"  data-source="problem/index" class="form-control" name="row[make_up_price_order]" type="text" value="{$row.make_up_price_order|htmlentities}">
        </div>
    </div> 
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Replacement_order')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-tariff"  class="form-control" name="row[replacement_order]" type="number" value="{$row.replacement_order|htmlentities}">
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('Order_skus')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-order_skus" class="form-control" name="row[order_skus]"  type="text" value="" >
        </div> 
    </div>  
    <div class="form-group">
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Synergy_task_id')}:</label>
        </div>
        {foreach name="categoryList" item="vo"}
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{$vo.name}</label>
            {if $vo.junior}
            <div class="radio">
                {foreach name="$vo.junior" item="issue"}
                {if $issue.junior}
                <label for="row[synergy_task_id]-{$issue.id}"><input  id="row[synergy_task_id]-{$issue.id}" name="row[synergy_task_id]" type="radio" value="{$issue.id}" {eq name="$issue.id" value="$row.synergy_task_id"}checked{/eq} /> <span style="color:green;" id="{$issue.id}" class="issueLevel">{$issue.name}<span></span></label>
                <div class="radio three_level" style="margin-left:16.8%;float:left;clear:both;display:none;" id="display-{$issue.id}" >
                    {foreach name="$issue.junior" item="finalIssue"}
                    <label for="row[synergy_task_id]-{$finalIssue.id}"><input id="row[synergy_task_id]-{$finalIssue.id}" name="row[synergy_task_id]" type="radio" value="{$finalIssue.id}" {in name="$finalIssue.id" value="$row.synergy_task_id"}checked{/in} />{$finalIssue.name}</label>
                    {/foreach}
                </div>
                {else/}
                <label for="row[synergy_task_id]-{$issue.id}"><input  id="row[synergy_task_id]-{$issue.id}" name="row[synergy_task_id]" type="radio" value="{$issue.id}" {in name="$issue.id" value="$row.synergy_task_id"}checked{/in} /> {$issue.name}</label>
                {/if}
                {/foreach}
            </div>
            {/if}
        </div>
        {/foreach}
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Problem_desc')}:</label>
        <div class="col-xs-12 col-sm-8" >
            {present name="taskChangeSku"}
            <input type="hidden" name="row[change_type]" value="{$taskChangeSku[0]['change_type']}" id="c-change_type"/>
            {else /}
            <input type="hidden" name="row[change_type]" value="0" id="c-change_type"/>
            {/present}
            <textarea id="c-problem_desc" disabled="disabled"  class="form-control editor" rows="5" name="row[problem_desc]" cols="50">{$row.problem_desc|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group" >
        <label class="control-label col-xs-12 col-sm-2">{:__('Upload_photos')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-upload_photos" readonly class="form-control" size="50" name="row[upload_photos]" type="text" value="{$row.upload_photos}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-upload_photos"   class="btn btn-danger plupload" data-input-id="c-upload_photos" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-url="ajax/upload?dir=infoSynergyTaskManage/infoSynergyTask" data-multiple="true" data-preview-id="p-upload_photos" data-maxsize="2M"><i class="fa fa-upload"></i> 上传</button></span>
                </div>
                <span class="msg-box n-right" for="c-upload_photos"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-upload_photos"></ul>
        </div>
    </div>
    {present name="orderReturnRemark"}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Remark_record')}:</label>
        <table id="remark-table" class="col-xs-12 col-sm-8">
            <tr>
                <th style="text-align: center; vertical-align: middle;">序号</td>
                <th style="text-align: center; vertical-align: middle;">备注详情</td>
                <th style="text-align: center; vertical-align: middle;">操作人</td>
                <th style="text-align: center; vertical-align: middle;">操作时间</td>
            </tr>
            {foreach name="orderReturnRemark" item="vo"}
            <tr>
                <td style="text-align: center; vertical-align: middle;">{$vo.id}</td>
                <td style="text-align: center; vertical-align: middle;">{$vo.remark_record}</td>
                <td style="text-align: center; vertical-align: middle;">{$vo.create_person}</td>
                <td style="text-align: center; vertical-align: middle;">{$vo.create_time}</td>
            </tr>
            {/foreach}
        </table>
    </div>
    {/present}
    <div class="form-group" id="customer_info">
        <label class="control-label col-xs-12 col-sm-2">{:__('Add_remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-task_remark" class="form-control editor " rows="5" name="row[remark_record]" cols="50"></textarea>
        </div>
    </div>
    {present name="taskChangeSku"}
    {if condition="$taskChangeSku[0]['change_type'] eq 1"/}
    <div class="caigou item_info" style="margin-top:15px;margin-left:10%;">
        <p style="font-size: 16px;"><b>更改镜架</b></p>
        <div>
            <div id="toolbar" class="toolbar">
                <a href="javascript:;" class="btn btn-success btn-add" title="增加"><i class="fa fa-plus"></i> 增加</a>
            </div>
            <table id="caigou-table-sku">
                <tr>
                    <th>原SKU</th>
                    <th>原数量(+增加)</th>
                    <th>新SKU</th>
                    <th>新数量(-减少)</th>
                    <!-- <th>操作</th> -->
                </tr>
                {foreach name="taskChangeSku" item="sku" key="k"}
                <tr>
                    <td>
                        <input class="form-control" name="row[item][{$k+1}][id]" type="hidden" value="{$sku.id}">
                        <input id="c-original_sku" class="form-control" name="row[item][{$k+1}][original_sku]" type="text" value="{$sku.original_sku}">
                    </td>
                    <td><input id="c-original_number" class="form-control" name="row[item][{$k+1}][original_number]" type="text" value="{$sku.original_number}"></td>
                    <td><input id="c-change_sku" class="form-control" name="row[item][{$k+1}][change_sku]" value="{$sku.change_sku}" type="text"></td>
                    <td><input id="c-change_number" class="form-control" name="row[item][{$k+1}][change_number]" value="{$sku.change_number}" type="text"></td>
                    <!-- <td><a href="javascript:;" class="btn btn-danger btn-del" title="删除"><i class="fa fa-trash"></i>删除</a></td> -->
                </tr>
                {/foreach}
            </table>
        </div>
    </div>
    {elseif condition="$taskChangeSku[0]['change_type'] eq 3"}
    <div class="caigou item_info" style="margin-top:15px;margin-left:10%;">
            <p style="font-size: 16px;"><b>取消订单</b></p>
            <div>
                <table id="caigou-table-sku">
                    <tr>
                        <th>原始SKU</th>
                        <th>取消数量</th>
                    </tr>
                    {foreach name="taskChangeSku" item="sku" key="k"}
                    <tr>
                        <td>
                            <input class="form-control" name="row[item][{$k+1}][id]" type="hidden" value="{$sku.id}">
                            <input id="c-original_sku" class="form-control" name="row[item][{$k+1}][original_sku]" type="text" value="{$sku.original_sku}">
                        </td>
                        <td><input id="c-original_number" class="form-control" name="row[item][{$k+1}][original_number]" type="text" value="{$sku.original_number}"></td>
                    </tr>
                    {/foreach}
                </table>
            </div>
        </div>
    {elseif condition="$taskChangeSku[0]['change_type'] eq 2"}
    <div class="row item_info" style="margin-top:15px;margin-left:7.6666%;">
        <p style="font-size: 16px;"><b>更改镜片</b></p>
            <!-- <div id="toolbar" class="toolbar">
                <a href="javascript:;" class="btn btn-success btn-add-lens" title="增加"><i class="fa fa-plus"></i> 增加</a>
            </div> -->
     {foreach name="taskChangeSku" item="sku" key="kv"}
            <div class="col-lg-12">
            </div>
            <div class="col-xs-6 col-md-4" style="margin-top:15px;margin-left:5.6666%;" >
                <div class="panel bg-blue">
                    <div class="panel-body">
                        <div class="panel-title">
                            <label class="control-label col-xs-12 col-sm-3">name:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input type="hidden" name="row[lens][id][]" value="{$sku['id']}">
                                <input  id="c-item_name"  class="form-control"  type="text" name="row[lens][original_name][]" value="{$sku['original_name']}">
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="panel-title">
                            <label class="control-label col-xs-12 col-sm-3">SKU:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input  id="c-item_sku" class="form-control"  type="text" name="row[lens][original_sku][]" value="{$sku['original_sku']}">
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="panel-title">
                            <label class="control-label col-xs-12 col-sm-3">qty_ordered:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input  id="c-item_qty_ordered"  class="form-control"  type="text" name="row[lens][original_number][]" value="{$sku['original_number']}">
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="panel-title">
                            <label class="control-label col-xs-12 col-sm-3">prescription_type:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input  id="c-recipe_type"  class="form-control" type="text" name="row[lens][recipe_type][]" value="{$sku['recipe_type']}">
                            </div>
                        </div>
                    </div>
                    {if $sku.platform_type eq 3}
                    <div class="panel-body">
                        <div class="panel-title">
                            <label class="control-label col-xs-12 col-sm-3">second_name:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input  id="c-lens_type"  class="form-control"  type="text" name="row[lens][second_name][]" value="{$sku['second_name']}">
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="panel-title">
                            <label class="control-label col-xs-12 col-sm-3">lens_type:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input  id="c-coating_film_type"  class="form-control"  type="text" name="row[lens][lens_type][]" value="{$sku['lens_type']}">
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="panel-title">
                            <label class="control-label col-xs-12 col-sm-3">zsl:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input  id="c-coating_film_type"  class="form-control"  type="text" name="row[lens][zsl][]" value="{$sku['zsl']}">
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="panel-title">
                            <label class="control-label col-xs-12 col-sm-3">coating_type:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input  id="c-coating_film_type"  class="form-control"  type="text" name="row[lens][coating_type][]" value="{$sku['coating_type']}">
                            </div>
                        </div>
                    </div>                    
                    {else/}
                    <div class="panel-body">
                        <div class="panel-title">
                            <label class="control-label col-xs-12 col-sm-3">lens_type:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input  id="c-lens_type"  class="form-control"  type="text" name="row[lens][lens_type][]" value="{$sku['lens_type']}">
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="panel-title">
                            <label class="control-label col-xs-12 col-sm-3">coating_type:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input  id="c-coating_film_type"  class="form-control"  type="text" name="row[lens][coating_type][]" value="{$sku['coating_type']}">
                            </div>
                        </div>
                    </div>
                    {/if}
                </div>
            </div>
            <div class="col-xs-6 col-md-7">
                <div class="panel bg-aqua-gradient">
                    <div class="panel-body">
                        <div class="ibox-title">
                            <table id="caigou-table-lens">
                                <tr>
                                    <td colspan="10" style="text-align: center">Prescription</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">value</td>
                                    <td style="text-align: center">SPH</td>
                                    <td style="text-align: center">CYL</td>
                                    <td style="text-align: center">AXI</td>
                                    <td style="text-align: center">ADD</td>
                                    <td style="text-align: center">PD</td>
                                    <td style="text-align: center">Prism Horizontal</td>
                                    <td style="text-align: center">Base Direction</td>
                                    <td style="text-align: center">Prism Vertical</td>
                                    <td style="text-align: center">Base Direction</td>
                                </tr>
                                <!-- <tr>
                                    <td style="text-align: center">Right(OD)</td>
                                    <td><input id="c-right_SPH" class="form-control"  type="text" name="row[lens][od_sph][]" value="{$sku['od_sph']}"></td>
                                    <td><input id="c-right_CYL" class="form-control"  type="text" name="row[lens][od_cyl][]" value="{$sku['od_cyl']}"></td>
                                    <td><input id="c-right_AXI" class="form-control"  type="text" name="row[lens][od_axis][]" value="{$sku['od_axis']}"></td>
                                    <td><input id="c-right_ADD" class="form-control"  type="text" name="row[lens][od_add][]" value="{$sku['od_add']}"></td>
                                    <td><input id="c-right_PD" class="form-control"  type="text"  name="row[lens][pd_r][]" value="{$sku['pd_r']}"></td>
                                    <td><input id="c-right_Prism_Horizontal" class="form-control" name="row[lens][od_pv][]" type="text" value="{$sku['od_pv']}"></td>
                                    <td><input id="c-right_" class="form-control"  type="text" name="row[lens][od_bd][]" value="{$sku['od_bd']}"></td>
                                    <td><input id="c-purchase_remark" class="form-control"  type="text" name="row[lens][od_pv_r][]" value="{$sku['od_pv_r']}"></td>
                                    <td><input id="c-purchase_remark" class="form-control"  type="text" name="row[lens][od_bd_r][]" value="{$sku['od_bd_r']}"></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">Left(OS)</td>
                                    <td><input id="c-left_SPH" class="form-control"  type="text" name="row[lens][os_sph][]" value="{$sku['os_sph']}"></td>
                                    <td><input id="c-left_CYL" class="form-control"  type="text" name="row[lens][os_cyl][]" value="{$sku['os_cyl']}"></td>
                                    <td><input id="c-purchase_remark" class="form-control"  type="text" name="row[lens][os_axis][]" value="{$sku['os_axis']}"></td>
                                    <td><input id="c-purchase_remark" class="form-control"  type="text" name="row[lens][os_add][]" value="{$sku['os_add']}"></td>
                                    <td><input id="c-purchase_remark" class="form-control"  type="text" name="row[lens][pd_l][]" value="{$sku['pd_l']}"></td>
                                    <td><input id="c-purchase_remark" class="form-control"  type="text" name="row[lens][os_pv][]" value="{$sku['os_pv']}"></td>
                                    <td><input id="c-purchase_remark" class="form-control"  type="text" name="row[lens][os_bd][]" value="{$sku['os_bd']}"></td>
                                    <td><input id="c-purchase_remark" class="form-control"  type="text" name="row[lens][os_pv_r][]" value="{$sku['os_pv_r']}"></td>
                                    <td><input id="c-purchase_remark" class="form-control"  type="text" name="row[lens][os_bd_r][]" value="{$sku['os_bd_r']}"></td>
                                </tr> -->
                                <tr>
                                    <td style="text-align: center">Right(OD)</td>
                                    <td><input id="c-right_SPH" class="form-control"  type="text" name="row[lens][od_sph][]" value="{$sku['od_sph']}"></td>
                                    <td><input id="c-right_CYL" class="form-control"  type="text" name="row[lens][od_cyl][]" value="{$sku['od_cyl']}"></td>
                                    <td><input id="c-right_AXI" class="form-control"  type="text" name="row[lens][od_axis][]" value="{$sku['od_axis']}"></td>
                                    {if $sku.os_add neq ''}
                                    <td><input id="c-right_ADD" class="form-control"  type="text" name="row[lens][od_add][]" value="{$sku['od_add']}"></td>
                                    {else/}
                                    <td rowspan="2"><input id="c-right_ADD" style="height:62px;" class="form-control"  type="text" name="row[lens][od_add][]" value="{$sku['od_add']}"></td>
                                    {/if}
                                    {if $sku.pd_l neq ''}
                                    <td><input id="c-right_PD" class="form-control"  type="text"  name="row[lens][pd_r][]" value="{$sku['pd_r']}"></td>
                                    {else/}
                                    <td rowspan="2"><input id="c-right_PD" style="height: 62px;" class="form-control"  type="text"  name="row[lens][pd_r][]" value="{$sku['pd_r']}"></td>
                                    {/if}  
                                    <td><input id="c-right_Prism_Horizontal" class="form-control" name="row[lens][od_pv][]" type="text" value="{$sku['od_pv']}"></td>
                                    <td><input id="c-right_" class="form-control"  type="text" name="row[lens][od_bd][]" value="{$sku['od_bd']}"></td>
                                    <td><input id="c-purchase_remark" class="form-control"  type="text" name="row[lens][od_pv_r][]" value="{$sku['od_pv_r']}"></td>
                                    <td><input id="c-purchase_remark" class="form-control"  type="text" name="row[lens][od_bd_r][]" value="{$sku['od_bd_r']}"></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">Left(OS)</td>
                                    <td><input id="c-left_SPH" class="form-control"  type="text" name="row[lens][os_sph][]" value="{$sku['os_sph']}"></td>
                                    <td><input id="c-left_CYL" class="form-control"  type="text" name="row[lens][os_cyl][]" value="{$sku['os_cyl']}"></td>
                                    <td><input id="c-purchase_remark" class="form-control"  type="text" name="row[lens][os_axis][]" value="{$sku['os_axis']}"></td>
                                    {if $sku.os_add neq ''}
                                    <td><input id="c-purchase_remark" class="form-control"  type="text" name="row[lens][os_add][]" value="{$sku['os_add']}"></td>
                                    {/if}
                                    {if $sku.pd_l neq ''}
                                    <td><input id="c-purchase_remark" class="form-control"  type="text" name="row[lens][pd_l][]" value="{$sku['pd_l']}"></td>
                                    {/if}
                                    <td><input id="c-purchase_remark" class="form-control"  type="text" name="row[lens][os_pv][]" value="{$sku['os_pv']}"></td>
                                    <td><input id="c-purchase_remark" class="form-control"  type="text" name="row[lens][os_bd][]" value="{$sku['os_bd']}"></td>
                                    <td><input id="c-purchase_remark" class="form-control"  type="text" name="row[lens][os_pv_r][]" value="{$sku['os_pv_r']}"></td>
                                    <td><input id="c-purchase_remark" class="form-control"  type="text" name="row[lens][os_bd_r][]" value="{$sku['os_bd_r']}"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- <div>
                    <a href="javascript:;" class="btn btn-danger btn-del-lens" title="删除"><i class="fa fa-trash"></i>删除</a>
                </div> -->
            </div>
     {/foreach}
	 </div>
    {/if}
    {/present}
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
            <button type="submit" class="btn btn-success button_complete btn-embossed">{:__('Handle_complete')}</button>
        </div>
    </div>
</form>