.handle_table1 td{
    border-width:1px;
    padding:8px;
    text-align:center;
    font-size:14px;
    border-style:solid;
  }
  .handle_table2 td{
    border-width:1px;
    padding:8px;
    text-align:center;
    font-size:14px;
    border-style:solid;
  }