<style>
.caigou {
    width: 100%;
    margin-bottom: 10px;
    float: left;
}

#caigou-table {
    width: 100%;
    height: 130px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(188, 188, 188, 1);
    border-radius: 6px;
    text-align: center;
}

#caigou-table tr {

    border-width: 1px;
    border-style: solid;
    border-color: rgba(188, 188, 188, 1);
    border-radius: 6px;
    line-height: 50px;
}

#caigou-table tr th {

    border-width: 1px;
    border-style: solid;
    border-color: rgba(188, 188, 188, 1);
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    line-height: 50px;
}

#caigou-table tr td {

    border-width: 1px;
    border-style: solid;
    border-color: rgba(188, 188, 188, 1);
    border-radius: 6px;
}

#caigou-table tr td input {

    width: 150px;
}
</style>
<div class="row item_info" style="margin-top:15px;width: 50%;float: right;">
    <p style="font-size: 16px;text-align: center;"><b>物流信息</b></p>
    <div class='caigou'>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3">承运公司:</label>
            <label class="control-label col-xs-12 col-sm-5"
                style="text-align: left;">{$express_data.carrier_code}</label>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3">物流单号:</label>
            <label class="control-label col-xs-12 col-sm-5"
                style="text-align: left;">{$express_data.tracking_number}</label>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3">物流信息:</label>
            <label class="control-label col-xs-12 col-sm-3" style="width: 450px;text-align: left;">
                {foreach name="express_data.origin_info.trackinfo" item="vi"}
                <p>{$vi.Date} <br>{$vi.StatusDescription} <br>{$vi.checkpoint_status}</p>
                {/foreach}
            </label>
            
        </div>
    </div>
</div>