<style>
    .list-div {
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        padding: 10px;
        width: 100%;
        height: 400px;
        margin-bottom: 10px;
    }

    .caigou {
        width: 100%;
        margin-bottom: 10px;
        float: left;
    }

    #caigou-table {
        width: 100%;
        height: 130px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        text-align: center;
    }

    #caigou-table tr {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        line-height: 50px;
    }

    #caigou-table tr th {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        text-align: center;
        font-size: 14px;
        line-height: 50px;
    }

    #caigou-table tr td {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
    }

    #caigou-table tr td input {

        width: 150px;
    }

    .nav-tabs>li {
        float: left;
        margin-bottom: -1px;
    }

    .nav>li {
        position: relative;
        display: block;
    }

    .nav-tabs>li>a {
        margin-right: 4px;
        color: #95a5a6;
        background-color: #d8e0e6;
        border: 1px solid #e8edf0;
        border-bottom-color: transparent;
    }

    .panel-heading {
        padding: 15px;
        padding-bottom: 0;
        background: #e8edf0;
        border-color: #e8edf0;
        position: relative;
    }

    .panel-heading .nav-tabs>li>a {
        margin-right: 4px;
        color: #95a5a6;
        border: 1px solid #e8edf0;
        border-bottom-color: transparent;
    }

    .caigou-table-lens tbody tr td input {
        text-align: center;
    }
</style>
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
<div class="row item_info" style="margin-top:15px;width: 100%;">
    <p style="font-size: 16px;text-align: center;"><b>物流信息</b></p>

    <div class='caigou'>

        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3">承运公司:</label>
            <label class="control-label col-xs-12 col-sm-5"
                style="text-align: left;">{$title}</label>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3">物流单号:</label>
            <label class="control-label col-xs-12 col-sm-5"
                style="text-align: left;">{$tracking_number}</label>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3">物流信息:</label>
            <label class="control-label col-xs-12 col-sm-3" style="width: 450px;text-align: left;">
                {foreach name="express_data" item="vi"}
                <p>{$vi.a}  <br>{$vi.z}</p>
                {/foreach}
            </label>
            
        </div>
    </div>
</div>
</form>