<link rel="stylesheet" href="/assets/css/control.css">
<style>
      .record-dialog .table-wrap{
       width: 100% !important;
    }
    body .record-dialog .table-wrap table tr th,body .record-dialog .table-wrap table td{
        border: 1px solid #ddd;
        padding: 0;
    }
    .record-dialog .table-wrap tr:nth-of-type(2n){
        background-color: #f9f9f9;
    }
    .table-striped > tbody > tr:nth-of-type(even){
        background-color: #f9f9f9 !important;
    }
    .table-striped > tbody > tr:nth-of-type(odd){
        background-color: #fff !important;
    }
</style>
<div class="record-dialog">
    <ul>
        <li class="{:$row['custom_print_label_new'] == 1 ? 'active' : ''}">
            <i><span class="fa-check fa fa-fw fa-check"></span></i>
            <span>打标签</span>
        </li>
        <li class="{:$row['custom_is_match_frame_new'] == 1 ? 'active' : ''}">
            <i><span class="fa-check fa fa-fw fa-check"></span></i>
            <span>配镜架</span>
        </li>
        <li class="{:$row['custom_is_match_lens_new'] == 1 ? 'active' : ''}">
            <i><span class="fa-check fa fa-fw fa-check"></span></i>
            <span>配镜片</span>
        </li>
        <li class="{:$row['custom_is_send_factory_new'] == 1 ? 'active' : ''}">
            <i><span class="fa-check fa fa-fw fa-check"></span></i>
            <span>加工</span>
        </li>
        <li class="{:$row['custom_is_delivery_new'] == 1 ? 'active' : ''}">
            <i><span class="fa-check fa fa-fw fa-check"></span></i>
            <span>提货</span>
        </li>
    </ul>
    <div class="table-wrap">
        <table class="table table-striped table-bordered table-hover table-nowrap">
            <tr>
                <th>序号</th>
                <th>操作内容</th>
                <th>操作人</th>
                <th>操作时间</th>
            </tr>
            {foreach $list as $v}
            <tr>
                <td>{$v.id}</td>
                <td>{$v.content}</td>
                <td>{$v.person}</td>
                <td>{$v.createtime}</td>
            </tr>
            {/foreach}
           
        </table>
    </div>
</div>