<style>
    .content {
        max-width: 100%;
    }
</style>
<link rel="stylesheet" href="/assets/css/control.css">
<style type="text/css">
    table.altrowstable {
        margin: 0 auto;
        width: 100%;
        font-family: verdana, arial, sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #247692;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    table.altrowstable th {
        border-width: 1px;
        padding: 8px;
        font-size: 14px;
        border-style: solid;
        border-color: #d2d6de;
    }

    table.altrowstable td {
        border-width: 1px;
        padding: 8px;
        text-align: center;
        font-size: 12px;
        border-style: solid;
        border-color: #ddd;
    }

    table.altrowstable1 {
        margin: 0 auto;
        width: 100%;
        font-family: verdana, arial, sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #247692;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    table.altrowstable1 th {
        border-width: 1px;
        padding: 8px;
        font-size: 14px;
        border-style: solid;
        border-color: #d2d6de;
    }

    table.altrowstable1 td {
        border-width: 1px;
        padding: 8px;
        text-align: center;
        font-size: 12px;
        border-style: solid;
        border-color: #ddd;
    }

    table.altrowstable tr:nth-child(odd) {
        background-color: #eeeeee;
    }

    table.altrowstable tr:nth-child(even) {
        background-color: #ffffff;
    }

    .class-body:nth-child(odd) {
        background-color: #ffffff;
    }

    .class-body:nth-child(even) {
        background-color: #eeeeee;
    }

    body {
        font-size: 14px;
    }

    .detail-wrap {
        display: none;
    }

    .panel-body {
        padding: 0;
    }

    .content {
        background-color: #f1f4f6;
        padding: 0;
    }

    .panel-intro {
        background-color: #f1f4f6;
    }

    #ribbon {
        padding: 15px;
    }

    body .control-wrap,
    .infos-wrap,
    .order-list-wrap {
        margin: 10px 22px;
        padding: 33px 22px !important;
    }

    body .order-list-wrap {
        padding-top: 0 !important;
    }

    body .order-list-wrap h2 {
        border-bottom: 1px solid #ddd;
    }

    body .order-list-wrap ul.order-list .detail-wrap table tr td .pres-type td,
    body .order-list-wrap ul.order-list .detail-wrap table .pres-type th {
        padding: 4px !important;
        font-size: 12px;
    }

    body .order-list-wrap ul.order-list .detail-wrap table tr td {
        font-size: 12px;
    }

    body .order-list-wrap ul.order-list .detail-wrap table tr td.pd span {
        font-size: 12px;
    }

    body .order-list-wrap ul.order-list .detail-wrap table tr .pres-type {
        padding: 15px;
    }

    dl {
        margin-bottom: 0px;
    }

    .address-pay-info ul,
    body .order-list-wrap ul.order-list .detail-wrap .address-pay-info dl {
        padding: 15px;
    }

    body .order-list-wrap ul.order-list .detail-wrap .address-pay-info dl dt:last-of-type {
        padding-top: 10px;
    }

    body .order-list-wrap ul.order-list .detail-wrap .address-pay-info dl {
        padding-bottom: 5px;
    }

    .num,.order-list {
        word-wrap: break-word;
        word-break: break-all;
    }
</style>


<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">

        <div class="tab-pane fade active in" id="one">

            <section class="content">
                <div class="part-wrap control-wrap">
                    <ul class="type">
                        <li>订单平台</li>
                        <li class="{:$order_platform == 1 ? 'active' : ''} site">Zeelool</li>
                        <li class="site {:$order_platform == 2 ? 'active' : ''}">Voogueme</li>
                        <li class="site {:$order_platform == 3 ? 'active' : ''}">Nihao</li>
                        <!-- <li class="site">Wesee</li> -->
                    </ul>
                    <form id="form1" role="form" action="{:url('/admin/saleaftermanage/order_return/search')}"
                        class="form-commonsearch form-horizontal" method="post">
                        <input type="hidden" name="order_platform" id="order_platform" value="{$order_platform}" />
                        <div class="input-list">
                            <ul class="order-list">
                                <li>
                                    <span>订单号</span>
                                    <input id="increment_id" type="text" class="form-control" autocomplete="off"
                                        name="increment_id" value="{$increment_id}" />
                                </li>
                                <li>
                                    <span for="orderNum">快递单号</span>
                                    <input type="text" id="track_number" class="form-control" name="track_number"
                                        value="{$track_number}" />
                                </li>
                            </ul>
                            <ul class="order-list">
                                <li>
                                    <span>客户邮箱</span>
                                    <input type="text" id="customer_email" class="form-control" name="customer_email"
                                        value="{$customer_email}" />
                                </li>
                                <li>
                                    <span>客户电话</span>
                                    <input type="text" id="customer_phone" class="form-control" name="customer_phone"
                                        value="{$customer_phone}" />
                                </li>
                                <li>
                                    <span>客户姓名</span>
                                    <input type="text" id="customer_name" class="form-control" name="customer_name"
                                        value="{$customer_name}" />
                                </li>
                            </ul>
                        </div>
                        <div class="btn-wrap">
                            <button type="submit" class="btn btn-submit">提交</button>
                            <button type="reset" class="btn btn-default btn-embossed">重置</button>
                        </div>
                    </form>
                </div>
               <div id='div-list'>

               </div>
            </section>

            <div class="widget-body no-padding">

                {notempty name="infoSynergyTaskResult"}
                <table id="info-synergy-task" class="altrowstable"
                    data-operate-edit="{:$auth->check('saleaftermanage/order_return/edit')}"
                    data-operate-del="{:$auth->check('saleaftermanage/order_return/del')}" width="100%">
                    <thead>
                        <tr>
                            <th colspan="16"
                                style="font-size:16px;text-align: center; vertical-align: middle;background-color: #cccccc;">
                                协同任务列表</th>
                        </tr>
                        <tr>
                            <!-- <th style="text-align: center; vertical-align: middle;">序号</th> -->
                            <th style="text-align: center; vertical-align: middle;">任务状态</th>
                            <!-- <th style="text-align: center; vertical-align: middle;">协同任务单号</th> -->
                            <th style="text-align: center; vertical-align: middle;">关联单据类型</th>
                            <th style="text-align: center; vertical-align: middle;">关联单号</th>
                            <th style="text-align: center; vertical-align: middle;">订单SKUS</th>
                            <th style="text-align: center; vertical-align: middle;">平台类型</th>
                            <th style="text-align: center; vertical-align: middle;">承接部门</th>
                            <th style="text-align: center; vertical-align: middle;">承接人</th>
                            <th style="text-align: center; vertical-align: middle;">任务优先级</th>
                            <th style="text-align: center; vertical-align: middle;">任务分类</th>
                            <th style="text-align: center; vertical-align: middle;">问题描述</th>
                            <th style="text-align: center; vertical-align: middle;">创建人</th>
                            <th style="text-align: center; vertical-align: middle;">创建时间</th>
                            <th style="text-align: center; vertical-align: middle;">操作</th>
                        </tr>
                    </thead>
                    {foreach name="infoSynergyTaskResult" item="synergyTaskList" }
                    <tr>
                        <!-- <td style="text-align: center; vertical-align: middle;">{$synergyTaskList.id}</td> -->
                        <td style="text-align: center; vertical-align: middle;">{$synergyTaskList.synergy_status}
                        </td>
                        <!-- <td style="text-align: center; vertical-align: middle;">{$synergyTaskList.synergy_number}</td> -->
                        <td style="text-align: center; vertical-align: middle;">{$synergyTaskList.synergy_order_id}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            {$synergyTaskList.synergy_order_number}</td>
                        <td style="text-align: center; vertical-align: middle;">{$synergyTaskList.order_status}</td>
                        <td style="text-align: center; vertical-align: middle;">{$synergyTaskList.order_platform}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">{$synergyTaskList.dept_id}</td>
                        <td style="text-align: center; vertical-align: middle;">{$synergyTaskList.rep_id}</td>
                        <td style="text-align: center; vertical-align: middle;">{$synergyTaskList.prty_id}</td>
                        <td style="text-align: center; vertical-align: middle;">{$synergyTaskList.synergy_task_id}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">{$synergyTaskList.problem_desc}</td>
                        <td style="text-align: center; vertical-align: middle;">{$synergyTaskList.create_person}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">{$synergyTaskList.create_time}</td>
                        <td style="text-align: center; vertical-align: middle;"><a
                                href="{:url('infosynergytaskmanage/info_synergy_task/index')}?synergy_order_number={$synergyTaskList.synergy_order_number}"
                                class="btn btn-primary btn-xs btn-click btn-addtabs" data-table-id="table"
                                data-field-index="11" data-row-index="0" data-button-index="3" title="协同任务"><i
                                    class="fa fa-list"></i>查看</a></td>
                    </tr>
                    {/foreach}
                </table>
                {/notempty}
                {notempty name="saleAfterTaskResult"}
                <table id="sale-after-task" class="altrowstable"
                    data-operate-edit="{:$auth->check('saleaftermanage/order_return/edit')}"
                    data-operate-del="{:$auth->check('saleaftermanage/order_return/del')}" width="100%">
                    <thead>
                        <tr>
                            <th colspan="16"
                                style="font-size:16px;text-align: center; vertical-align: middle;background-color: #cccccc;">
                                售后任务列表</th>
                        </tr>
                        <tr>
                            <!-- <th style="text-align: center; vertical-align: middle;">序号</th> -->
                            <!-- <th style="text-align: center; vertical-align: middle;">任务单号</th> -->
                            <th style="text-align: center; vertical-align: middle;">任务状态</th>
                            <th style="text-align: center; vertical-align: middle;">订单平台</th>
                            <th style="text-align: center; vertical-align: middle;">订单号</th>
                            <th style="text-align: center; vertical-align: middle;">订单SKU</th>
                            <th style="text-align: center; vertical-align: middle;">客户姓名</th>
                            <th style="text-align: center; vertical-align: middle;">客户邮箱</th>
                            <th style="text-align: center; vertical-align: middle;">订单状态</th>
                            <th style="text-align: center; vertical-align: middle;">责任部门</th>
                            <th style="text-align: center; vertical-align: middle;">承接人</th>
                            <!-- <th style="text-align: center; vertical-align: middle;">任务优先级</th> -->
                            <th style="text-align: center; vertical-align: middle;">问题分类</th>
                            <th style="text-align: center; vertical-align: middle;">问题描述</th>
                            <th style="text-align: center; vertical-align: middle;">解决方案</th>
                            <th style="text-align: center; vertical-align: middle;">创建人</th>
                            <th style="text-align: center; vertical-align: middle;">创建时间</th>
                            <th style="text-align: center; vertical-align: middle;">操作</th>
                        </tr>
                    </thead>
                    {foreach name="saleAfterTaskResult" item="saleTaskList"}
                    <tr>
                        <!-- <td style="text-align: center; vertical-align: middle;">{$saleTaskList.id}</td> -->
                        <!-- <td style="text-align: center; vertical-align: middle;">{$saleTaskList.task_number}</td> -->
                        <td style="text-align: center; vertical-align: middle;">{$saleTaskList.task_status}</td>
                        <td style="text-align: center; vertical-align: middle;">{$saleTaskList.order_platform}</td>
                        <td style="text-align: center; vertical-align: middle;">{$saleTaskList.order_number}</td>
                        <td style="text-align: center; vertical-align: middle;">{$saleTaskList.order_skus}</td>
                        <td style="text-align: center; vertical-align: middle;">{$saleTaskList.customer_name}</td>
                        <td style="text-align: center; vertical-align: middle;">{$saleTaskList.customer_email}</td>
                        <td style="text-align: center; vertical-align: middle;">{$saleTaskList.order_status}</td>
                        <td style="text-align: center; vertical-align: middle;">{$saleTaskList.dept_id}</td>
                        <td style="text-align: center; vertical-align: middle;">{$saleTaskList.rep_id}</td>
                        <!-- <td style="text-align: center; vertical-align: middle;">{$saleTaskList.prty_id}</td> -->
                        <td style="text-align: center; vertical-align: middle;">{$saleTaskList.problem_id}</td>
                        <td style="text-align: center; vertical-align: middle;">{$saleTaskList.problem_desc}</td>
                        <td style="text-align: center; vertical-align: middle;">{$saleTaskList.handle_scheme}</td>
                        <td style="text-align: center; vertical-align: middle;">{$saleTaskList.create_person}</td>
                        <td style="text-align: center; vertical-align: middle;">{$saleTaskList.create_time}</td>
                        <td style="text-align: center; vertical-align: middle;"><a
                                href="{:url('saleaftermanage/sale_after_task/index')}?task_number={$saleTaskList.task_number}"
                                class="btn btn-primary btn-xs btn-click btn-addtabs" data-table-id="table"
                                data-field-index="11" data-row-index="0" data-button-index="3" title="售后任务"><i
                                    class="fa fa-list"></i>查看</a></td>
                    </tr>
                    {/foreach}
                </table>
                {/notempty}
                {notempty name="orderReturnResult"}
                <table id="order-return-task" class="altrowstable"
                    data-operate-edit="{:$auth->check('saleaftermanage/order_return/edit')}"
                    data-operate-del="{:$auth->check('saleaftermanage/order_return/del')}" width="100%">
                    <thead>
                        <tr>
                            <th colspan="16"
                                style="font-size:16px;text-align: center; vertical-align: middle;background-color: #cccccc;">
                                退货任务列表</th>
                        </tr>
                        <tr>
                            <th style="text-align: center; vertical-align: middle;">序号</th>
                            <th style="text-align: center; vertical-align: middle;">退货单号</th>
                            <th style="text-align: center; vertical-align: middle;">订单号</th>
                            <th style="text-align: center; vertical-align: middle;">订单平台</th>
                            <th style="text-align: center; vertical-align: middle;">客户邮箱</th>
                            <th style="text-align: center; vertical-align: middle;">问题描述</th>
                            <th style="text-align: center; vertical-align: middle;">退件状态</th>
                            <th style="text-align: center; vertical-align: middle;">记录创建人</th>
                            <th style="text-align: center; vertical-align: middle;">创建日期</th>
                        </tr>
                    </thead>
                    {foreach name="orderReturnResult" item="orderReturnList"}
                    <tr>
                        <td style="text-align: center; vertical-align: middle;">{$orderReturnList.id}</td>
                        <td style="text-align: center; vertical-align: middle;">
                            {$orderReturnList.return_order_number}</td>
                        <td style="text-align: center; vertical-align: middle;">{$orderReturnList.increment_id}</td>
                        <td style="text-align: center; vertical-align: middle;">{$orderReturnList.order_platform}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">{$orderReturnList.customer_email}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">{$orderReturnList.return_remark}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">{$orderReturnList.status}</td>
                        <td style="text-align: center; vertical-align: middle;">{$orderReturnList.create_person}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">{$orderReturnList.create_time}</td>
                    </tr>
                    {/foreach}
                </table>
                {/notempty}


            </div>
        </div>

    </div>


</div>