<style>
    .content {
        max-width: 100%;
    }
</style>
<link rel="stylesheet" href="/assets/css/control.css">
<style type="text/css">
    table.altrowstable {
        margin: 0 auto;
        width: 100%;
        font-family: verdana, arial, sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #247692;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    table.altrowstable th {
        border-width: 1px;
        padding: 8px;
        font-size: 14px;
        border-style: solid;
        border-color: #d2d6de;
    }

    table.altrowstable td {
        border-width: 1px;
        padding: 8px;
        text-align: center;
        font-size: 12px;
        border-style: solid;
        border-color: #ddd;
    }

    table.altrowstable1 {
        margin: 0 auto;
        width: 100%;
        font-family: verdana, arial, sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #247692;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    table.altrowstable1 th {
        border-width: 1px;
        padding: 8px;
        font-size: 14px;
        border-style: solid;
        border-color: #d2d6de;
    }

    table.altrowstable1 td {
        border-width: 1px;
        padding: 8px;
        text-align: center;
        font-size: 12px;
        border-style: solid;
        border-color: #ddd;
    }

    table.altrowstable tr:nth-child(odd) {
        background-color: #eeeeee;
    }

    table.altrowstable tr:nth-child(even) {
        background-color: #ffffff;
    }

    .class-body:nth-child(odd) {
        background-color: #ffffff;
    }

    .class-body:nth-child(even) {
        background-color: #eeeeee;
    }

    body {
        font-size: 14px;
    }

    .detail-wrap {
        display: none;
    }

    .panel-body {
        padding: 0;
    }

    .content {
        background-color: #f1f4f6;
        padding: 0;
    }

    .panel-intro {
        background-color: #f1f4f6;
    }

    #ribbon {
        padding: 15px;
    }

    body .control-wrap,
    .infos-wrap,
    .order-list-wrap {
        margin: 10px 22px;
        padding: 33px 22px !important;
    }

    body .order-list-wrap {
        padding-top: 0 !important;
    }

    body .order-list-wrap h2 {
        border-bottom: 1px solid #ddd;
    }

    body .order-list-wrap ul.order-list .detail-wrap table tr td .pres-type td,
    body .order-list-wrap ul.order-list .detail-wrap table .pres-type th {
        padding: 4px !important;
        font-size: 12px;
    }

    body .order-list-wrap ul.order-list .detail-wrap table tr td {
        font-size: 12px;
    }

    body .order-list-wrap ul.order-list .detail-wrap table tr td.pd span {
        font-size: 12px;
    }

    body .order-list-wrap ul.order-list .detail-wrap table tr .pres-type {
        padding: 15px;
    }

    dl {
        margin-bottom: 0px;
    }

    .address-pay-info ul,
    body .order-list-wrap ul.order-list .detail-wrap .address-pay-info dl {
        padding: 15px;
    }

    body .order-list-wrap ul.order-list .detail-wrap .address-pay-info dl dt:last-of-type {
        padding-top: 10px;
    }

    body .order-list-wrap ul.order-list .detail-wrap .address-pay-info dl {
        padding-bottom: 5px;
    }

    .num,.order-list {
        word-wrap: break-word;
        word-break: break-all;
    }
</style>


<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">

        <div class="tab-pane fade active in" id="one">

            <section class="content">
                <div class="part-wrap control-wrap">
                    <ul class="type">
                        <li>订单平台</li>
                        <li class="{:$order_platform == 1 ? 'active' : ''} site">Zeelool</li>
                        <li class="site {:$order_platform == 2 ? 'active' : ''}">Voogueme</li>
                        <li class="site {:$order_platform == 3 ? 'active' : ''}">Nihao</li>
                        <li class="site {:$order_platform == 4 ? 'active' : ''}">Meeloog</li>
                        <!-- <li class="site">Wesee</li> -->
                    </ul>
                    <form id="form1" role="form" action="{:url('/admin/saleaftermanage/order_return/search')}"
                        class="form-commonsearch form-horizontal" method="post">
                        <input type="hidden" name="order_platform" id="order_platform" value="{$order_platform}" />
                        <div class="input-list">
                            <ul class="order-list">
                                <li>
                                    <span>订单号</span>
                                    <input id="increment_id" type="text" class="form-control" autocomplete="off"
                                        name="increment_id" value="{$increment_id}" />
                                </li>
                                <li>
                                    <span>快递单号</span>
                                    <input type="text" id="track_number" class="form-control" name="track_number"
                                        value="{$track_number}" />
                                </li>
                                <li>
                                    <span>交易号</span>
                                    <input type="text" id="transaction_id" class="form-control" name="transaction_id"
                                           value="{$transaction_id}" />
                                </li>
                            </ul>
                            <ul class="order-list">
                                <li>
                                    <span>客户邮箱</span>
                                    <input type="text" id="customer_email" class="form-control" name="customer_email"
                                        value="{$customer_email}" />
                                </li>
                                <li>
                                    <span>客户电话</span>
                                    <input type="text" id="customer_phone" class="form-control" name="customer_phone"
                                        value="{$customer_phone}" />
                                </li>
                                <li>
                                    <span>客户姓名</span>
                                    <input type="text" id="customer_name" class="form-control" name="customer_name"
                                        value="{$customer_name}" />
                                </li>
                            </ul>
                        </div>
                        <div class="btn-wrap">
                            <button type="submit" class="btn btn-submit">提交</button>
                            <button type="reset" class="btn btn-default btn-embossed">重置</button>
                        </div>
                    </form>
                </div>
               <div id='div-list'>

               </div>
            </section>

            
        </div>

    </div>


</div>