<style>
    .table_list {
        padding: 10px;
        width: 100%;
        margin-bottom: 10px;
    }

    .table_list #table_list-table {
        width: 100%;
        height: 130px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        text-align: center;

    }

    .table_list #table_list-table tr {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        line-height: 50px;
    }

    .table_list #table_list-table tr th {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        text-align: center;
        font-size: 14px;
    }

    .table_list #table_list-table tr td {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
    }

    .table_list #table_list-table tr td input {

        width: 150px;
    }
</style>
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">实体仓调拨入库单号:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-transfer_order_number" class="form-control" readonly name="row[transfer_in_order_number]"
                   value="{$row.transfer_order_number}" type="text">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">创建人:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="response_person" class="form-control" name="row[create_person]" value="{$row.create_person}" type="text">
        </div>
    </div>
    <hr>
    <div class='table_list' style="width: 80%;margin-left: 10%;">
        <p style="font-size: 16px;text-align: center;"><b>sku信息</b></p>
        <div style="margin-bottom: 20px;">
            <table id="table_list-table" class="purchase-table">
                <tr>
                    <th>SKU</td>
                    <th>入库数量</td>
                </tr>
                {foreach $item as $k => $v}
                <tr>
                    <input  class="form-control item_id" name="item_id[]" value="{$v.id}" type="hidden">
                    <td>
                        <input class="form-control sku" name="sku[]" value="{$v.sku}" type="text">
                    </td>
                    <td><input class="form-control num" name="num[]" type="text" value="{$v.in_num}"></td>

                </tr>
                {/foreach}
            </table>
        </div>
    </div>
</form>
