<!-- Main content -->
<section class="content">

    <div class="row">
        <form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
            <div class="col-md-2">

                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle" src="/assets/img/avatar.png" alt="User profile picture">

                        <h3 class="profile-username text-center">{$ticket->username}</h3>


                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <i class="fa fa-envelope margin-r-5"></i> {$ticket->email}
                            </li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

                <!-- About Me Box -->
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <strong>CCs</strong>
                        <p class="text-muted">
                            <input   class="form-control" id='ccs' name="row[email_cc]" type="text" value="{$rows.email_cc}">
                        </p>

                        <hr>
                        <strong>tags</strong>
                        <p class="text-muted">
                            {:Form::select('row[tags][]', $tags, explode(',',$ticket->tags), ['class'=>'form-control selectpicker ticket-tags', null,'multiple' => true,'data-live-search' => true,'id'=>'Entry_tags_select'])}
                        </p>

                        <hr>

                        <strong>priority</strong>
                        <p class="text-muted">
                            <select class="form-control ticket-priority selectpicker" data-live-search="1" data-rule="required" name="row[priority]">
                                {if condition="$ticket->priority == 0"}
                                <option value="0" {$ticket->priority == 0 ? 'selected' : ''}>- </option>
                                {/if}
                                <option value="1" {$ticket->priority == 1 ? 'selected' : ''}>low</option>
                                <option value="2" {$ticket->priority == 2 ? 'selected' : ''}>normal</option>
                                <option value="3" {$ticket->priority == 3 ? 'selected' : ''}>high</option>
                                <option value="4" {$ticket->priority == 4 ? 'selected' : ''}>urgent</option>
                            </select>
                        </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-7 col-center">
                <div class="nav-tabs-custom">
                    <div class="box box-solid">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="user-block pull-left">
                                <img class="img-circle img-bordered-sm" src="/assets/img/avatar.png" alt="User Image" style="margin-left: 26px;margin-top: -4px;">
                                <span class="username">
                                  <span href="#"><input id="c-subject" data-rule="required" value="{$ticket->subject}" class="form-control ticket-subject" name="row[subject]" type="text" style="margin-left:23px"></span>
                                </span>
                                <span class="description">{$ticket->zendesk_update_time} · {$ticket->username} {$ticket->email} · {$ticket->channel}</span>
                            </div>
                            <div class="user-block pull-right">
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                                    合并工单
                                </button>
                            </div>
                        </div>
                        {if condition="in_array($ticket->rating,['bad','good'])"}
                        <div class="callout" style="background-color:#fffcf3;">
                            <h4>Rating! <button type="button" class="btn btn-block btn-warning btn-flat">{$ticket->rating}</button></h4>
                            {$ticket->comment}
                        </div>
                        {/if}
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">{:__('ticket id')}：</label>
                            <div class="col-xs-12 col-sm-8">
                                <input class="form-control" size="35" name="" type="text" value="{$ticket->ticket_id}" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">{:__('pulbic_type')}：</label>
                            <div class="col-xs-12 col-sm-8">
                                {:Form::select('row[public_type]', config('zendesk.pulbic_type'), null, ['class'=>'form-control selectpicker', null,'data-live-search' => true,'id'=>'Entry_type_select'])}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">{:__('Status')}：</label>
                            <div class="col-xs-12 col-sm-8">
                                <select class="form-control ticket-status selectpicker" data-live-search="1" data-rule="required" name="row[status]">
                                    {if condition="$ticket->status ==1"}
                                    <option value="1">new</option>
                                    {/if}
                                    <option value="2">open</option>
                                    <option value="3">pending</option>
                                    <option value="4" selected>solved</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">回复内容：</label>
                            <div class="col-xs-12 col-sm-9">
                                <textarea id="c-content" class="form-control editor ticket-content" rows="5" name="row[content]" cols="50"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="c-image" class="control-label col-xs-12 col-sm-2">上传附件：</label>
                            <div class="col-xs-12 col-sm-8">
                                <div class="input-group uploadBox">
                                    <input id="c-image" class="form-control" size="35" name="row[image]" type="text" value="">
                                    <div class="input-group-addon no-border no-padding upload">
                                        <span><button type="button" id="plupload-image" class="btn btn-danger plupload" data-input-id="c-image" data-mimetype="*" data-multiple="true"  data-preview-id="p-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                                    </div>
                                    <span class="msg-box n-right"></span>
                                </div>
                                <ul class="row list-inline plupload-preview" id="p-image"></ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">创建工单：</label>
                            <div class="col-xs-12 col-sm-8">
                                <a href="javascript:;" class="btn btn-primary btn-add create_ticket" title="{:__('创建工单')}">{:__('创建工单')} </a>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">选择模板：</label>
                            <div class="col-xs-12 col-sm-8">
                                <select id="Entry_status_select" class="form-control selectpicker macro-apply" data-live-search="true" title="选择模板">
                                    <optgroup label="常用模板">
                                        {foreach name="templates" item="vo" key="key"}
                                        {if condition="$key <= 4"}
                                        <option value="{$vo.id}">{$vo.title}</option>
                                        {/if}
                                        {/foreach}
                                    </optgroup>
                                    <optgroup label="所有模板">
                                        {foreach name="templates" item="vo" key="key"}
                                        {if condition="$key > 4"}
                                        <option value="{$vo.id}">{$vo.title}</option>
                                        {/if}
                                        {/foreach}
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        {if condition="$ticket->status != 5"}
                        <div class="form-group layer-footer">
                            <div class="col-xs-12 col-sm-8">
                                <button type="submit" style="margin-left:530px;" class="btn btn-success btn-embossed disabled">发送邮件</button>
                            </div>
                        </div>
                        {/if}
                        <!-- /.box-body -->
                    </div>
                    <br />
                    <div class="tab-content">
                        <div class="active tab-pane" id="activity">
                            <!-- Post -->
                            {foreach name="comments" item="vo"}
                            <div class="post">
                                <div class="user-block">
                                    {if condition="$vo['is_admin']"}
                                    <img class="img-circle img-bordered-sm" src="{:session('admin.avatar')}" alt="user image">
                                    {else/}
                                    <img class="img-circle img-bordered-sm" src="/assets/img/avatar.png" alt="user image">
                                    {/if}
                                    <span class="username">
                                        {if condition="$vo['is_admin']"}
                                      <a href="#">{$vo->agent->agent->account_user}</a>
                                        {else/}
                                        <a href="#">{$ticket->username}</a>
                                        {/if}
                                    </span>
                                    <span class="description">{$vo->update_time}</span>
                                </div>
                                <!-- /.user-block -->
                                <div style="margin:0px 0px 0px 70px;">
                                   {$vo->html_body}
                                    {if condition="$vo.attachments"}
                                    <ul class="mailbox-attachments clearfix">
                                        {foreach name="$vo['attachments']|explode=',',###" item="vv"}
                                        {if condition="in_array(pathinfo($vv,PATHINFO_EXTENSION),['jpg','jpeg','git','png','bmp'])"}
                                        <li>
                                            <span class="mailbox-attachment-icon has-img"><img src="{$vv}" alt="Attachment"></span>
                                            <div class="mailbox-attachment-info">
                                                <a href="{$vv}" target="_blank" class="mailbox-attachment-name"><i class="fa fa-camera"></i> {$vv|basename|substr='-10'}</a>
                                                <span class="mailbox-attachment-size">
                                                    附件
                                                  <a href="{$vv}"  download="{$vv}" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                                                </span>
                                            </div>
                                        </li>
                                        {else/}
                                        <li>
                                            <span class="mailbox-attachment-icon"><i class="fa fa-file-o"></i></span>
                                            <div class="mailbox-attachment-info">
                                                <a href="#" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {$vv|basename|substr='-10'}</a>
                                                <span class="mailbox-attachment-size">
                                                    附件
                                                    <a href="{$vv}"  download="{$vv}" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                                                </span>
                                            </div>
                                        </li>
                                        {/if}
                                        {/foreach}
                                    </ul>
                                    {/if}
                                </div>
                            </div>

                            {/foreach}
                            <!-- /.post -->
                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
        </form>
        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Five Most Recent</h3>
                </div>
                <div class="box-body box-profile">
                    <ul class="list-group list-group-unbordered">
                        {foreach name="recentTickets" item="vo"}
                        <li class="list-group-item">
                            <!-- <b><a class="change-ticket" data-status="{$vo->status}" data-title="回复【{$vo->ticket_id}】{$vo->subject}" href="{:url('zendesk/zendesk/edit',['ids' => $vo->id,'btn' => 1])}">#{$vo->ticket_id}  {$vo->subject}</a> </b><a class="pull-right">{$vo->status_format}</a> -->
                            <b><a class="" target="_blank"  title="回复【{$vo->ticket_id}】{$vo->subject}" href="{:url('zendesk/zendesk/edit',['ids' => $vo->id,'btn' => 1])}">#{$vo->ticket_id}  {$vo->subject}</a> </b><a class="pull-right">{$vo->status_format}</a>
                        </li>
                        {/foreach}
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>

            <!-- About Me Box -->
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Order</h3>

                    <div class="box-tools">
                        <div class="input-group input-group-xs" style="width: 200px;">
                            <input type="text" disabled="" class="form-control pull-right" placeholder="{$ticket->email}">
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover order_info">
                        <tr>
                            <th>Number</th>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>
                        {foreach name="orders" item="vo"}
                        <tr>
                            <td><a href="{$orderUrl}{$vo->entity_id}" target="_blank">{$vo->increment_id}</a></td>
                            <td>{$vo->created_at|strtotime|date='d/m/Y',###}</td>
                            <td>{$vo->order_currency_code}{$vo->grand_total|substr=0,-2}</td>
                            <td>{$vo->status}</td>
                        </tr>
                        {/foreach}
                        <tr><td  style="width: 100px;text-align: center;"><a class="" href="{:url('saleaftermanage/order_return/search',['type' => $rows.type,'email' => $ticket->email])}&ref=addtabs" target="_blank">查看用户信息</a></td></tr>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="modal fade in" id="modal-default" style="padding-right: 17px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Ticket merge</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info alert-dismissible">
                        <h4>#{$ticket->ticket_id}</h4>
                        <h4>{$ticket->create_time} · {$ticket->username}</h4>
                        {$ticket->subject}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Enter ticket id to merge into:</label>
                        <div class="input-group input-group-xs">
                            <input  data-rule="required" class="form-control merge-input" name="row[name]" type="text" value="">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-flat merge" data-subject="{$ticket->subject}" data-pid="{$ticket->ticket_id}">Merge</button>
                            </span>
                        </div>

                    </div>
                    <p class="text-green">———————————————————— OR ————————————————————</p>
                    <div class="row">
                        {foreach name="tickets" item="vo"}
                        <div class="col-sm-4 col-md-6">
                            <div class="color-palette-set">
                                <div class=""><span class="label label-primary">#{$vo->ticket_id}</span></div>
                                <div class=""><span class="label text-green">{$vo->zendesk_update_time} {$vo->username}</span></div>
                                <div class="merge" data-subject="{$ticket->subject}" data-pid="{$ticket->ticket_id}" data-nid="{$vo->ticket_id}"><a href=""><b>{$vo->subject}</b></a></div>
                            </div>
                        </div>
                        {/foreach}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade in" id="modal-default2" style="padding-right: 17px;">
        <div class="modal-dialog">
            <form action="{:url('zendesk/zendesk/test')}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Ticket merge</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning alert-dismissible">
                        You are about to merge ticket #{$ticket->ticket_id} into ticket <sapn class="merge-ticket-id"></sapn>
                    </div>
                    <div class="row">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <span class="label label-primary">#{$ticket->ticket_id}</span>
                                {$ticket->subject}
                            </div>
                            <!-- /.box-header -->
                                <div class="box-body">
                                    <input type="hidden" name="row[merge_to_id]" class="pid" value="{$ticket->ticket_id}">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">This ticket will be closed with the following comment: </label>
                                        <textarea type="test" name="row[merge_to]" class="form-control close-content merge-content-to" id="exampleInputEmail1"></textarea>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"  name="row[merge_to_check]" checked> Requester can see this comment
                                        </label>
                                    </div>
                                </div>
                        </div>
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <span class="label label-primary merge-ticket-id"></span>
                                <span class="merge-title merge-subject"></span>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <input type="hidden" name="row[merge_in_id]" value="" class="nid">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">This ticket will be updated with the following comment:  </label>
                                    <textarea type="text" class="form-control merge-content-in" name="row[merge_in]"> </textarea>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="row[merge_in_check]" checked> Requester can see this comment
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Close</button>
                    <button type="submit" class="btn btn-success btn-merge-submit">Confirm and Merge</button>
                </div>
            </div>
            </form>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
<!--    知识库弹出层-->
    <div class="modal fade in" id="modal-default-knowledge" style="padding-right: 17px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">知识库</h4>
                </div>
                <div class="modal-body row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <div class="input-group input-group-xs">
                                <input required  class="form-control post-search-input" name="" type="text" value="">
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-flat post-search">Search</button>
                            </span>
                            </div>

                        </div>
                        <p class="text-green">——————— OR ———————</p>
                        <style>
                            .card:hover{
                                background-color: #f0f0f0;
                                border:1px solid #3b8ab8;
                                cursor:pointer;
                            }
                            .card{
                                padding:10px;
                                border:1px solid #f0f0f0;
                                border-radius: 5px;
                                margin-bottom:5px;
                            }
                        </style>
                        <div class="pre-scrollable search-posts">

                        </div>
                    </div>
                    <style>
                        .show-posts{
                            height: auto;
                            max-width: 100%;
                        }
                        .show-posts img,.ytp-cued-thumbnail-overlay-image{
                            width:auto;
                            width:100%;
                        }
                    </style>
                    <div class="col-md-7  show-posts" style="overflow-y:auto;height:400px;">


                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <input type="hidden" class="ticket_id" value="{$ticket->ticket_id}">
    <input type="hidden" class="search-post-type" value="{$ticket->type}">
</section>
<style>
    .col-center{
        border-right: 2px solid #ccc;
        border-left: 2px solid #ccc;
    }
    .col-center .box-body{
        padding: 10px 8.5%!important;
    }
    .col-center .description{
        margin-top: 10px;
        margin-left: 90px;
    }
    .col-center .username{
        margin-left: 67px;
    }
    .col-center .form-group{
        margin-bottom: 20px!important;
    }
    .col-center .tab-content{
        padding: 10px 9.5%;
    }
    .col-center .box-solid{
        padding-bottom: 10px;
    }
    .col-center .upload{
        margin-left: 10px;
    }
    .col-center .uploadBox{
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    .col-center .uploadBox input{
        width: 96%;
    }
</style>
<!-- /.content -->