<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        {:build_heading()}
        <ul class="nav nav-tabs" >
            <li class="active"><a href="#t-all" data-value="" data-field="" data-toggle="tab">{:__('All')}</a></li>
            {foreach name="getTabList" item="vo"}
            <li><a href="#t-{$key}" data-value="{$vo.value}" data-field="{$vo.field}" data-toggle="tab">{$vo.name}</a></li>
            {/foreach}
        </ul>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        <a href="{:url('zendesk/zendesk/add',['type' => 1])}" class="btn btn-info  {:$auth->check('zendesk/zendesk/add')?'':'hide'}"  data-area = '["100%","100%"]' title="zeelool发送"   target="_blank"><i class="fa fa-plus"></i> zeelool发送</a>
                        <a href="{:url('zendesk/zendesk/add',['type' => 2])}" class="btn btn-warning  {:$auth->check('zendesk/zendesk/add')?'':'hide'}" data-area = '["100%","100%"]' title="voogueme发送" target="_blank" ><i class="fa fa-plus"></i> voogueme发送</a>
                        <a href="{:url('zendesk/zendesk/add',['type' => 3])}" class="btn btn-danger  {:$auth->check('zendesk/zendesk/add')?'':'hide'}" data-area = '["100%","100%"]' title="nihao发送" target="_blank" ><i class="fa fa-plus"></i> nihao发送</a>
                        <a class="btn btn-success btn-change btn-start"  data-url="{:url('zendesk/zendesk/moreTasks')}" href="javascript:;"><i class="fa fa-play"></i> 申请工单</a>
                    </div>
                        <table id="table" class="table table-striped table-bordered table
                        -hover table-nowrap"
                               data-operate-edit="{:$auth->check('zendesk/zendesk/edit')}"
                               data-operate-del="{:$auth->check('zendesk/zendesk/del')}"
                               width="100%">
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script id="tagstpl" type="text/html">
        <!--form表单必须添加form-commsearch这个类-->
    <form action="" class="form-commonsearch">
            <!--给select一个固定的高度-->
            <select id="c-flag" class="form-control selectpicker" name="tags" data-live-search="true">
                <option value="">选择</option>
                {foreach name="tags" item="vo" key="i"}
                <option value="{$i}">{$vo}</option>
                {/foreach}
            </select>

    </form>
</script>
<script id="statustypetpl" type="text/html">
    <!--form表单必须添加form-commsearch这个类-->
    <form action="" class="form-commonsearch">
        <!--给select一个固定的高度-->
        <select id="c-statustype" class="form-control selectpicker" name="statustype" data-title="请选择">
            <option value="1">待处理</option>
            <option value="2">新增</option>
            <option value="3">已处理</option>
            <option value="4">待分配</option>
        </select>
    </form>
</script>

