{foreach name="orders" item="vo"}
<tr>
    <td><a href="{$orderUrl}{$vo['entity_id']}" target="_blank">{$vo['increment_id']}</a></td>
    <td>{$vo['created_at']|strtotime|date='d/m/Y',###}</td>
    <td>{$vo['order_currency_code']}{$vo['grand_total']|substr=0,-2}</td>
    <td>{$vo['status']}</td>
    {if condition="$vo['status'] eq 'complete'"}
    <td>{$vo['increment_id']}</td>
    {/if}
    {if condition="$vo['status'] eq 'processing'"}
    <td><font style="color: #3C8DBC"><a  class="batch-log-recipient" data-value="{$vo['increment_id']}">配货记录</a></font></td>
    {/if}
</tr>
{/foreach}