<style>
    .save{
        display: block;
        margin:auto;
        margin-top: 10px;
    }
</style>
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        {:build_heading()}
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                        <p style="font-size: 16px;text-align: left;"><b>zeelool</b></p>
                        <input id="c-template_content" data-rule="required" class="form-control editor" name="row[template_content]" type="text" value="">
                        <button type="submit" class="btn btn-success btn-embossed save">保存</button>
                    </form>
                    <form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                        <p style="font-size: 16px;text-align: left;"><b>voogueme</b></p>
                        <input id="c-template_content" data-rule="required" class="form-control editor" name="row[template_content]" type="text" value="">
                        <button type="submit" class="btn btn-success btn-embossed save">保存</button>
                    </form>
                    <form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                        <p style="font-size: 16px;text-align: left;"><b>nihao</b></p>
                        <input id="c-template_content" data-rule="required" class="form-control editor" name="row[template_content]" type="text" value="">
                        <button type="submit" class="btn btn-success btn-embossed save">保存</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>