<style type="text/css">
    .echart-style td{
        width:60px;
    }
    .margin-div{
        margin-top: 30px;
    }
    .btn-div {
        line-height: 50px;
        background: inherit;
        background-color: rgba(255, 255, 255, 1);
        border: none;
        border-radius: 4px;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.349019607843137);
        border-width: 0px;
        font-family: 'Arial Negreta', 'Arial';
        font-weight: 700;
        font-style: normal;
    }
    .btn-div.div{
        margin-right: 30px;
        margin-left: 30px;
        width: 15%;
    }
    .btn-div.div1{
        margin-right: 30px;
        margin-left: 30px;
        margin-top: 20px;
        width: 25%;
    }
    .btn-div.div2{
        margin-right: 60px;
        margin-left: 60px;
        margin-top: 20px;
        width: 25%;
    }
    .title{
        font-size: 18px;
        height: 194px;
        color: rgb(127, 127, 127);
    }
    .amount{
        color: red;
        line-height: 112px;
        font-size: 20px;
    }
    .amount1{
        color: red;
        line-height: 85px;
        font-size: 20px;
    }
    .title1{
        font-size: 18px;
        line-height: 24px;
        text-align: left;
        margin: 10px 0px 0px 10px;
        color: rgb(127, 127, 127);
    }
    .title2{
        font-size: 18px;
        color: rgb(127, 127, 127);
    }
    .title3{
        font-size: 18px;
        height: 169px;
        color: rgb(127, 127, 127);
    }
    .title4{
        font-size: 18px;
        color: rgb(127, 127, 127);
    }
    .rate_class{
        font-size: 12px;
        display: none;
    }

    /*第一块*/
    .new-form-group{
        margin-top: 2%;
        float: left;
        min-width: 25%;
        height: 30px;
        line-height: 30px;
    }
    .new-form-group label{
        text-align: right;
    }
    .col-xs-4{
        width: 30%;
    }
    .new-col-xs-8{
        width: 60%;
    }
    .new-background{
        border-radius:2px;
        margin-bottom:10px;
        background:#f5f5f5;
        padding:20px;
    }
    /*表格*/
    table.altrowstable {
        margin: 0 auto;
        width: 100%;
        font-family: verdana, arial, sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #247692;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    table.altrowstable th {
        border-width: 1px;
        padding: 8px;
        font-size: 14px;
        border-style: solid;
        border-color: #d2d6de;
        text-align: center;
        vertical-align: middle;
        color: #666666;
    }
    table.altrowstable td {
        border-width: 1px;
        padding: 8px;
        text-align: center;
        font-size: 12px;
        border-style: solid;
        border-color: #ddd;
        vertical-align: middle;
        color: #666666;
    }
    table.altrowstable tr:nth-child(odd){
        background:#E9F1F4;
        background: #F5F5F5;
    }
    table.altrowstable tr:nth-child(even){
        background: #fff;
        background: #eee;
    }

    table.new-altrowstable{
        float: left;
        margin: 0 auto;
        width: 48%;
        font-family: verdana, arial, sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #247692;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    table.new-altrowstable th {
        border-width: 1px;
        padding: 8px;
        font-size: 14px;
        border-style: solid;
        border-color: #d2d6de;
        text-align: center;
        vertical-align: middle;
        color: #666666;
    }
    table.new-altrowstable td {
        border-width: 1px;
        padding: 8px;
        text-align: center;
        font-size: 12px;
        border-style: solid;
        border-color: #ddd;
        vertical-align: middle;
        color: #666666;
    }
    table.new-altrowstable tr:nth-child(odd){
        background:#E9F1F4;
        background: #F5F5F5;
    }
    table.new-altrowstable tr:nth-child(even){
        background: #fff;
        background: #eee;
    }
    table.height-table td{
        height: 76.5px;
    }
    .platform-select{
        padding: 6px 12px;
        font-size: 12px;
        color: #555555;
        background-color: #fff;
        border: 1px solid #ccc;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        width: 100px;
        float: right;
        margin-right: -155px;
        margin-top: -7px;
    }
    .wrap{
        margin:30px auto;
        position: relative;
        min-height: 300px;
    }
    .hLeft{
        position: absolute;
        left:0;
        top:-25px;
        width:50%;
    }
    .hRight{
        margin-left:50%;
    }
    .wenhao-class{
        width: 20px;
        float: right;
    }
</style>

<div class="panel panel-default panel-intro">
    {:build_heading()}
    <div class="panel-body">
        <div class="tab-pane fade active in" id="one">
             <div class="new-background">
                <b>库存总览</b>
                <div class="row">
                    <div class="margin-div" style="text-align: center">
                        <div class="btn btn-div div">
                            <span tabindex="0" data-bs-toggle="tooltip" title="呆滞库存指各销量级别SKU周转&#10天数超过标准部分的库存数量总&#10和">
                                <img src="/wenhao.jpg" class="wenhao-class">
                            </span>
                            <span class="extend">
                                <div class="title1">呆滞库存数量（个）<br/><br/><span style="color: red;font-size: 24px">{$stock_overview.dull_stock_count}</span><hr><span style="font-size: 14px;">高：{$stock_overview.dull_stock_count3}<br>中：{$stock_overview.dull_stock_count2}<br>低：{$stock_overview.dull_stock_count1}</span></div>
                            </span>
                        </div>
                        <div class="btn btn-div div">
                            <span class="extend">
                                <div class="title"><span style="float: left">库存总数量（个）</span><br/><span class="amount">{$stock_overview.stock_num}</span></div>
                            </span>
                        </div>
                        <div class="btn btn-div div">
                            <span tabindex="0" data-bs-toggle="tooltip" title="在途库存（数量/金额）指采购成&#10功供应商发货但未到仓库签收的&#10库存（数量/金额）">
                                <img src="/wenhao.jpg" class="wenhao-class">
                            </span>
                            <span class="extend">
                                <div class="title"><span style="float: left">在途库存数量（个）</span><br/><span class="amount">{$stock_overview.onway_stock_num}</span></div>
                            </span>
                        </div>
                        <div class="btn btn-div div">
                            <span tabindex="0" data-bs-toggle="tooltip" title="未入库库存（数量）指仓库已签收&#10但未入库的库存（数量）">
                                <img src="/wenhao.jpg" class="wenhao-class">
                            </span>
                            <span class="extend">
                                <div class="title"><span style="float: left">待入库数量（个）</span><br/><span class="amount">{$stock_overview.wait_stock_num}</span></div>
                            </span>
                        </div>
                        <div class="btn btn-div div">
                            <span class="extend">
                                <div class="title"><span style="float: left">库存单价（￥）</span><br/><span class="amount">{$stock_overview.stock_price}</span></div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="margin-div" style="text-align: center">
                        <div class="btn btn-div div">
                            <span class="extend">
                                <div class="title1">呆滞库存金额（￥）<br/><br/><span style="color: red;font-size: 24px">{$stock_overview.dull_stock_total}</span><hr><span style="font-size: 14px;">高：{$stock_overview.dull_stock_total3}<br>中：{$stock_overview.dull_stock_total2}<br>低：{$stock_overview.dull_stock_total1}</span></div>
                            </span>
                        </div>
                        <div class="btn btn-div div">
                            <span class="extend">
                                <div class="title"><span style="float: left">库存总金额（￥）</span><br/><span class="amount">{$stock_overview.stock_amount}</span></div>
                            </span>
                        </div>
                        <div class="btn btn-div div">
                            <span class="extend">
                                <div class="title"><span style="float: left">在途库存金额（￥）</span><br/><span class="amount">{$stock_overview.onway_stock_amount}</span></div>
                            </span>
                        </div>
                        <div class="btn btn-div div">
                            <span class="extend">
                                <div class="title"><span style="float: left">待入库金额（￥）</span><br/><span class="amount">{$stock_overview.wait_stock_amount}</span></div>
                            </span>
                        </div>
                        <div class="btn btn-div div">
                            <span class="extend">
                                <div class="title"><span style="float: left">在途库存单价（￥）</span><br/><span class="amount">{$stock_overview.onway_stock_price}</span></div>
                            </span>
                        </div>
                    </div>
                </div>
             </div>
            <div class="widget-body no-padding">
                <div class="new-background">
                    <div class="row">
                        <div class="form-group" style="float:left;width: 100%;" >
                            <label class="control-label col-xs-6">库存变化折线图</label>
                            <div style="float: right;display: flex;">
                                <div style="margin-right: 30px;">
                                    <label style="text-align: right;margin-right: 100px;">时间:</label>
                                    <div id="timetime5" role="form" style="float: right;margin-left: -91px;margin-top: -7px;">
                                        <input type="hidden" class="form-control operate" name="one_time-operate" data-name="time_str" value="RANGE" readonly="">
                                        <input type="text" autocomplete="off" class="form-control datetimerange" name="time_str"  id="time_str5" value="{$time_str}" data-index="14">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap">
                            <div class="row">
                                <div class="margin-div" style="text-align: center">
                                    <div id="echart1" style="height:300px;margin: 10px 0px 10px 0px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-background">
                <div style="display: flow-root;">
                    <div style="float: left;">
                        <label>仓库指标总览</label>
                    </div>
                    <div style="float: right;display: flex;">
                        <div style="margin-right: 30px;">
                            <label style="text-align: right;margin-right: 100px;">时间:</label>
                            <div id="timetime1" role="form" style="float: right;margin-left: -91px;margin-top: -7px;">
                                <input type="hidden" class="form-control operate" name="one_time-operate" data-name="time_str" value="RANGE" readonly="">
                                <input type="text" autocomplete="off" class="form-control datetimerange" name="time_str"  id="time_str1" value="{$time_str}" data-index="14">
                            </div>
                        </div>
                        <div>
                            <label style="float: right;margin-right: 120px">站点：</label>
                            <select data-rule="required" class="platform-select" id="order_platform">
                                {foreach name="magentoplatformarr" item="vo" key="key"}
                                <option value="{$vo.id}" {if condition="$key == 0"}selected="selected"{/if}>{$vo.name}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="margin-div" style="text-align: center">
                        <div class="btn btn-div div">
                            <span tabindex="0" data-bs-toggle="tooltip" title="库存周转率反映库存周转快慢程&#10度。公式：阶段内库存消耗数量/&#10阶段内平均库存数量">
                                <img src="/wenhao.jpg" class="wenhao-class">
                            </span>
                            <span class="extend">
                                <div class="title2">库存周转率<br/><span style="color: red;" id="turnover_rate">{$stock_measure_overview.turnover_rate}</span></div>
                            </span>
                        </div>
                        <div class="btn btn-div div">
                            <span class="extend">
                                <div class="title2">库存精度<br/><span style="color: red;">{$stock_measure_overview.stock_accuracy}</span></div>
                            </span>
                        </div>
                        <div class="btn btn-div div">
                            <span class="extend">
                                <div class="title2">库销比<br/><span style="color: red;" id="stock_sales_rate">{$stock_measure_overview.stock_sales_rate}</span></div>
                            </span>
                        </div>
                        <div class="btn btn-div div">
                            <span class="extend">
                                <div class="title2">缺货率<br/><span style="color: red;">{$stock_measure_overview.stockout_rate}</span></div>
                            </span>
                        </div>
                        <div class="btn btn-div div">
                            <span class="extend">
                                <div class="title2">虚拟仓库存周转率<br/><span style="color: red;" id="virtual_turnover_rate"></span></div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="margin-div" style="text-align: center">
                        <div class="btn btn-div div">
                            <span tabindex="0" data-bs-toggle="tooltip" title="库存周转天数反映库存周转一次&#10的时间长度。公式：阶段天数/库&#10存周转率">
                                <img src="/wenhao.jpg" class="wenhao-class">
                            </span>
                            <span class="extend">
                                <div class="title2">库存周转天数<br/><span style="color: red;" id="turnover_days_rate">{$stock_measure_overview.turnover_days_rate}</span></div>
                            </span>
                        </div>
                        <div class="btn btn-div div">
                            <span class="extend">
                                <div class="title2">sku库存精度<br/><span style="color: red;">{$stock_measure_overview.sku_accuracy}</span></div>
                            </span>
                        </div>
                        <div class="btn btn-div div">
                            <span class="extend">
                                <div class="title2">月度进销比<br/><span style="color: red;" id="month_in_out_rate">{$stock_measure_overview.month_in_out_rate}</span></div>
                            </span>
                        </div>
                        <div class="btn btn-div div">
                            <span class="extend">
                                <div class="title2">虚拟仓库存周转天数<br/><span style="color: red;" id="virtual_turnover_days_rate"></span></div>
                            </span>
                        </div>
                        <div class="btn btn-div div">
                            <span class="extend">
                                <div class="title2">虚拟仓月度进销比<br/><span style="color: red;" id="virtual_month_in_out_rate"></span></div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-background">
                <label>库存分级概况</label>
                <table class="altrowstable" width="100%">
                    <thead>
                    <tr>
                        <th>产品销量等级</th>
                        <th>SKU数量</th>
                        <th>百分比</th>
                        <th>库存</th>
                        <th>库存占比</th>
                        <th>库存金额（￥）</th>
                        <th>参考实时周转天数</th>
                        <th>呆滞库存</th>
                        <th>呆滞库存占比</th>
                        <th>呆滞金额</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>A+</td>
                        <td>{$stock_level_overview.a1_count}</td>
                        <td>{$stock_level_overview.a1_percent}</td>
                        <td>{$stock_level_overview.a1_stock_num}</td>
                        <td>{$stock_level_overview.a1_stock_percent}</td>
                        <td>{$stock_level_overview.a1_stock_price}</td>
                        <td>{$stock_level_overview.a1_turnover_day}</td>
                        <td>{$stock_level_overview.a1_dull_stock}</td>
                        <td>{$stock_level_overview.a1_dull_stock_rate}</td>
                        <td>{$stock_level_overview.a1_dull_total}</td>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td>{$stock_level_overview.a_count}</td>
                        <td>{$stock_level_overview.a_percent}</td>
                        <td>{$stock_level_overview.a_stock_num}</td>
                        <td>{$stock_level_overview.a_stock_percent}</td>
                        <td>{$stock_level_overview.a_stock_price}</td>
                        <td>{$stock_level_overview.a_turnover_day}</td>
                        <td>{$stock_level_overview.a_dull_stock}</td>
                        <td>{$stock_level_overview.a_dull_stock_rate}</td>
                        <td>{$stock_level_overview.a_dull_total}</td>
                    </tr>
                    <tr>
                        <td>B</td>
                        <td>{$stock_level_overview.b_count}</td>
                        <td>{$stock_level_overview.b_percent}</td>
                        <td>{$stock_level_overview.b_stock_num}</td>
                        <td>{$stock_level_overview.b_stock_percent}</td>
                        <td>{$stock_level_overview.b_stock_price}</td>
                        <td>{$stock_level_overview.b_turnover_day}</td>
                        <td>{$stock_level_overview.b_dull_stock}</td>
                        <td>{$stock_level_overview.b_dull_stock_rate}</td>
                        <td>{$stock_level_overview.b_dull_total}</td>
                    </tr>
                    <tr>
                        <td>C+</td>
                        <td>{$stock_level_overview.c1_count}</td>
                        <td>{$stock_level_overview.c1_percent}</td>
                        <td>{$stock_level_overview.c1_stock_num}</td>
                        <td>{$stock_level_overview.c1_stock_percent}</td>
                        <td>{$stock_level_overview.c1_stock_price}</td>
                        <td>{$stock_level_overview.c1_turnover_day}</td>
                        <td>{$stock_level_overview.c1_dull_stock}</td>
                        <td>{$stock_level_overview.c1_dull_stock_rate}</td>
                        <td>{$stock_level_overview.c1_dull_total}</td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td>{$stock_level_overview.c_count}</td>
                        <td>{$stock_level_overview.c_percent}</td>
                        <td>{$stock_level_overview.c_stock_num}</td>
                        <td>{$stock_level_overview.c_stock_percent}</td>
                        <td>{$stock_level_overview.c_stock_price}</td>
                        <td>{$stock_level_overview.c_turnover_day}</td>
                        <td>{$stock_level_overview.c_dull_stock}</td>
                        <td>{$stock_level_overview.c_dull_stock_rate}</td>
                        <td>{$stock_level_overview.c_dull_total}</td>
                    </tr>
                    <tr>
                        <td>D</td>
                        <td>{$stock_level_overview.d_count}</td>
                        <td>{$stock_level_overview.d_percent}</td>
                        <td>{$stock_level_overview.d_stock_num}</td>
                        <td>{$stock_level_overview.d_stock_percent}</td>
                        <td>{$stock_level_overview.d_stock_price}</td>
                        <td>{$stock_level_overview.d_turnover_day}</td>
                        <td>{$stock_level_overview.d_dull_stock}</td>
                        <td>{$stock_level_overview.d_dull_stock_rate}</td>
                        <td>{$stock_level_overview.d_dull_total}</td>
                    </tr>
                    <tr>
                        <td>E</td>
                        <td>{$stock_level_overview.e_count}</td>
                        <td>{$stock_level_overview.e_percent}</td>
                        <td>{$stock_level_overview.e_stock_num}</td>
                        <td>{$stock_level_overview.e_stock_percent}</td>
                        <td>{$stock_level_overview.e_stock_price}</td>
                        <td>{$stock_level_overview.e_turnover_day}</td>
                        <td>{$stock_level_overview.e_dull_stock}</td>
                        <td>{$stock_level_overview.e_dull_stock_rate}</td>
                        <td>{$stock_level_overview.e_dull_total}</td>
                    </tr>
                    <tr>
                        <td>F</td>
                        <td>{$stock_level_overview.f_count}</td>
                        <td>{$stock_level_overview.f_percent}</td>
                        <td>{$stock_level_overview.f_stock_num}</td>
                        <td>{$stock_level_overview.f_stock_percent}</td>
                        <td>{$stock_level_overview.f_stock_price}</td>
                        <td>{$stock_level_overview.f_turnover_day}</td>
                        <td>{$stock_level_overview.f_dull_stock}</td>
                        <td>{$stock_level_overview.f_dull_stock_rate}</td>
                        <td>{$stock_level_overview.f_dull_total}</td>
                    </tr>
                </table>
            <div>
                <div class="new-background">
                    <label>库存分级概况</label>
                    <table class="altrowstable" width="100%">
                        <thead>
                        <tr>
                            <th>产品销量等级</th>
                            <th>呆滞库存</th>
                            <th>呆滞库存占比</th>
                            <th>呆滞金额</th>
                            <th>高风险呆滞库存</th>
                            <th>高风险呆滞金额</th>
                            <th>中风险呆滞库存</th>
                            <th>中风险呆滞金额</th>
                            <th>低风险呆滞库存</th>
                            <th>低风险呆滞金额</th>
                        </tr>
                        </thead>
                        {foreach $stock_level_overview2 as $value}
                        <tr>
                            <td>{$value.grade}</td>
                            <td>{$value.stock}</td>
                            <td>{$value.stock_rate}</td>
                            <td>{$value.total}</td>
                            <td>{$value.high_stock}</td>
                            <td>{$value.high_total}</td>
                            <td>{$value.center_stock}</td>
                            <td>{$value.center_total}</td>
                            <td>{$value.low_stock}</td>
                            <td>{$value.low_total}</td>
                        </tr>
                        {/foreach}
                    </table>
                    <div>
                 <div class="new-background">
                    <label>库龄概况</label>
                    <table id="order-info-list" class="altrowstable" width="100%">
                        <thead>
                        <tr>
                            <th>库龄</th>
                            <th>SKU数量</th>
                            <th>百分比</th>
                            <th>库存</th>
                            <th>库存占比</th>
                            <th>库存金额（￥）</th>
                        </tr>
                        </thead>
                        {foreach $stock_age_overview as $value}
                        <tr>
                            <td>{$value.title}</td>
                            <td>{$value.count}</td>
                            <td>{$value.percent}%</td>
                            <td>{$value.stock}</td>
                            <td>{$value.stock_percent}%</td>
                            <td>{$value.total}</td>
                        </tr>
                        {/foreach}
                    </table>
                    <div> 
                <div class="widget-body no-padding">
                    <div class="new-background">

                        <div class="row">
                            <div class="form-group" style="float:left;width: 100%;" >
                                <label class="control-label col-xs-6">采购概况</label>
                                <div style="float: right;display: flex;">
                                    <div style="margin-right: 30px;">
                                        <label style="text-align: right;margin-right: 100px;">时间:</label>
                                        <div id="timetime2" role="form" style="float: right;margin-left: -91px;margin-top: -7px;">
                                            <input type="hidden" class="form-control operate" name="one_time-operate" data-name="time_str" value="RANGE" readonly="">
                                            <input type="text" autocomplete="off" class="form-control datetimerange" name="time_str"  id="time_str2" value="{$time_str}" data-index="14">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap">
                                <div class="row">
                                    <div class="margin-div" style="text-align: center">
                                        <div class="btn btn-div div1">
                                            <span class="extend">
                                                <div class="title1">采购总数（个）<br/><br/><span style="color: red;font-size: 24px" id="purchase_num">{$purchase_overview.purchase_num}</span><hr><span style="font-size: 14px;">大货：<span id="purchase_num_big">{$purchase_overview.purchase_num_big}</span><br>现货：<span id="purchase_num_now">{$purchase_overview.purchase_num_now}</span></span></div>
                                            </span>
                                        </div>
                                        <div class="btn btn-div div1">
                                            <span class="extend">
                                                <div class="title1">采购总金额（￥）<br/><br/><span style="color: red;font-size: 24px" id="purchase_amount">{$purchase_overview.purchase_amount}</span><hr><span style="font-size: 14px;">大货：<span id="purchase_amount_big">{$purchase_overview.purchase_amount_big}</span><br>现货：<span id="purchase_amount_now">{$purchase_overview.purchase_amount_now}</span></span></div>
                                            </span>
                                        </div>
                                        <div class="btn btn-div div1">
                                            <span class="extend">
                                                <div class="title1">采购总SKU数（个）<br/><br/><span style="color: red;font-size: 24px" id="purchase_sku_num">{$purchase_overview.purchase_sku_num}</span><hr><span style="font-size: 14px;">大货：<span id="purchase_sku_num_big">{$purchase_overview.purchase_sku_num_big}</span><br>现货：<span id="purchase_sku_num_now">{$purchase_overview.purchase_sku_num_now}</span></span></div>
                                            </span>
                                        </div>
                                        <div class="btn btn-div div1">
                                            <span class="extend">
                                                <div class="title1">采购单价（￥）<br/><br/><span style="color: red;font-size: 24px" id="purchase_price">{$purchase_overview.purchase_price}</span><hr><span style="font-size: 14px;">大货：<span id="purchase_price_big">{$purchase_overview.purchase_price_big}</span><br>现货：<span id="purchase_price_now">{$purchase_overview.purchase_price_now}</span></span></div>
                                            </span>
                                        </div>
                                        <div class="btn btn-div div1">
                                            <span class="extend">
                                                <div class="title3"><span style="float: left">采购批次到货延时率</span><br/><span class="amount1" id="purchase_delay_rate">{$purchase_overview.purchase_delay_rate}</span></div>
                                            </span>
                                        </div>
                                        <div class="btn btn-div div1">
                                            <span class="extend">
                                                <div class="title3"><span style="float: left">采购批次到货合格率</span><br/><span class="amount1" id="purchase_qualified_rate">{$purchase_overview.purchase_qualified_rate}</span></div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-body no-padding">
                    <div class="new-background">
                        <div class="row">
                            <div class="form-group" style="float:left;width: 100%;" >
                                <label class="control-label col-xs-6">订单发货及时率</label>
                                <div style="float: right;display: flex;">
                                    <div style="margin-right: 30px;">
                                        <label style="text-align: right;margin-right: 100px;">时间:</label>
                                        <div id="timetime3" role="form" style="float: right;margin-left: -91px;margin-top: -7px;">
                                            <input type="hidden" class="form-control operate" name="one_time-operate" data-name="time_str" value="RANGE" readonly="">
                                            <input type="text" autocomplete="off" class="form-control datetimerange" name="time_str"  id="time_str3" value="{$time_str}" data-index="14">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap">
                                <div class="row">
                                    <div class="margin-div" style="text-align: center">
                                        <div id="echart2" style="height:300px;margin: 10px 0px 10px 0px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-body no-padding">
                    <div class="new-background">
                        <div class="row">
                            <div class="form-group" style="float:left;width: 100%;" >
                                <label class="control-label col-xs-6">物流妥投概况</label>
                                <label class="control-label col-xs-6">妥投时效占比</label>
                                <div style="float: right;display: flex;">
                                    <div style="margin-right: 30px;">
                                        <label style="text-align: right;margin-right: 100px;">时间:</label>
                                        <div id="timetime4" role="form" style="float: right;margin-left: -91px;margin-top: -7px;">
                                            <input type="hidden" class="form-control operate" name="one_time-operate" data-name="time_str" value="RANGE" readonly="">
                                            <input type="text" autocomplete="off" class="form-control datetimerange" name="time_str"  id="time_str4" value="{$time_str}" data-index="14">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap">
                                <div class="hLeft">
                                    <div class="row">
                                        <div class="margin-div" style="text-align: center">
                                            <div class="btn btn-div div2">
                                            <span class="extend">
                                                <div class="title4">发货数量<br/><span style="color: red;" id="delivery_count">{$logistics_completed_overview.delivery_count}</span></div>
                                            </span>
                                            </div>
                                            <div class="btn btn-div div2">
                                            <span class="extend">
                                                <div class="title4">妥投总数量<br/><span style="color: red;" id="completed_count">{$logistics_completed_overview.completed_count}</span></div>
                                            </span>
                                            </div>
                                            <div class="btn btn-div div2">
                                            <span class="extend">
                                                <div class="title4">未妥投数量<br/><span style="color: red;" id="uncompleted_count">{$logistics_completed_overview.uncompleted_count}</span></div>
                                            </span>
                                            </div>
                                            <div class="btn btn-div div2">
                                            <span class="extend">
                                                <div class="title4">超时未妥投数量<br/><span style="color: red;" id="timeout_uncompleted_count">{$logistics_completed_overview.timeout_uncompleted_count}</span></div>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hRight">
                                    <div id="echart4" style="height:300px;margin: 10px 0px 10px 0px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>