
<form id="edit-form" class="form-horizontal form-ajax" role="form" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2" style="display: inline-block">{:__('采购负责人修改为')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" name="incharge" value="" style="display: inline-block">
        </div>
    </div>
    <div class="form-group hidden layer-footer">
        <label class="control-label col-xs-12 col-sm-2 col-xs-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed" style="margin-left: 40%">{:__('确认')}</button>
<!--            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>-->
        </div>
    </div>
</form>
