<style>
    /*左边div -- start*/
    .left_input{
        float: left;
        width: 45%;
        height: 100%;
    }
    .left_input .input_item{
        float: left;
        width: 84%;
        height: 50px;
        line-height: 50px;
        margin-left: 10%;
    }
    .left_input .input_tiem_label{
        width: 20%;
        text-align: right;
        margin-right: 10px;
    }
    .left_input .select_input{
        width: 62%!important;
    }
    .left_input .input_tiem_label2{
        width: 100%;
        text-align: right;
        padding-right: 15%;

    }
    .left_input .input_tiem_label2 span{
        margin-left: 16px;
    }
    /*左边div -- end*/

    /*右边div -- start*/
    .right_input{
        float: left;
        width: 55%;
        height: 100%;
    }
    .right_input .input_item{
         float: left;
         width: 84%;
         height: 50px;
         line-height: 50px;
    }
    .right_input .input_tiem_label{
        width: 12%;
        text-align: right;
    }
    .right_input .input_tiem_p{
        float: right;
        width: 84%;
        height: 90%;
    }
    .input_tiem_p input{
        height: 100%;
        width: 100%;
    }

    .right_input .input_item2{
        float: left;
        width: 84%;
        height: 180px;
        margin-top: 10px;
    }
    .right_input .input_tiem_label2{
        width: 12%;
        text-align: right;
    }
    .right_input .input_tiem_p2{
        float: right;
        width: 84%;
        height: 90%;
    }

    .input_tiem_p2 textarea{
        height: 100%;
        width: 100%;
        resize: none;
    }
    .ke-container{
        height: 280px;
    }
    /*右边div -- end*/
</style>

<form role="form" method="POST" data-toggle="validator" id="demand_edit" action="">
    <input type="hidden" name="row[id]" value="{$row.id}">
    <div class="left_input">
        <div class="input_item">
            <label class="input_tiem_label">项目：</label>
            <span class="input_tiem_span">
                {:Form::select('row[site]', config('demand.site'), $row['site'], ['class'=>'selectpicker select_input', 'data-rule'=>'required','title'=>'请选择'])}
            </span>
        </div>
        <div class="input_item">
            <label class="input_tiem_label">设备端：</label>
            <span class="input_tiem_span">
                {:Form::select('row[site_type][]', config('demand.siteType'), $row['site_type_arr'], ['class'=>'selectpicker select_input', 'data-rule'=>'required','title'=>'请选择','multiple'=>true])}
            </span>
        </div>
        <div class="input_item">
            <label class="input_tiem_label">功能模块：</label>
            <span class="input_tiem_span">
              {:Form::select('row[functional_module]', config('demand.functional_module'), $row['functional_module'], ['class'=>'selectpicker select_input', 'data-rule'=>'required','title'=>'请选择'])}
            </span>
        </div>
        <div class="input_item">
            <label class="input_tiem_label">抄送：</label>
            <span class="input_tiem_span">
                {:Form::select('row[copy_to_user_id][]', config('demand.copyToUserId'), $row['copy_to_user_id_arr'], ['class'=>'selectpicker select_input', null,'data-live-search' => true,'multiple'=>true])}
            </span>
        </div>
        <div class="input_item">
            <label class="input_tiem_label">类型：</label>
            <span class="input_tiem_span">
                {:Form::select('row[type]', config('demand.type'), $row['type'], ['class'=>'selectpicker select_input', 'data-rule'=>'required','title'=>'请选择'])}
            </span>
        </div>
        <div class="input_item">
            <label class="input_tiem_label">重要原因：</label>
            <span class="input_tiem_span">
                {:Form::select('row[important_reasons][]', config('demand.important_reasons'), $row['important_reasons'], ['class'=>'selectpicker select_input', 'data-rule'=>'required','title'=>'请选择','multiple'=>true])}
            </span>
        </div>
        <div class="input_item">
            <label class="input_tiem_label2">
                <input name="row[is_emergency]" type="checkbox" value="1" {if $row['is_emergency'] == 1} checked {/if}><span>紧急需求</span>
            </label>
        </div>

        <div class="input_item">
            <label class="input_tiem_label">重要程度：</label>
            <span class="input_tiem_span">
                {:Form::select('row[importance]', config('demand.importance'), $row['importance'], ['class'=>'selectpicker select_input', 'data-rule'=>'required','title'=>'请选择'])}
            </span>
        </div>
        <div class="input_item" >
            <label class="input_tiem_label">紧急程度：</label>
            <span class="input_tiem_span">
                {:Form::select('row[degree_of_urgency]', config('demand.degree_of_urgency'), $row['degree_of_urgency'], ['class'=>'selectpicker select_input', 'data-rule'=>'required','title'=>'请选择'])}
            </span>
        </div>
        <div class="input_item" >
            <label class="input_tiem_label">开发难度 ：</label>
            <span class="input_tiem_span">
                {:Form::select('row[development_difficulty]', config('demand.development_difficulty'), $row['development_difficulty'], ['class'=>'selectpicker select_input', 'data-rule'=>'required','title'=>'请选择'])}
            </span>
        </div>
        {if $type == 'pm_audit'}
        <div class="input_item">
            <label class="input_tiem_label">优先级：</label>
            <span class="input_tiem_span">
                {:Form::select('row[priority]', config('demand.priority'), $row['priority'], ['class'=>'selectpicker select_input', 'data-rule'=>'required','title'=>'请选择'])}
            </span>
        </div>

        <div class="input_item">
            <label class="input_tiem_label ">任务周期：</label>
            <span class="input_tiem_span" >
<!--                <input name="row[node_time]" class="select_input" type="text" value="{$row['node_time']}" style="height: 31px;" placeholder="输入整数(单位：天)">-->
<!--                {:Form::datetimepicker('row[node_time]', '', ['data-rule'=>'required'])}-->
        <input  style="width: 60%" class="form-control datetimepicker form-control" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[node_time]" type="text" value="{$row.node_time|datetime}">
            </span>
        </div>
        {/if}

<!--        {if $demand_type == 2}-->
<!--        <input type="hidden" name="row[demand_type]" value="{$demand_type}">-->
<!--        <div class="input_item">-->
<!--            <label class="input_tiem_label ">任务周期：</label>-->
<!--            <span class="input_tiem_span">-->
<!--                <input name="row[node_time]" class="select_input" data-rule="required" type="text" value="{$row['node_time']}" style="height: 31px;" placeholder="输入整数(单位：天)">-->
<!--            </span>-->
<!--        </div>-->
<!--        {/if}-->

<!--        <div class="input_item">-->
<!--            <label class="input_tiem_label ">备注：</label>-->
<!--            <span class="input_tiem_span">-->
<!--                <textarea style="resize: none; margin-top: 20px;  line-height: 20px; height: 80px;" class="select_input" name="row[remark]">{$row['remark']}</textarea>-->
<!--            </span>-->
<!--        </div>-->

    </div>

    <div class="right_input">
        <div class="input_item">
            <label class="input_tiem_label ">标题：</label>
            <p class="input_tiem_p">
                <input name="row[title]" data-rule="required" type="text" value="{$row['title']}">
            </p>
        </div>

        <div class="input_item2">
            <label class="input_tiem_label2">内容：</label>
            <p class="input_tiem_p2">
                <textarea name="row[content]">{$row['content']}</textarea>
            </p>
        </div>

        <div class="input_item2">
            <label class="input_tiem_label2">附件：</label>
            <p class="input_tiem_p2">
                <textarea class="editor_nkeditor input_tiem_p2_text form-control" name="row[accessory]" >{$row['accessory']}</textarea>
            </p>
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8" style="width: 99.9%!important;">
            {if $type == 'view'}
                {if $pm_status || $admin_id == $row['entry_user_id']}
                    {if $row['test_status'] == 1}
                        <!--<button type="submit" value="del" class="btn btn-sub" style='background-color: #D9001B;width: 60px;color: white;font-size: 14px;font-weight: 700;'>{:__('删除')}</button>-->
                    {else}
                        <!--<button type="submit" value="del" disabled class="btn btn-sub" style='background-color: #D9001B;width: 60px;color: white;font-size: 14px;font-weight: 700;'>{:__('删除')}</button>-->
                    {/if}
                {else}
                <!--<button type="submit" value="del" disabled class="btn btn-sub" style='background-color: #D9001B;width: 60px;color: white;font-size: 14px;font-weight: 700;'>{:__('删除')}</button>-->
                {/if}
            {if $pm_status}
            <button type="submit" value="del" class="btn btn-sub" style='background-color: #D9001B;width: 60px;color: white;font-size: 14px;font-weight: 700;'>{:__('删除')}</button>
            {/if}

            {if $row['pm_audit_status'] == 1}
            {if $pm_status}
            <button type="submit" value="pending" class="btn btn-sub" style='background-color: #333333;width: 80px;color: white;font-size: 14px;font-weight: 700;'>{:__('Pending')}</button>
            <button type="submit" value="refuse" class="btn btn-sub" style='background-color: #333333;width: 80px;color: white;font-size: 14px;font-weight: 700;'>{:__('拒绝')}</button>
            {else}
            <button type="submit" value="pending" disabled class="btn btn-sub" style='background-color: #333333;width: 80px;color: white;font-size: 14px;font-weight: 700;'>{:__('Pending')}</button>
            <button type="submit" value="refuse" disabled class="btn btn-sub" style='background-color: #333333;width: 80px;color: white;font-size: 14px;font-weight: 700;'>{:__('拒绝')}</button>
            {/if}
            {else}
            <button type="submit" value="pending" disabled class="btn btn-sub" style='background-color: #333333;width: 80px;color: white;font-size: 14px;font-weight: 700;'>{:__('Pending')}</button>
            <button type="submit" value="refuse" disabled class="btn btn-sub" style='background-color: #333333;width: 80px;color: white;font-size: 14px;font-weight: 700;'>{:__('拒绝')}</button>
            {/if}

                {if $row['pm_audit_status'] == 3}
                <button type="submit" value="edit" class="btn btn-sub" style='background-color: #333333;width: 150px;color: white;font-size: 14px;font-weight: 700;float: right;' disabled>{:__('已提交')}</button>
                {else}
                    {if $pm_status || $admin_id == $row['entry_user_id']}
                    <button type="submit" value="edit" class="btn btn-sub" style='background-color: #333333;width: 150px;color: white;font-size: 14px;font-weight: 700;float: right;'>{:__('修  改')}</button>
                    {else}
                    <button type="submit" value="edit" disabled class="btn btn-sub" style='background-color: #333333;width: 150px;color: white;font-size: 14px;font-weight: 700;float: right;'>{:__('修  改')}</button>
                    {/if}

                {/if}
            {/if}

            {if $type == 'pm_audit'}
                <input type="hidden" name="row[pm_audit_status]" id="pm_audit_status" value="" ><!--审核状态-->
                {if $row['pm_audit_status'] == 1}
                    {if $pm_status}
                        <button type="submit" value="pending" class="btn btn-sub" style='background-color: #333333;width: 80px;color: white;font-size: 14px;font-weight: 700;'>{:__('Pending')}</button>
                        <button type="submit" value="refuse" class="btn btn-sub" style='background-color: #333333;width: 80px;color: white;font-size: 14px;font-weight: 700;'>{:__('拒绝')}</button>
                    {else}
                        <button type="submit" value="pending" disabled class="btn btn-sub" style='background-color: #333333;width: 80px;color: white;font-size: 14px;font-weight: 700;'>{:__('Pending')}</button>
                        <button type="submit" value="refuse" disabled class="btn btn-sub" style='background-color: #333333;width: 80px;color: white;font-size: 14px;font-weight: 700;'>{:__('拒绝')}</button>
                    {/if}
                {else}
                    <button type="submit" value="pending" disabled class="btn btn-sub" style='background-color: #333333;width: 80px;color: white;font-size: 14px;font-weight: 700;'>{:__('Pending')}</button>
                    <button type="submit" value="refuse" disabled class="btn btn-sub" style='background-color: #333333;width: 80px;color: white;font-size: 14px;font-weight: 700;'>{:__('拒绝')}</button>
                {/if}

                {if $row['test_status'] >= 2}
                    <button type="submit" value="sub" disabled class="btn btn-sub" style='background-color: #169BD5;width: 150px;color: white;font-size: 14px;font-weight: 700;float: right;'>{:__('修  改')}</button>
                {else}
                    {if $pm_status}
                    <button type="submit" value="sub" class="btn btn-sub" style='background-color: #169BD5;width: 150px;color: white;font-size: 14px;font-weight: 700;float: right;'>{if $row['pm_audit_status'] == 3}{:__('修  改')}{else}{:__('提  交')}{/if}</button>
                    {else}
                    <button type="submit" value="sub" disabled class="btn btn-sub" style='background-color: #169BD5;width: 150px;color: white;font-size: 14px;font-weight: 700;float: right;'>{if $row['pm_audit_status'] == 3}{:__('修  改')}{else}{:__('提  交')}{/if}</button>
                    {/if}
                {/if}

            {/if}
        </div>
    </div>
</form>