<style>
    /*左边div -- start*/
    .left_input{
        float: left;
        width: 45%;
        height: 100%;
    }
    .left_input .input_item{
        float: left;
        width: 84%;
        height: 50px;
        line-height: 50px;
        margin-left: 10%;
    }
    .left_input .input_tiem_label{
        width: 20%;
        text-align: right;
        margin-right: 10px;
    }
    .left_input .select_input{
        width: 62%!important;
    }
    .left_input .input_tiem_label2{
        width: 100%;
        text-align: right;
        padding-right: 15%;

    }
    .left_input .input_tiem_label2 span{
        margin-left: 16px;
    }
    /*左边div -- end*/

    /*右边div -- start*/
    .right_input{
        float: left;
        width: 55%;
        height: 100%;
    }
    .right_input .input_item{
         float: left;
         width: 84%;
         height: 50px;
         line-height: 50px;
    }
    .right_input .input_tiem_label{
        width: 12%;
        text-align: right;
    }
    .right_input .input_tiem_p{
        float: right;
        width: 84%;
        height: 90%;
    }
    .input_tiem_p input{
        height: 100%;
        width: 100%;
    }

    .right_input .input_item2{
        float: left;
        width: 84%;
        height: 180px;
        margin-top: 20px;
    }
    .right_input .input_tiem_label2{
        width: 12%;
        text-align: right;
    }
    .right_input .input_tiem_p2{
        float: right;
        width: 84%;
        height: 90%;
    }

    .input_tiem_p2 textarea{
        height: 100%;
        width: 100%;
        resize: none;
    }
    /*右边div -- end*/
</style>

<form role="form" method="POST" data-toggle="validator" id="demand_edit" action="">
    <div class="left_input">
        <div class="input_item">
            <label class="input_tiem_label">项目：</label>
            <span class="input_tiem_span">
                {:Form::select('row[site]', config('demand.site'), $row['site'], ['class'=>'selectpicker select_input', 'data-rule'=>'required','title'=>'请选择'])}
            </span>
        </div>
        <div class="input_item">
            <label class="input_tiem_label">设备端：</label>
            <span class="input_tiem_span">
                {:Form::select('row[site_type][]', config('demand.siteType'), $row['site_type_arr'], ['class'=>'selectpicker select_input', 'data-rule'=>'required','title'=>'请选择','multiple'=>true])}
            </span>
        </div>
        <div class="input_item">
            <label class="input_tiem_label">抄送：</label>
            <span class="input_tiem_span">
                {:Form::select('row[copy_to_user_id][]', config('demand.copyToUserId'), $row['copy_to_user_id_arr'], ['class'=>'selectpicker select_input', null,'data-live-search' => true,'multiple'=>true])}
            </span>
        </div>
        <div class="input_item">
            <label class="input_tiem_label">类型：</label>
            <span class="input_tiem_span">
                {:Form::select('row[type]', config('demand.type'), $row['type'], ['class'=>'selectpicker select_input', 'data-rule'=>'required','title'=>'请选择'])}

            </span>
        </div>
        <div class="input_item">
            <label class="input_tiem_label2">
                <input name="row[is_emergency]" type="checkbox" value="1" {if $row['is_emergency'] == 1} checked {/if}><span>紧急需求</span>
            </label>
        </div>
    </div>

    <div class="right_input">
        <div class="input_item">
            <label class="input_tiem_label ">标题：</label>
            <p class="input_tiem_p">
                <input name="row[title]" data-rule="required" type="text" value="{$row['title']}">
            </p>
        </div>

        <div class="input_item2">
            <label class="input_tiem_label2">内容：</label>
            <p class="input_tiem_p2">
                <textarea name="row[content]">{$row['content']}</textarea>
            </p>
        </div>

        <div class="input_item2">
            <label class="input_tiem_label2">附件：</label>
            <p class="input_tiem_p2">
                <textarea class="editor_nkeditor input_tiem_p2_text form-control" name="row[accessory]" >{$row['accessory']}</textarea>
            </p>
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            {if $type == 'view'}
            <button type="submit" value="del" class="btn btn-del">{:__('删除')}</button>
            <button type="submit" value="edit" class="btn btn-edit">{:__('修改')}</button>
            {/if}
        </div>
    </div>
</form>