<style>
    .form-group{
        float: left;
        width: 32%;
    }
    .col-sm-2 {
        width:30%
    }
    #add_product{
        width: 73px;
        height: 31px;
        line-height: 31px;
        border: 1px solid #000;
        text-align: center;
        border-radius: 6px;
        cursor: pointer;
        margin: 0 0 10px 0px;
    }
    #del{
        float: left;
        width: 25%;
        height: 28px;
        line-height: 12px;
        text-align: center;
        border-radius: 3px;
        cursor: pointer;
        margin-left: 8px;
        margin-top: 9px;
        background: #e74c3c;
    }
    .desc{
        display: flex;
        margin: 10px 0 ;
        border-bottom: 1px solid #ddd;
    }
    .desc textarea{
        margin: 0 10px 10px;
        border-radius: 4px;
        resize: none;
    }
</style>

<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div>
        入库单号：{$row.location_number}
    </div>
    <div class="desc">
        <label>备注：</label>
        <textarea name="row[description]" id="description" cols="30" rows="6" disabled>{$row.description}</textarea>
    </div>
    <table id="product_list" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
        <thead>
        <tr role="row">
            <th style="width: 150px;">SKU</th>
            <th style="width: 150px;">库存</th>
            <th style="width: 150px;">库位号</th>
        </thead>
        <tbody id="product_data">
        {volist name="product_list" id="vo"}
        <tr role="row" class="odd del_{$vo.sku}">
            <td>{$vo.sku}</td>
            <td>{$vo.stock}</td>
            <td>{$vo.location}</td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <input type="hidden" value="" id="workorder_status" name="row[workorder_status]">
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            {if $row['status'] < 3}
            <button type="submit" onclick="workorder_check_pass()" class="btn btn-success btn-embossed ">{:__('审核通过')}</button>
            <button type="submit" onclick="workorder_check_refuse()" class="btn btn-success btn-embossed ">{:__('拒绝审核')}</button>
            {/if}
        </div>
    </div>
</form>
