<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}"><i class="fa fa-refresh"></i> </a>
                        <a href="javascript:;" class="btn btn-success btn-add {:$auth->check('purchase/sample/sample_add')?'':'hide'}" title="{:__('Add')}"><i class="fa fa-plus"></i> {:__('Add')}</a>
                        <a href="javascript:;" class="btn btn-success btn-sample-lendlog-add {:$auth->check('purchase/sample/sample_lendlog_add')?'':'hide'}" title="{:__('申请')}"> {:__('申请')}</a>
                        <a href="javascript:;" class="btn btn-danger btn-import {:$auth->check('purchase/sample/sample_import_xls')?'':'hide'}" title="{:__('Import')}" id="btn-import-file" data-url="ajax/upload" data-mimetype="csv,xls,xlsx" data-multipart={"dir":"purchase/sample"} data-multiple="false"><i class="fa fa-upload"></i> {:__('Import')}</a>
                        <a href="/template/sample_template.xls" class="btn btn-primary" title="模板下载">模板下载</a>
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap" width="100%">
                    </table>
                </div>
            </div>
            <div class="form-group" style="float: right; margin-top: -12px">
                <form class="form-horizontal" role="form" method="POST" action="">
            <span>
                <a type="button" id="add-form" class="btn btn-danger plupload" data-input-id="c-image" data-url="purchase/sample/upload" data-mimetype="image/*,mp4" data-multiple="true" data-preview-id="p-image">
                    <i class="fa fa-upload"></i> 上传
                </a>
            </span>
                    <ul class="row list-inline plupload-preview" id="p-image"></ul>
                </form>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">{:__('Ziliao')}:</label>
                <div class="col-xs-12 col-sm-8">
                    <div class="input-group">
                        <input id="c-ziliao" class="form-control" size="50" name="row[ziliao]" type="text" value="{$row.ziliao|htmlentities}">
                        <div class="input-group-addon no-border no-padding">
                            <span><button type="button" id="plupload-ziliao" class="btn btn-danger plupload" data-input-id="c-ziliao" data-mimetype="mp4/*/" data-multiple="true" data-preview-id="p-ziliao"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                            <span><button type="button" id="fachoose-ziliao" class="btn btn-primary fachoose" data-input-id="c-ziliao" data-mimetype="*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                        </div>
                        <span class="msg-box n-right" for="c-ziliao"></span>
                    </div>
                    <ul class="row list-inline plupload-preview" id="p-ziliao"></ul>
                </div>
            </div>

        </div>
    </div>

</div>

