<style>
    .form-group{
        float: left;
        width: 32%;
    }
    .col-sm-2 {
        width:30%
    }
    #add_product{
        width: 73px;
        height: 31px;
        line-height: 31px;
        border: 1px solid #000;
        text-align: center;
        border-radius: 6px;
        cursor: pointer;
        margin: 0 0 10px 0px;
    }
    #del{
        float: left;
        width: 15%;
        height: 28px;
        line-height: 14px;
        border: 1px solid #000;
        text-align: center;
        border-radius: 61px;
        cursor: pointer;
        margin-left: 8px;
        margin-top: 2px;
    }
    .desc{
        display: flex;
        margin: 10px 0 ;
        border-bottom: 1px solid #ddd;
    }
    .desc textarea{
        margin: 0 10px 10px;
        border-radius: 4px;
        resize: none;
    }
</style>

<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div>
        入库单号：{$row.location_number}
    </div>
    <div class="desc">
        <label>备注：</label>
        <textarea name="row[description]" id="description" cols="30" rows="6">{$row.description}</textarea>
    </div>
    <div id="add_product"><span>add</span></div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('SKU')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select name="sku" id="sku" class="form-control selectpicker" data-live-search="true">
                <option value="">请输入</option>
                {foreach name="sku_data" item="vo"}}
                <option value="{$vo.location}" >{$vo.sku}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('出库数量')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="stock" class="form-control" name="row[stock]" type="text">
        </div>
    </div>
    <div class="form-group ">
        <label class="control-label col-xs-12 col-sm-2">库位号:</label>
        <div class="col-xs-12 col-sm-8" style="margin-top: 7px;">
            <span id="location"></span>
        </div>
    </div>
    <input type="hidden" name="row[product_list_data]" id="product_list_data" value="{$product_str}">
    <input type="hidden" id="sku_arr" value="{$sku_str}">
    <table id="product_list" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
        <thead>
        <tr role="row">
            <th style="width: 150px;">SKU</th>
            <th style="width: 150px;">库存</th>
            <th style="width: 150px;">出库数量</th>
            <th style="width: 150px;">删除</th>
        </thead>
        <tbody id="product_data">
        {volist name="product_list" id="vo"}
        <tr role="row" class="odd del_{$vo.sku}">
            <td>{$vo.sku}</td>
            <td>{$vo.stock}</td>
            <td>{$vo.location}</td>
            <td id="del"><a href="javascript:;" onclick=del_add_tr("{$vo.sku}",{$vo.stock})> Ｘ </a></td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
