		<style type="text/css">
			* {
				margin: 0;
				padding: 0;
			}
			.track-title {
				font-size: 14px;
				font-weight: bold;
				padding: 20px 0;
			}
			.track-nav {
				display: flex;
				align-items: center;
				list-style: none;
				overflow: hidden;
			}
			.track-nav li {
				position: relative;
				width: 120px;
				height: 40px;
				line-height: 40px;
				font-size: 14px;
				text-align: center;
				border-top: 1px solid #DDDDDD;
				border-bottom: 1px solid #DDDDDD;
			}
			.track-nav li:before {
				content: '';
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 10;
				width: 20px;
				height: 32px;
				transform-origin: left top;
				transform: rotate(-25deg);
				border-right: 1px solid #DDDDDD;
			}
			.track-nav li:after {
				content: '';
				display: block;
				position: absolute;
				right: 0;
				bottom: 0;
				z-index: 10;
				width: 20px;
				height: 32px;
				transform-origin: left bottom;
				transform: rotate(25deg);
				border-right: 1px solid #DDDDDD;
			}
			.track-nav li.on {
				color: #FFFFFF;
				background-color: #33CC00;
				border-top: 1px solid #33CC00;
				border-bottom: 1px solid #33CC00;
			}
			.track-nav li.on:before {
				background-color: #33cc00;
				border-right: 1px solid #FFFFFF;
			}
			.track-nav li.on:after {
				background-color: #33cc00;
				border-right: 1px solid #FFFFFF;
			}
			.track-nav li span {
				position: relative;
				z-index: 20;
			}
			.track-infor {
				padding-left: 30px;
				box-sizing: border-box;
				overflow: hidden;
				list-style: none;
			}
			.track-infor li {
				display: flex;
				position: relative;
				padding: 13px 0;
				line-height: 30px;
				font-size: 14px;
				color: #383838;
			}
			.track-infor li span {
				margin-right: 30px;
				font-size: 14px;
				color: #383838;
			}
			.track-infor div p:first-child {
				font-size: 16px;
			}
			.track-infor div p:last-child {
				color: #909090;
			}
			
			.track-infor li:before {
				content: '';
				display: block;
				position: absolute;
				left: -30px;
				top: 22px;
				z-index: 10;
				border-radius: 50%;
				box-sizing: border-box;
				width: 10px;
				height: 10px;
				background-color: #999999;
			}
			.track-infor li:after {
				content: '';
				display: block;
				position: absolute;
				left: -25px;
				top: 0;
				width: 1px;
				height: 100%;
				background-color: #DDDDDD;
			}
			.track-infor li:first-child:before { 
				background-color: #33cc00;
			}
			.track-infor li:first-child:after {
				top: 22px;
			}
			.track-infor li:last-child:after {
				top: -25px;
			}
		</style>
		<div class="panel-heading">
		{:build_heading()}
		<ul class="nav nav-tabs" style="margin-bottom: 20px;">
		<li><a href="{:url('detail')}?id={$entity_id}&label={$label}">订单信息</a></li>
		<li class="active"><a href="{:url('orderDetail')}?order_number={$order_number}&id={$entity_id}&label={$label}">订单节点</a></li> 
		<!-- <li><a href="{:url('checkDetail')}?id={$entity_id}&label={$label}">订单执行信息</a></li> -->
		<!-- <li><a href="{:url('logisticsDetail')}?id={$row.entity_id}">售后信息</a></li> -->
		</ul>
		</div>

		<p class="track-title">{in name="7" value="$key_list" }物流信息&nbsp&nbsp&nbsp&nbsp&nbsp 快递商类型：{$list[7]['shipment_type']}；快递单号：{$list[7]['track_number']}{/in}</p> 
		<ul class="track-nav">				
			<li {in name="2" value="$key_list" } class="on" {/in}><span>已打印标签</span></li>
			<li {in name="3" value="$key_list" } class="on" {/in}><span>已配镜架</span></li>			
			<?php if(in_array(4,$key_list)){ ?>
			<li class="on" ><span>已配镜片</span></li>
			<?php }elseif(!in_array(6,$key_list)){ ?> 
			<li><span>已配镜片</span></li>
			<?php } ?>

			<?php if(in_array(5,$key_list)){ ?>
			<li class="on" ><span>已加工</span></li>
			<?php }elseif(!in_array(6,$key_list)){ ?>
			<li><span>已加工</span></li>
			<?php } ?> 
			
			<li {in name="6" value="$key_list" } class="on" {/in}><span>已成品质检</span></li>
			<li {in name="7" value="$key_list" } class="on" {/in}><span>已出库</span></li>
			<li {in name="8" value="$key_list" } class="on" {/in}><span>物流上网</span></li>
			<li {in name="9" value="$key_list" } class="on" {/in}><span>已交航</span></li>
			<li {in name="10" value="$key_list" } class="on" {/in}><span>运输途中</span></li>
			<li {in name="11" value="$key_list" } class="on" {/in}><span>到达目的国</span></li>
			
			<?php if(in_array(30,$key_list)){ ?>
			<li  class="on" ><span>到达待取</span></li>	
			<?php }elseif(in_array(35,$key_list)){ ?>					
			<li  class="on" ><span>投递失败</span></li>
			<?php }elseif(in_array(40,$key_list)){ ?>						
			<li  class="on" ><span>投递成功</span></li>
			<?php }elseif(in_array(50,$key_list)){ ?>						
			<li  class="on" ><span>可能异常</span></li>
			<?php }else{ ?>
			<li><span>投递成功</span></li>
			<?php } ?>		
		
		</ul>
		<ul class="track-infor">
			<?php if(in_array(30,$key_list)){ ?>
			<li>
				<span>{$list[30]['create_time']}</span>
				<div>
					<p>到达待取</p>
					{if condition=" $list[30]['handle_user_name'] neq null "}
					<p>处理人姓名：{$list[30]['handle_user_name']}</p>				
					{/if}
				</div>				
			</li> 	
			<?php }elseif(in_array(35,$key_list)){ ?>					
			<li>
				<span>{$list[35]['create_time']}</span>
				<div>
					<p>投递失败</p>
					{if condition=" $list[35]['handle_user_name'] neq null "} 
					<p>处理人姓名：{$list[35]['handle_user_name']}</p>				
					{/if}
				</div>
			</li>
			<?php }elseif(in_array(40,$key_list)){ ?>						
			<li>
				<span>{$list[40]['create_time']}</span>
				<div>
					<p>投递成功</p>
					{if condition=" $list[40]['handle_user_name'] neq null "}
					<p>处理人姓名：{$list[40]['handle_user_name']}</p>				
					{/if}
				</div>
			</li>
			<?php }elseif(in_array(50,$key_list)){ ?>						
			<li>
				<span>{$list[50]['create_time']}</span>
				<div>
					<p>可能异常</p>
					{if condition=" $list[50]['handle_user_name'] neq null "}
					<p>处理人姓名：{$list[50]['handle_user_name']}</p>				
					{/if}
				</div>
			</li>
			<?php }else{ ?>			
			<?php } ?>			
			{in name="11" value="$key_list" }
			<li>
				<span>{$list[11]['create_time']}</span>
				<div>
					<p>到达目的国</p>
					{if condition=" $list[11]['handle_user_name'] neq null "}
					<p>处理人姓名：{$list[11]['handle_user_name']}</p>				
					{/if}
				</div>
			</li>
			{/in}						
			
			{in name="10" value="$key_list" }
			<li>
				<span>{$list[10]['create_time']} </span>
				<div>
					<p>运输途中</p>
					{if condition=" $list[10]['handle_user_name'] neq null "}
					<p>处理人姓名：{$list[10]['handle_user_name']}</p>				
					{/if}
				</div>
			</li>
			{/in}						
			
			{in name="9" value="$key_list" }
			<li>
				<span>{$list[9]['create_time']}</span>
				<div>
					<p>已交航</p>
					{if condition=" $list[9]['handle_user_name'] neq null "}
					<p>处理人姓名：{$list[9]['handle_user_name']}</p>				
					{/if}
				</div>
			</li>
			{/in}					
			
			{in name="8" value="$key_list" }
			<li> 
				<span>{$list[8]['create_time']}</span>
				<div>
					<p>物流上网</p>
					{if condition=" $list[8]['handle_user_name'] neq null "}
					<p>处理人姓名：{$list[8]['handle_user_name']}</p>				
					{/if}
				</div>
			</li>
			{/in}
			
			{in name="7" value="$key_list" }
			<li>
				<span>{$list[7]['create_time']}</span>
				<div>
					<p>已出库</p>
					{if condition=" $list[7]['handle_user_name'] neq null "}
					<p>处理人姓名：{$list[7]['handle_user_name']}</p>				
					{/if}
				</div>
			</li>
			{/in}
			
			{in name="6" value="$key_list" }
			<li>			
				<span>{$list[6]['create_time']}</span>
				<div>
					<p>已成品质检</p>
					{if condition=" $list[6]['handle_user_name'] neq null "}
					<p>处理人姓名：{$list[6]['handle_user_name']}</p>				
					{/if}
				</div>
			</li>
			{/in}
					
			
			<?php if(in_array(5,$key_list)){ ?>
			<li>
				<span>{$list[5]['create_time']}</span>
				<div>
					<p>已加工</p>
					{if condition=" $list[5]['handle_user_name'] neq null "}
					<p>处理人姓名：{$list[5]['handle_user_name']}</p>				
					{/if}
				</div>
			</li>			
			<?php } ?>
			
			<?php if(in_array(4,$key_list)){ ?>
			<li>
				<span>{$list[4]['create_time']}</span>
				<div>
					<p>已配镜片</p>
					{if condition=" $list[4]['handle_user_name'] neq null "}
					<p>处理人姓名：{$list[4]['handle_user_name']}</p>				
					{/if}
				</div>
			</li>			
			<?php } ?>		
			{in name="3" value="$key_list" }
			<li>
				<span>{$list[3]['create_time']}</span>
				<div>
					<p>已配镜架</p>
					{if condition=" $list[3]['handle_user_name'] neq null "}
					<p>处理人姓名：{$list[3]['handle_user_name']}</p>				
					{/if}
				</div>
			</li>
			{/in}
			
			{in name="2" value="$key_list" }
			<li>
				<span>{$list[2]['create_time']}</span>
				<div>
					<p>已打印标签</p>
					{if condition=" $list[2]['handle_user_name'] neq null "}
					<p>处理人姓名：{$list[2]['handle_user_name']}</p>				
					{/if}
				</div>
			</li>
			{/in}
			
			
			{in name="1" value="$key_list" }
			<li>
				<span>{$list[1]['create_time']}</span>
				<div>
					<p>已支付</p>
					{if condition=" $list[1]['handle_user_name'] neq null "}
					<p>处理人姓名：{$list[1]['handle_user_name']}</p>				
					{/if}
				</div>
			</li>
			{/in}
			
			
			{in name="0" value="$key_list" }
			<li>
				<span>{$list[0]['create_time']}</span>
				<div>
					<p>已提交订单</p>
					{if condition=" $list[0]['handle_user_name'] neq null "}
					<p>处理人姓名：{$list[0]['handle_user_name']}</p>					
					{/if}
				</div>
			</li>
			{/in}
		</ul>

