		<style type="text/css">
			* {
				margin: 0;
				padding: 0;
			}
			.track-title {
				font-size: 14px;
				font-weight: bold;
				padding: 20px 0;
			}
			.track-nav {
				display: flex;
				align-items: center;
				list-style: none;
				overflow: hidden;
			}
			.track-nav li {
				position: relative;
				width: 120px;
				height: 40px;
				line-height: 40px;
				font-size: 14px;
				text-align: center;
				border-top: 1px solid #DDDDDD;
				border-bottom: 1px solid #DDDDDD;
			}
			.track-nav li:before {
				content: '';
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 10;
				width: 20px;
				height: 32px;
				transform-origin: left top;
				transform: rotate(-25deg);
				border-right: 1px solid #DDDDDD;
			}
			.track-nav li:after {
				content: '';
				display: block;
				position: absolute;
				right: 0;
				bottom: 0;
				z-index: 10;
				width: 20px;
				height: 32px;
				transform-origin: left bottom;
				transform: rotate(25deg);
				border-right: 1px solid #DDDDDD;
			}
			.track-nav li.on {
				color: #FFFFFF;
				background-color: #33CC00;
				border-top: 1px solid #33CC00;
				border-bottom: 1px solid #33CC00;
			}
			.track-nav li.on:before {
				background-color: #33cc00;
				border-right: 1px solid #FFFFFF;
			}
			.track-nav li.on:after {
				background-color: #33cc00;
				border-right: 1px solid #FFFFFF;
			}
			.track-nav li span {
				position: relative;
				z-index: 20;
			}
			.track-infor {
				padding-left: 30px;
				box-sizing: border-box;
				overflow: hidden;
				list-style: none;
			}
			.track-infor li {
				position: relative;
				padding: 13px 0;
				line-height: 30px;
				font-size: 14px;
			}
			.track-infor li span {
				margin-right: 30px;
			}
			.track-infor li:before {
				content: '';
				display: block;
				position: absolute;
				left: -30px;
				top: 22px;
				z-index: 10;
				border-radius: 50%;
				box-sizing: border-box;
				width: 10px;
				height: 10px;
				background-color: #999999;
			}
			.track-infor li:after {
				content: '';
				display: block;
				position: absolute;
				left: -25px;
				top: 0;
				width: 1px;
				height: 100%;
				background-color: #DDDDDD;
			}
			.track-infor li.on:before {
				background-color: #33cc00;
			}
			.track-infor li:first-child:after {
				top: 22px;
			}
			.track-infor li:last-child:after {
				top: -25px;
			}
		</style>
		<div class="panel-heading">
		{:build_heading()}
		<ul class="nav nav-tabs" style="margin-bottom: 20px;">
		<li><a href="{:url('detail')}?id={$entity_id}&label={$label}">订单信息</a></li>
		<li class="active"><a href="{:url('orderDetail')}?order_number={$order_number}&id={$entity_id}&label={$label}">订单节点</a></li> 
		<li><a href="{:url('checkDetail')}?id={$entity_id}&label={$label}">订单执行信息</a></li>
		<!-- <li><a href="{:url('logisticsDetail')}?id={$row.entity_id}">售后信息</a></li> -->
		</ul>
		</div>

		<p class="track-title">物流信息</p>
		<ul class="track-nav">				
			<li {in name="2" value="$key_list" } class="on" {/in}><span>已打印标签</span></li>
			<li {in name="3" value="$key_list" } class="on" {/in}><span>已配镜架</span></li>			
			<?php if(in_array(4,$key_list)){ ?>
			<li class="on" ><span>已配镜片</span></li>
			<?php }elseif(!in_array(6,$key_list)){ ?> 
			<li><span>已配镜片</span></li>
			<?php } ?>

			<?php if(in_array(5,$key_list)){ ?>
			<li class="on" ><span>已加工</span></li>
			<?php }elseif(!in_array(6,$key_list)){ ?>
			<li><span>已加工</span></li>
			<?php } ?> 
			
			<li {in name="6" value="$key_list" } class="on" {/in}><span>已成品质检</span></li>
			<li {in name="7" value="$key_list" } class="on" {/in}><span>已出库</span></li>
			<li {in name="8" value="$key_list" } class="on" {/in}><span>上网</span></li>
			<li {in name="9" value="$key_list" } class="on" {/in}><span>已交航</span></li>
			<li {in name="10" value="$key_list" } class="on" {/in}><span>运输途中</span></li>
			<li {in name="11" value="$key_list" } class="on" {/in}><span>到达目的国</span></li>
			
			<?php if(in_array(30,$key_list)){ ?>
			<li  class="on" ><span>到达待取</span></li>	
			<?php }elseif(in_array(35,$key_list)){ ?>					
			<li  class="on" ><span>投递失败</span></li>
			<?php }elseif(in_array(40,$key_list)){ ?>						
			<li  class="on" ><span>投递成功</span></li>
			<?php }elseif(in_array(50,$key_list)){ ?>						
			<li  class="on" ><span>可能异常</span></li>
			<?php }else{ ?>
			<li><span>投递成功</span></li>
			<?php } ?>		
		
		</ul>
		<ul class="track-infor">
			<?php if(in_array(30,$key_list)){ ?>
			<li  class="on" ><span>{$list[30]}</span>到达待取</li>	
			<?php }elseif(in_array(35,$key_list)){ ?>					
			<li  class="on" ><span>{$list[35]}</span>投递失败</li>
			<?php }elseif(in_array(40,$key_list)){ ?>						
			<li  class="on" ><span>{$list[40]}</span>投递成功</li>
			<?php }elseif(in_array(50,$key_list)){ ?>						
			<li  class="on" ><span>{$list[50]}</span>可能异常</li>
			<?php }else{ ?>			
			<?php } ?>			
			{in name="11" value="$key_list" }<li  class="on" ><span>{$list[11]}</span>到达目的国</li>{/in}						
			{in name="10" value="$key_list" }<li class="on" ><span>{$list[10]} </span>运输途中</li>{/in}						
			{in name="9" value="$key_list" }<li class="on" ><span>{$list[9]}</span>已交航</li>{/in}					
			{in name="8" value="$key_list" }<li class="on"> <span>{$list[8]}</span>上网</li>{/in}
			{in name="7" value="$key_list" }<li class="on"><span>{$list[7]}</span>已出库</li>{/in}
			{in name="6" value="$key_list" }<li class="on"><span>{$list[6]}</span>已成品质检</li>{/in}
			<?php if(in_array(4,$key_list)){ ?>
			<li class="on"><span>{$list[4]}</span>已配镜片</li>			
			<?php } ?>			
			
			<?php if(in_array(5,$key_list)){ ?>
			<li class="on"><span>{$list[5]}</span>已加工</li>			
			<?php } ?> 
			{in name="3" value="$key_list" }<li class="on"><span>{$list[3]}</span>已配镜架</li>{/in}
			{in name="2" value="$key_list" }<li class="on"><span>{$list[2]}</span>已打印标签</li>{/in}
			{in name="1" value="$key_list" }<li class="on"><span>{$list[1]}</span>已支付</li>{/in}
			{in name="0" value="$key_list" }<li class="on"><span>{$list[0]}</span>已提交订单</li>{/in}
		</ul>

