<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('创建者类型')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-problem_belong" class="form-control selectpicker" name="row[create_belong]">
                <option value="0">组创建</option>
                <option value="1">人创建</option>
            </select>
        </div>
    </div>
    <div class="form-group" id="step">
        <label class="control-label col-xs-12 col-sm-2">{:__('创建组')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[add_group_id]', $extend_team, null, ['class'=>'form-control selectpicker', 'data-rule'=>'required','data-live-search' => true])}
        </div>
    </div>
    <div class="form-group" id="create_person" style="display: none">
        <label class="control-label col-xs-12 col-sm-2">{:__('创建人')}:</label>

        <div class="col-xs-12 col-sm-8">
            {:build_select('row[person]', $create_person, null, ['class'=>'form-control selectpicker', 'data-rule'=>'required','data-live-search' => true])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('措施')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[step_id]', $step, null, ['class'=>'form-control selectpicker', 'data-rule'=>'required','data-live-search' => true])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Step_value')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-step_value" data-rule="required" class="form-control" name="row[step_value]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Symbol')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-symbol" data-rule="required" class="form-control" name="row[symbol]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('审核组')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[check_group_id]', $extend_team, null, ['class'=>'form-control selectpicker', 'data-rule'=>'required','data-live-search' => true])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Weight')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weight" data-rule="required" class="form-control" name="row[weight]" type="number" value="1">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
