<style>
    .caigou {
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        padding: 10px;
        width: 70%;
        margin-left: 13%;
        margin-bottom: 10px;
    }

    .caigou #caigou-table {
        width: 100%;
        height: 130px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        text-align: center;
    }

    .caigou #caigou-table tr {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        line-height: 50px;
    }

    .caigou #caigou-table tr th {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        text-align: center;
        font-size: 14px;
    }

    .caigou #caigou-table tr td {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
    }

    .caigou #caigou-table tr td input {

        width: 250px;
    }
</style>

<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <input type="hidden" name="goodsId" value="{$goodsId}">
    <input type="hidden" name="ids" value="{$ids}">
    <input type="hidden" name="attributeType" value="{$attributeType}">
    {if $attributeType == 'true'}
    <div class="form-group ajax-add">
        <label class="control-label col-xs-12 col-sm-2">{:__('镜框高（mm）')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="frame_height" data-rule="" class="form-control" name="row[frame_height]" type="number" value="{$item_attribute->frame_height}" >
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('镜面宽（mm）')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="mirror_width" data-rule="" class="form-control" name="row[mirror_width]" type="number" value="{$item_attribute->mirror_width}" >
        </div>
    </div>
    <div class="form-group ajax-add">
        <label class="control-label col-xs-12 col-sm-2">{:__('桥（mm）')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-attribute-type" type="hidden" name="row[attribute_type]" value="1"/>
            <input id="frame_bridge" data-rule="" class="form-control" name="row[frame_bridge]" type="number" value="{$item_attribute->frame_bridge}" >
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('镜腿长（mm）')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="frame_temple_length" data-rule="" class="form-control"  name="row[frame_temple_length]" type="number" value="{$item_attribute->frame_temple_length}" >
        </div>
    </div>
    <div class="form-group ajax-add">
        <label class="control-label col-xs-12 col-sm-2">{:__('镜架总长（mm）')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="frame_length" data-rule="" class="form-control" name="row[frame_length]" type="number" value="{$item_attribute->frame_length}" >
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('重量（mm）')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="frame_weight" data-rule="" class="form-control"  name="row[frame_weight]" type="number" value="{$item_attribute->frame_weight}" >
        </div>
    </div>

    <!--镜盒-->
    {elseif $attributeType == '32'}
    <div class="form-group ajax-add">
        <label class="control-label col-xs-12 col-sm-2">{:__('高度（mm）')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="box_height" class="form-control" name="row[box_height]" type="number" value="{$item_attribute->box_height}" >
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('宽度（mm）')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="box_width" data-rule="" class="form-control" name="row[box_width]" type="number" value="{$item_attribute->box_width}" >
        </div>
    </div>
    <!--手链-->
    {elseif $attributeType == 34}
    <div class="form-group ajax-add">
        <label class="control-label col-xs-12 col-sm-2">{:__('周长（mm）')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="necklace_perimeter" data-rule="" class="form-control" name="row[necklace_perimeter]" type="number" value="{$item_attribute->necklace_perimeter}" >
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('延长链（mm）')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="necklace_chain" data-rule="" class="form-control" name="row[necklace_chain]" type="number" value="{$item_attribute->necklace_chain}" >
        </div>
    </div>
    <!--耳饰-->
    {elseif $attributeType == 35}
    <div class="form-group ajax-add">
        <label class="control-label col-xs-12 col-sm-2">{:__('高度（mm）')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="earrings_height" data-rule="" class="form-control" name="row[earrings_height]" type="number" value="{$item_attribute->earrings_height}" >
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('宽度（mm）')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="earrings_width" data-rule="" class="form-control" name="row[earrings_width]" type="number" value="{$item_attribute->earrings_width}" >
        </div>
    </div>
    <!--眼镜链-->
    {elseif $attributeType == 38}
    <div class="form-group ajax-add">
        <label class="control-label col-xs-12 col-sm-2">{:__('周长（mm）')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="eyeglasses_chain" data-rule="" class="form-control" name="row[eyeglasses_chain]" type="number" value="{$item_attribute->eyeglasses_chain}" >
        </div>
    </div>
    <!--项链-->
    {elseif $attributeType == 39}
    <div class="form-group ajax-add">
        <label class="control-label col-xs-12 col-sm-2">{:__('周长（mm）')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="necklace_perimeter" data-rule="" class="form-control" name="row[necklace_perimeter]" type="number" value="{$item_attribute->necklace_perimeter}" >
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('延长链（mm）')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="necklace_chain" data-rule="" class="form-control" name="row[necklace_chain]" type="number" value="{$item_attribute->necklace_chain}" >
        </div>
    </div>
    {else}
    1111
    {/if}
</if>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>

</form>
