<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        <!-- <div class="panel-lead"><em>多表格（Multitable）</em>用于展示在一个页面展示多个表格数据,并且每次切换时刷新</div> -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#first" data-toggle="tab">选择盘点数据</a></li>
            <li><a href="#second" data-toggle="tab">已添加的数据</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="first">
                <div id="toolbar1" class="toolbar">
                    <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}"><i
                            class="fa fa-refresh"></i> </a>
                    <a href="javascript:;" class="btn btn-success btn-adds btn-disabled disabled"
                        title="{:__('Add')}"><i class="fa fa-plus"></i> {:__('Add')}</a>
                    <a href="javascript:;"
                        class="btn btn-danger btn-batch-export-xls"
                        title="{:__('批量导出')}"><i class="fa fa-upload"></i> {:__('批量导出')}</a>
                </div>
                <table id="table1" class="table table-striped table-bordered table-hover" width="100%">
                </table>
            </div>
            <div class="tab-pane fade" id="second">
                <div id="toolbar2" class="toolbar">
                    {:build_toolbar(['refresh'])}
                    <!-- <a href="javascript:;" class="btn btn-success btn-create btn-disabled disabled"
                        title="{:__('Add')}"><i class="fa fa-plus"></i> {:__('创建任务')}</a> -->
                    <a href="javascript:;" class="btn btn-success btn-createall" title="{:__('Add')}"><i
                            class="fa fa-plus"></i> {:__('全部创建')}</a>
                    <a href="javascript:;"
                        class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('warehouse/inventory/del')?'':'hide'}"
                        title="{:__('Delete')}"><i class="fa fa-trash"></i> {:__('Delete')}</a>
                    <a href="javascript:;" class="btn btn-danger btn-import" title="{:__('Import')}" id="btn-import-file" data-url="ajax/upload" data-mimetype="csv,xls,xlsx" data-multipart={"dir":"warehouse/inventory"} data-multiple="false"><i class="fa fa-upload"></i> {:__('Import')}</a>
                </div>
                <table id="table2" class="table table-striped table-bordered table-hover" width="100%">
                </table>
            </div>
        </div>
    </div>
</div>