<style>
    .content {
        min-height: 0px;
    }
</style>
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">

        <label class="control-label col-xs-2 col-sm-2" style="text-align: right;">SKU:</label>
        <div class="col-xs-8 col-sm-3">
            {$row.sku}
        </div>

    </div>
    <input type="hidden" value="{$row.sku}" name="row[sku]" />
    <input type="hidden" value="{:input('type')}" name="row[type]" />
    <input type="hidden" value="{$row.category_id}" name="row[category_id]" />
    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-2"
            style="line-height: 30px;text-align: right;">{:__('平台')}:</label>
        <div class="col-xs-8 col-sm-3">
            <select id="platformarr" data-rule="required" class="form-control selectpicker" name="row[website_type]">
                <option value="">请选择</option>
                {foreach name="platformarr" item="vo"}
                <option value="{$vo.id}">{$vo.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">

        <label class="control-label col-xs-2 col-sm-2" style="text-align: right;">{:__('数量')}:</label>
        <div class="col-xs-8 col-sm-3">
            <input id="c-id" data-rule="required" class="form-control"  name="row[replenish_num]" type="number" value="" min="1" oninput="if(value < 0){Layer.alert('只能输入正整数！');value = 1}">
        </div>
    </div>

   
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>