<div class="form-group ajax-add">
    <label class="control-label col-xs-12 col-sm-2">{:__('供应商')}:</label>
    <div class="col-xs-12 col-sm-3">
        <select  id="supplier_id" data-rule="required" class="form-control selectpicker"  data-live-search='true' name="row[supplier_id]">
            <option value="">请选择</option>
            {foreach name="AllSupplier" item="vo"}
            <option value="{$key}">{$vo}</option>
            {/foreach}
        </select>
    </div>
    <label class="control-label col-xs-12 col-sm-2">{:__('1688商品购买页链接')}:</label>
    <div class="col-xs-12 col-sm-3">
        <input id="c-link" data-rule="required" class="form-control" label='1' name="row[link]" type="text" value="">
    </div>
    <button type="button" class="btn btn-success btn-embossed btn-caiji">{:__('采集')}</button>
</div>
<input id="item-count" class="ajax-add" name="row[item_count]" type="hidden" value="{$row.itemCount}" />
<div class='caigou ajax-add addition'>
    
    <div style="margin-bottom:20px;">
        <div id="toolbar" class="toolbar">
            <a href="javascript:;" class="btn btn-success btn-add" title="增加"><i class="fa fa-plus"></i> 增加</a>
        </div>
        <table id="caigou-table">
            <tr>
                <th>商品名称</th>
                <th>商品颜色</th>
                <th>供应商SKU</th>
                <th>单价</th>
                <th>操作</th>
            </tr>
            <tr>
                <td><input  data-rule="required"  class="form-control c-name" name="row[name][]" type="text"></td>
                <td><input  data-rule="required"  class="form-control c-color" name="row[color][]" type="text"></td>
                <td><input  data-rule="required"  class="form-control c-supplier_sku" name="row[supplier_sku][]" type="text"></td>
                <td><input  data-rule="required"  class="form-control c-price" name="row[price][]" value="{$row.price}" type="text"></td>
                <td><a href="javascript:;" class="btn btn-danger btn-del" title="删除"><i class="fa fa-trash"></i>
                    删除</a></td>
            </tr>

        </table>
    </div>
</div>

<div class="form-group ajax-add redact">
    <label class="control-label col-xs-12 col-sm-2">{:__('Procurement_type')}:</label>
    <div class="col-xs-12 col-sm-3">
        <select  id="c-procurement_type" data-rule="required" class="form-control selectpicker" name="row[procurement_type]">
            <option value="0">请选择</option>
            <option value="1" {:$row['procurement_type'] == 1 ? 'selected' : ''}>线上采购</option>
            <option value="2" {:$row['procurement_type'] == 2 ? 'selected' : ''}>线下采购</option>
        </select>
    </div>
    <label class="control-label col-xs-12 col-sm-2">{:__('Procurement_origin')}:</label>
    <div class="col-xs-12 col-sm-3">
        <select  id="c-procurement_origin" data-rule="required" class="form-control selectpicker" name="row[procurement_origin]">
            {foreach name="AllOrigin" item="vo"}
            <option value="{$key}" {:$row['procurement_origin'] == $key ? 'selected' : ''}>{$vo}</option>
            {/foreach}
        </select>
    </div>
</div>




<div class="form-group ajax-add">
        <label class="control-label col-xs-12 col-sm-2">{:__('Frame_texture')}:</label>
        <div class="col-xs-12 col-sm-3">
            <select  id="c-frame_texture" data-rule="required" class="form-control selectpicker" name="row[frame_texture]">
                {foreach name="AllTexture" item="vo"}
                <option value="{$key}" {:$row['frame_texture'] == $key ? 'selected' : ''}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    <label class="control-label col-xs-12 col-sm-2">{:__('Frame_bridge')}:</label>
    <div class="col-xs-12 col-sm-3">
        <input id="c-frame_bridge" data-rule="required" class="form-control" name="row[frame_bridge]" type="number" value="{:$row['frame_bridge'] ?? '0.00'}">
    </div>
</div>
<div class="form-group ajax-add">
    <label class="control-label col-xs-12 col-sm-2">{:__('Frame_height')}:</label>
    <div class="col-xs-12 col-sm-3">
        <input id="c-attribute-type" type="hidden" name="row[attribute_type]" value="1"/>
        <input id="c-frame_height" data-rule="required" class="form-control" name="row[frame_height]" type="number" value="{:$row['frame_height'] ?? 0}">
    </div>
    <label class="control-label col-xs-12 col-sm-2">{:__('Frame_width')}:</label>
    <div class="col-xs-12 col-sm-3">
        <input id="c-frame_width" data-rule="required" class="form-control" step="0.01" name="row[frame_width]" type="number" value="{:$row['frame_width'] ?? '0.00'}">
    </div>
</div>
<div class="form-group ajax-add">
    <label class="control-label col-xs-12 col-sm-2">{:__('Frame_length')}:</label>
    <div class="col-xs-12 col-sm-3">
        <input id="c-frame_length" data-rule="required" class="form-control" name="row[frame_length]" type="number" value="{:$row['frame_length'] ?? 0}">
    </div>
    <label class="control-label col-xs-12 col-sm-2">{:__('Frame_temple_length')}:</label>
    <div class="col-xs-12 col-sm-3">
        <input id="c-frame_temple_length" data-rule="required" class="form-control" step="0.01" name="row[frame_temple_length]" type="number" value="{:$row['frame_temple_length'] ?? '0.00'}">
    </div>
</div>
<div class="form-group ajax-add">
    <label class="control-label col-xs-12 col-sm-2">{:__('Weight')}:</label>
    <div class="col-xs-12 col-sm-3">
        <input id="c-weight" data-rule="required" class="form-control" name="row[weight]" type="number" value="{:$row['frame_weight'] ?? 0}">
    </div>
    <label class="control-label col-xs-12 col-sm-2">{:__('Mirror_width')}:</label>
    <div class="col-xs-12 col-sm-3">
        <input id="c-mirror_width" data-rule="required" class="form-control" name="row[mirror_width]" type="number" value="{:$row['mirror_width'] ?? 0}">
    </div>
</div>
<div class="form-group ajax-add">
    <label class="control-label col-xs-12 col-sm-2">{:__('Shape')}:</label>
    <div class="col-xs-12 col-sm-3">
        <select  id="c-shape" data-rule="required" class="form-control selectpicker" name="row[shape]">
            {foreach name="AllShape" item="vo"}
            <option value="{$key}" {:$row['shape'] == $key ? 'selected' : ''}>{$vo}</option>
            {/foreach}
        </select>
    </div>
    <label class="control-label col-xs-12 col-sm-2">{:__('Frame_type')}:</label>
    <div class="col-xs-12 col-sm-3">
        <select  id="c-frame_type" data-rule="required" class="form-control selectpicker" name="row[frame_type]">
            {foreach name="AllFrameType" item="vo"}
            <option value="{$key}" {:$row['frame_type'] == $key ? 'selected' : ''}>{$vo}</option>
            {/foreach}
        </select>
    </div>
</div>
<div class="form-group ajax-add">
    <label class="control-label col-xs-12 col-sm-2">{:__('Frame_shape')}:</label>
    <div class="col-xs-12 col-sm-3">
        <select  id="c-frame_shape" data-rule="required" class="form-control selectpicker" name="row[frame_shape]">
            {foreach name="AllFrameShape" item="vo"}
            <option value="{$key}" {:$row['frame_shape'] == $key ? 'selected' : ''}>{$vo}</option>
            {/foreach}
        </select>
    </div>
    <label class="control-label col-xs-12 col-sm-2">{:__('Frame_gender')}:</label>
    <div class="col-xs-12 col-sm-3">
        <select  id="c-frame_gender" data-rule="required" class="form-control selectpicker" name="row[frame_gender]">
            {foreach name="AllFrameGender" item="vo"}
            <option value="{$key}" {:$row['frame_gender'] == $key ? 'selected' : ''}>{$vo}</option>
            {/foreach}
        </select>
    </div>
</div>
<div class="form-group ajax-add">
    <label class="control-label col-xs-12 col-sm-2">{:__('Frame_size')}:</label>
    <div class="col-xs-12 col-sm-3">
        <select  id="c-frame_size" data-rule="required" class="form-control selectpicker" name="row[frame_size]">
            {foreach name="AllFrameSize" item="vo"}
            <option value="{$key}" {:$row['frame_size'] == $key ? 'selected' : ''}>{$vo}</option>
            {/foreach}
        </select>
    </div>
    <label class="control-label col-xs-12 col-sm-2">{:__('Glasses_type')}:</label>
    <div class="col-xs-12 col-sm-3">
        <select  id="c-glasses_type" data-rule="required" class="form-control selectpicker" name="row[glasses_type]">
            {foreach name="AllGlassesType" item="vo"}
            <option value="{$key}" {:$row['glasses_type'] == $key ? 'selected' : ''}>{$vo}</option>
            {/foreach}
        </select>
    </div>
</div>
<div class="form-group ajax-add">
    <label class="control-label col-xs-12 col-sm-2">{:__('Frame_is_recipe')}:</label>
    <div class="col-xs-12 col-sm-3">
        <select  id="c-frame_is_recipe" data-rule="required" class="form-control selectpicker" name="row[frame_is_recipe]">
            <option value="">请选择</option>
            <option value="1" {:$row['frame_is_recipe'] == 1 ? 'selected' : ''}>是</option>
            <option value="2" {:$row['frame_is_recipe'] == 2 ? 'selected' : ''}>否</option>
        </select>
    </div>
    <label class="control-label col-xs-12 col-sm-2">{:__('Frame_piece')}:</label>
    <div class="col-xs-12 col-sm-3">
        <select  id="c-frame_piece" data-rule="required" class="form-control selectpicker" name="row[frame_piece]">
            <option value="">请选择</option>
            <option value="1" {:$row['frame_piece'] == 1 ? 'selected' : ''}>是</option>
            <option value="2" {:$row['frame_piece'] == 2 ? 'selected' : ''}>否</option>
        </select>
    </div>
</div>
<div class="form-group ajax-add">
    <label class="control-label col-xs-12 col-sm-2">{:__('Frame_temple_is_spring')}:</label>
    <div class="col-xs-12 col-sm-3">
        <select  id="c-frame_temple_is_spring" data-rule="required" class="form-control selectpicker" name="row[frame_temple_is_spring]">
            <option value="">请选择</option>
            <option value="1" {:$row['frame_temple_is_spring'] == 1 ? 'selected' : ''}>是</option>
            <option value="2" {:$row['frame_temple_is_spring'] == 2 ? 'selected' : ''}>否</option>
        </select>
    </div>
    <label class="control-label col-xs-12 col-sm-2">{:__('Frame_is_adjust_nose_pad')}:</label>
    <div class="col-xs-12 col-sm-3">
        <select  id="c-frame_is_adjust_nose_pad" data-rule="required" class="form-control selectpicker" name="row[frame_is_adjust_nose_pad]">
            <option value="">请选择</option>
            <option value="1" {:$row['frame_is_adjust_nose_pad'] == 1 ? 'selected' : ''}>是</option>
            <option value="2" {:$row['frame_is_adjust_nose_pad'] == 2 ? 'selected' : ''}>否</option>
        </select>
    </div>
</div>
<div class="form-group ajax-add">
    <label class="control-label col-xs-12 col-sm-2">{:__('Frame_is_advance')}:</label>
    <div class="col-xs-12 col-sm-3">
        <select  id="c-frame_is_advance" data-rule="required" class="form-control selectpicker" name="row[frame_is_advance]">
            <option value="">请选择</option>
            <option value="1" {:$row['frame_is_advance'] == 1 ? 'selected' : ''}>是</option>
            <option value="2" {:$row['frame_is_advance'] == 2 ? 'selected' : ''}>否</option>
        </select>
    </div>
</div>
<div class="form-group ajax-add">
    <label class="control-label col-xs-12 col-sm-2">{:__('Frame_remark')}:</label>
    <div class="col-xs-12 col-sm-8">
        <textarea id="c-problem_desc" class="form-control" rows="5" name="row[frame_remark]" cols="50"></textarea>
    </div>
</div>


<div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">{:__('Upload_photos')}:</label>
    <div class="col-xs-12 col-sm-3">
        <div class="input-group">
            <input id="c-upload_photos" data-rule="required" class="form-control" name="row[frame_images]" type="text" value="">
            <div class="input-group-addon no-border no-padding">
                <span><button type="button" id="plupload-upload_photos"   class="btn btn-danger plupload" data-input-id="c-upload_photos" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-url="ajax/upload?dir=itemmanage/item" data-multiple="false" data-preview-id="p-upload_photos" data-maxsize="2M"><i class="fa fa-upload"></i> 上传</button></span>
            </div>
            <span class="msg-box n-right" for="c-upload_photos"></span>
        </div>
        <ul class="row list-inline plupload-preview" id="p-upload_photos"></ul>
    </div>
</div>
