<style>
    .caigou {
        width: 100%;
        /* border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px; */
        padding: 10px;
    }

    .caigou #caigou-table {
        width: 100%;
        height: 130px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 1px;
        text-align: center;
    }

     .caigou #caigou-table tr {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 1px;
        line-height: 50px;
    }

    .caigou #caigou-table tr th {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 1px;
        text-align: center;
        font-size: 14px;
    }

    .caigou #caigou-table tr td {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 1px;
    } 


    table {
        border-collapse: separate;
        border-spacing: 0px;
        margin-bottom: 20px;
    }

    .lists {
       
        width: 100%;
        margin-bottom: 30px;
    }
</style>

<div class="panel-heading">
    {:build_heading()}

</div>

<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


    <div class='caigou'>
        <div style="margin-bottom: 20px;width: 100%;">
         
                <table id="caigou-table">
                    <tr>
                        <th colspan="2">结算单</th>
                    </tr>
                    <tr>
                        <th>结算单号: {$statement.statement_number}</th>
                        <th>供应商名称: {$supply.supplier_name}</th>
                    </tr>
                    <tr>
                        <th>供应商账期: {$supply.period}个月</th>
                        <th>收款方名称: {$supply.recipient_name}</th>
                    </tr>
                    <tr>
                        <th>收款方开户行: {$supply.opening_bank}</th>
                        <th>收款方账户: {$supply.bank_account}</th>
                    </tr>
                    <tr>
                        <th>付款币种: {$supply.currency}</th>
                        <th>备注: {$statement.remark}</th>
                    </tr>
                   
                    <tr>
                        <th colspan="2">
                            {if $items}
                         
                            <table id="caigou-table">
                                <tr>
                                    <th>ID</th>
                                    <th>采购单号</th>
                                    <th>采购单名称</th>
                                    <th>付款类型</th>
                                    <th>采购批次</th>
                                    <th>预付金额</th>
                                    <th>已支付金额</th>
                                    <th>待结算金额</th>
                                    <th>运费</th>
                                    <th>入库数量</th>
                                    <th>入库金额</th>
                                    <th>退货数量</th>
                                    <th>退货金额</th>
                                    <th>扣款金额</th>
                                    <th>扣款原因</th>
                                    <th>结算账日期</th>
                                </tr>
                                {foreach $items  as $item}
                                <tr>
                                    <th>{$item.id}</th>
                                    <th>{$item.purchase_number}</th>
                                    <th>{$item.purchase_name}</th>
                                    <th>{if $statement.pay_type == 1}预付款{elseif $statement.pay_type == 2}全款预付{else/}尾款{/if}</th>
                                    <th>{$item.purchase_batch}</th>
                                    <th>{$item.before_total}</th>
                                    <th>{$item.now_pay_total}</th>
                                    <th>{$item.wait_statement_total}</th>
                                    <th>{$item.freight}</th>
                                    <th>{$item.instock_num}</th>
                                    <th>{$item.instock_total}</th>
                                    <th>{$item.return_num}</th>
                                    <th>{$item.return_total}</th>
                                    <th>{$item.deduction_total}</th>
                                    <th>{$item.deduction_reason}</th>
                                    <th>{$item.period}</th>
                                </tr>
                                {/foreach}
                            </table>
                           
                            {/if}

                </table>


        </div>
    </div>



</form>