<style>
     .caigou {
        padding: 10px;
        width: 100%;
        margin-bottom: 10px;
    }

    .caigou #caigou-table {
        width: 100%;
        height: 130px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        text-align: center;

    }

    .caigou #caigou-table tr {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        line-height: 50px;
    }

    .caigou #caigou-table tr th {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
        text-align: center;
        font-size: 14px;
    }

    .caigou #caigou-table tr td {

        border-width: 1px;
        border-style: solid;
        border-color: rgba(188, 188, 188, 1);
        border-radius: 6px;
    }

    .caigou #caigou-table tr td input {

        width: 100px;
    }
</style>

<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">质检单号:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-check_order_number" class="form-control" name="row[check_order_number]"
                    value="{$check_order_number}" readonly type="text">
        </div>

        <label class="control-label col-xs-12 col-sm-2">采购单:</label>
        <div class="col-xs-12 col-sm-3">
            <select name="row[purchase_id]" class="form-control purchase_id selectpicker" data-live-search='true' style="height: 100px!important;">
                <option value="">请选择</option>
                {foreach $purchase_data as $k => $v}
                <option value="{$k}" {:$purchase_id == $k ? 'selected' : ''} {:$info.purchase_id == $k ? 'selected' : ''}>{$v}</option>
                {/foreach}
            </select>
        </div>
     
    </div>

    <div class="form-group">
       
        <label class="control-label col-xs-12 col-sm-2">供应商:</label>
        <div class="col-xs-12 col-sm-3">
            <select name="row[supplier_id]" class="form-control supplier selectpicker" data-live-search='true' required>
                <option value="">请选择</option>
                {foreach $supplier as $k => $v}
                <option value="{$k}">{$v}</option>
                {/foreach}
            </select>
        </div>

        <label class="control-label col-xs-12 col-sm-2">采购批次 :</label>
        <div class="col-xs-12 col-sm-3">
            <select name="row[batch_id]" class="form-control batch_id">
                <option value="">请选择</option>
                {if $batch}
                {foreach $batch as $k => $v}
                <option value="{$v.id}" {:$info['batch_id']==$v['id'] ? 'selected' : '' }>{$v.batch}</option>
                {/foreach}
                {/if}
            </select>
        </div>
    </div>

    <div class="form-group">
    
        <label class="control-label col-xs-12 col-sm-2">备注:</label>
        <div class="col-xs-12 col-sm-3">
            <textarea id="c-quality_standard" class="form-control " rows="5" name="row[remark]"
                cols="50"></textarea>
        </div>

        <label class="control-label col-xs-12 col-sm-2">是否错发:</label>
        <div class="col-xs-12 col-sm-3">
            <select  class="form-control error_type" name="error_type">
                <option value="">请选择</option>
                <option value="0">否</option>
                <option value="1">是</option>
            </select>
        </div>
    </div>
   
    <style>
        .plupload-preview li {
            width: 80px;
        }
    </style>

    <hr>
    <div class='caigou' >
        <p style="font-size: 16px;text-align: center;"><b>产品信息</b></p>
        <div style="margin-bottom:20px;">
            <div id="toolbar" class="toolbar">
                <!-- <a href="javascript:;" class="btn btn-success btn-add" title="增加"><i class="fa fa-plus"></i> 增加</a> -->
            </div>
            <table id="caigou-table">
                <tr>
                    <th>SKU</th>
                    <th>供应商SKU</th>
                    <th>采购数量</th>
                    <th>已质检数量</th>
                    <th>到货数量</th>
                    <th>合格数量</th>
                    <th>留样数量</th>
                    <th>不合格数量</th>
                    <th>合格率</th>
                    <th>备注</th>
                    <th>上传图片</th>
                    <th>操作</td>
                </tr>
                <tr>
                    <td>
                        <input id="c-purchase_remark" class="form-control sku" name="sku[]" type="text">
                    </td>
                    <td><input id="c-purchase_remark" class="form-control supplier_sku" readonly name="supplier_sku[]" type="text"></td>
                    <td><input id="c-purchase_remark" class="form-control purchase_num" name="purchase_num[]"
                            type="text"></td>
                    <td><input id="c-purchase_remark" class="form-control check_num" readonly name="check_num[]" type="text">
                    </td>
                    <td><input id="c-purchase_remark" class="form-control arrivals_num" name="arrivals_num[]"
                            type="text"></td>
                    <td><input id="c-purchase_remark" class="form-control quantity_num" name="quantity_num[]"
                            type="text"></td>
                    <td><input id="c-purchase_remark" class="form-control sample_num" name="sample_num[]" type="text">
                    </td>
                    <td><input id="c-purchase_remark" class="form-control unqualified_num" readonly name="unqualified_num[]"
                            type="text"></td>
                    <td><input id="c-purchase_remark" class="form-control quantity_rate" readonly name="quantity_rate[]"
                            type="text">%</td>
                    <td><input style="width: 200px;" id="c-purchase_remark" class="form-control remark" name="remark[]"
                            type="text"></td>
                    <td>
                        <input id="c-contract_images" style="width: 150px;" class="form-control unqualified_images"
                            size="200" readonly name="unqualified_images[]" type="text">

                    </td>

                    <td>
                        <span><button type="button" id="plupload-unqualified_images" class="btn btn-danger pluploads"
                                data-input-id="c-unqualified_images"
                                data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true"
                                data-maxcount="3" data-preview-id="p-unqualified_images"><i class="fa fa-upload"></i>
                                {:__('Upload')}</button></span>

                        <a href="javascript:;" class="btn btn-danger btn-del" title="删除"><i class="fa fa-trash"></i>
                            删除</a>
                    </td>

                </tr>

            </table>
        </div>

    </div>



    <input type='hidden' name="row[status]" class="status" value="0">

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="submit" class="btn btn-success btn-status btn-embossed disabled">提交审核</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>

</form>

<div id="table-content" style="display: none;">
    <table>
        <tr>
            <td>
                <input id="c-purchase_remark" class="form-control sku" name="sku[]" type="text">
            </td>
            <td><input id="c-purchase_remark" class="form-control supplier_sku" readonly name="supplier_sku[]" type="text"></td>
            <td><input id="c-purchase_remark" class="form-control purchase_num" name="purchase_num[]" type="text"></td>
            <td><input id="c-purchase_remark" class="form-control check_num" readonly name="check_num[]" type="text"></td>
            <td><input id="c-purchase_remark" class="form-control arrivals_num" name="arrivals_num[]" type="text"></td>
            <td><input id="c-purchase_remark" class="form-control quantity_num" name="quantity_num[]" type="text"></td>
            <td><input id="c-purchase_remark" class="form-control sample_num" name="sample_num[]" type="text"></td>
            <td><input id="c-purchase_remark" class="form-control unqualified_num" readonly name="unqualified_num[]" type="text">
            </td>
            <td><input id="c-purchase_remark" class="form-control quantity_rate" readonly name="quantity_rate[]" type="text">%
            </td>
            <td><input style="width: 200px;" id="c-purchase_remark" class="form-control remark" name="remark[]"
                    type="text"></td>
            <td>
                <input id="c-contract_images" style="width: 150px;" class="form-control unqualified_images" size="200"
                    readonly name="unqualified_images[]" type="text">

            </td>

            <td>
                <span><button type="button" id="plupload-unqualified_images" class="btn btn-danger pluploads"
                        data-input-id="c-unqualified_images"
                        data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true"
                        data-maxcount="3" data-preview-id="p-unqualified_images"><i class="fa fa-upload"></i>
                        {:__('Upload')}</button></span>

                <a href="javascript:;" class="btn btn-danger btn-del" title="删除"><i class="fa fa-trash"></i>
                    删除</a>
            </td>

        </tr>

    </table>
</div>