
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <input type="hidden" value="{$ids}" name="ids"/>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">退销类型:</label>
        <div class="col-xs-12 col-sm-8">
            <select name="row[return_type]" class="form-control" data-rule='required'>
                <option value="">请选择</option>
                <option value="1">仅退款</option>
                <option value="2">退货退款</option>
                <option value="3">调换货</option>
                <option value="4">仅退货</option>

            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">供应商:</label>
        <div class="col-xs-12 col-sm-8"> 
            <select name="row[supplier_id]" class="form-control supplier selectpicker" data-live-search='true'  data-rule='required'>
                <option value="">请选择</option>
                {foreach $supplier as $k => $v}
                <option value="{$k}">{$v}</option>
                {/foreach}
            </select>

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">联系人:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-supplier_linkname" class="form-control" name="row[supplier_linkname]" value="" 
                type="text">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">联系电话:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-supplier_linkphone" class="form-control" name="row[supplier_linkphone]" value="" 
                type="text">
        </div>
    </div>



    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">收货地址:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-supplier_address" class="form-control" name="row[supplier_address]" value="" type="text">
        </div>
    </div>

    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">备注:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-quality_standard" class="form-control " rows="5" name="row[remark]"
                cols="50"></textarea>
        </div>
    </div>




    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>

