<style>
    #accordion div{
        text-align: center;
    }
</style>



<ul class="timeline" style="width: 48%;float: left;">
    <li class="time-label">
        <span class="bg-red">
            {:__('test_environment')}
        </span>
    </li>
    {volist name="left_test_list" id="ltl"}
        <li>
            <i class="fa fa-user bg-aqua"></i>
            <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i>{:__('test_add_time')}：{$ltl['create_time']}</span>
                <h3 class="timeline-header"><a href="#">{:__('bug_type')}：{$bug_type[$ltl['bug_type']]}</a></h3>

                <div class="timeline-body">
                    {:__('All_user_id')}：<span><b>{$ltl['responsibility_user_name']}</b></span>
                </div>

                <div class="timeline-body" >
                    {:__('describe')}：<span style="word-break: break-all;"><b>{$ltl['describe']}</b></span>
                </div>

            </div>
        </li>
    {/volist}
</ul>

<ul class="timeline" style="width: 48%;float: right;">
    <li class="time-label">
            <span class="bg-red">
                {:__('formal_environment')}
            </span>
    </li>
    {volist name="right_test_list" id="rtl"}
    <li>
        <i class="fa fa-user bg-aqua"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i>{:__('test_add_time')}：{$rtl['create_time']}</span>
            <h3 class="timeline-header"><a href="#">{:__('bug_type')}：{$bug_type[$rtl['bug_type']]}</a></h3>

            <div class="timeline-body">
                {:__('All_user_id')}：<span><b>{$rtl['responsibility_user_name']}</b></span>
            </div>

            <div class="timeline-body" >
                {:__('describe')}：<span style="word-break: break-all;"><b>{$rtl['describe']}</b></span>
            </div>

        </div>
    </li>
    {/volist}
</ul>

<div class="hide layer-footer">
    <label class="control-label col-xs-12 col-sm-2"></label>
    <div class="col-xs-12 col-sm-8">
        <button type="reset" class="btn btn-primary btn-embossed btn-close" onclick="Layer.closeAll();">{:__('Close')}</button>
    </div>
</div>