<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('问题严重程度')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select name="row[bug_type]" class="form-control" data-rule="required">
                <option value="">请选择</option>
                <option value="1">次要</option>
                <option value="2">一般</option>
                <option value="3">严重</option>
                <option value="4">崩溃</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('责任组')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select name="row[responsibility_group]" class="form-control" data-rule="required">
                <option value="">请选择</option>
                {foreach $group_type as $v}
                <option value="{$v}">
                    {if $v == 1}
                    前端
                    {elseif $v == 2}
                    后端
                    {elseif $v == 3}
                    app
                    {/if}
                </option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('责任人')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select name="row[responsibility_user_id]" class="form-control" data-rule="required">
                <option value="">请选择</option>
                {foreach $person_ids as $k => $v}
                <option value="{$v.person_in_charge}">{$v.person_in_charge_name}</option>
                {/foreach}
            </select>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Desc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-desc" class="form-control editor" rows="4" name="row[describe]" cols="30"></textarea>
        </div>
    </div>


    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>