<style>
    #accordion div{
        text-align: center;
    }
</style>
<form role="form" data-toggle="validator" method="POST" action="{:url('test_record_bug')}">
    <input type="hidden" name="row[type]" value="{$row.type}"/>
    <input type="hidden" name="row[pid]" value="{$row.id}"/>
    <input type="hidden" name="row[site_type]" value="{$row.site_type}"/>
    <input type="hidden" name="row[environment_type]" value="{if $row['status'] == 4}1{else}2{/if}"/>
    <div class="box box-danger">
        <div class="box-body">
            <div class="">
                <div class="col-xs-5" style="width: 48%;">
                    <span>{:__('describe')}:</span>
                    <textarea id="c-describe" class="form-control" data-rule="required" style="resize:none" rows="5" name="row[describe]" cols="50"></textarea>
                </div>

                <div class="col-xs-3" style="width: 48%;">
                    <span>{:__('Responsibility_user')}</span>
                    <select class="form-control" data-rule="required" data-live-search="1" id="responsibility_group" name="row[responsibility_group]" onchange="update_responsibility_user(this)">
                        <option value="">请选择</option>
                        {if $row['web_designer_group'] == 1 && $row['web_designer_user_id'] != ''}
                        <option value="1">前端：{$row['web_designer_username']}</option>
                        {/if}
                        {if $row['phper_group'] == 1 && $row['phper_user_id'] != ''}
                            <option value="2">后端：{$row['phper_username']}</option>
                        {/if}
                        {if $row['app_group'] == 1 && $row['app_user_id'] != ''}
                            <option value="3">APP：{$row['app_username']}</option>
                        {/if}
                    </select>
                    <input type="hidden" class="responsibility_user_id" id="responsibility_user_id_1" value="{$row['web_designer_user_id']}"/>
                    <input type="hidden" class="responsibility_user_id" id="responsibility_user_id_2" value="{$row['phper_user_id']}"/>
                    <input type="hidden" class="responsibility_user_id" id="responsibility_user_id_3" value="{$row['app_user_id']}"/>
                </div>
                <div class="col-xs-4" style="width: 48%;margin-top: 17px;">
                    <span>{:__('bug_type')}:</span>
                    {:Form::select('row[bug_type]', config('demand.bug_type'), '', ['class'=>'form-control', null,'data-live-search' => true,'id'=>'bug_type'])}
                </div>
            </div>
        </div>
        <div style="width: 100%;text-align: center;padding-bottom: 1%;">
            <button type="submit" name="web_finish" value="1" class="btn btn-success btn-embossed" style="width: 50%;align-content: center;">{:__('OK')}</button>
        </div>
    </div>
</form>


<ul class="timeline" style="width: 50%;float: left;">
    <li class="time-label">
        <span class="bg-red">
            {:__('test_environment')}
        </span>
    </li>
    {volist name="left_test_list" id="ltl"}
        <li>
            <i class="fa fa-user bg-aqua"></i>
            <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i>{:__('test_add_time')}：{$ltl['create_time']}</span>
                <h3 class="timeline-header"><a href="#" {if $ltl['bug_type'] == 1}style="color: darkseagreen;font-weight: 900"{elseif $ltl['bug_type'] == 2}style="color: green;font-weight: 900"{elseif $ltl['bug_type'] == 3}style="color: darkorange;font-weight: 900"{elseif $ltl['bug_type'] == 4}style="color: red;font-weight: 900"{/if}>{$bug_type[$ltl['bug_type']]}</a></h3>

                <div class="timeline-body">
                    <p style="float: left;width: 62%">{:__('All_user_id')}：<span><b>{$ltl['responsibility_user_name']}</b></span></p>
                    <p>{:__('Entry_user_id')}：<span><b>{$ltl['create_user_name']}</b></span></p>
                </div>

                <div class="timeline-body" >
                    {:__('describe')}：<span style="word-break: break-all;"><b>{$ltl['describe']}</b></span>
                </div>

                <div class="timeline-body" >
                    {:__('是否完成')}：<span style="word-break: break-all;"><b>{$ltl['is_complete']==1?'是':'否'}</b></span>
                </div>
                {if $ltl['is_complete'] == 0 && in_array(session('admin.id'), explode(',', $ltl['responsibility_user_id']))}
                <form role="form" data-toggle="validator" method="POST" action="{:url('test_record_bug')}">
                    <input type="hidden" name="row[id]" value="{$ltl['id']}"/>
                    <input type="hidden" name="row[opt_type]" value="1"/>
                    <div style="padding-left: 58px;padding-bottom: 1%;padding-top: 1%">
                        <button type="submit" name="web_finish" value="1" class="btn btn-success btn-embossed">{:__('All_finish')}</button>
                    </div>
                </form>
                {/if}

                {if $ltl['is_complete'] == 0 && session('admin.id')== $ltl['create_user_id'] }
                <form role="form" data-toggle="validator" method="POST" action="{:url('test_record_bug')}">
                    <input type="hidden" name="row[id]" value="{$ltl['id']}"/>
                    <input type="hidden" name="row[opt_type]" value="2"/>
                    <div style="padding-left: 58px;padding-bottom: 1%;padding-top: 1%">
                        <button type="submit" name="web_finish" value="1" class="btn btn-success btn-embossed">删除</button>
                    </div>
                </form>
                {/if}

            </div>
        </li>
    {/volist}
</ul>

<ul class="timeline" style="width: 50%;float: right;">
    <li class="time-label">
            <span class="bg-red">
                {:__('formal_environment')}
            </span>
    </li>
    {volist name="right_test_list" id="rtl"}
    <li>
        <i class="fa fa-user bg-aqua"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i>{:__('test_add_time')}：{$rtl['create_time']}</span>
            <h3 class="timeline-header"><a href="#"{if $rtl['bug_type'] == 1}style="color: darkseagreen;font-weight: 900"{elseif $rtl['bug_type'] == 2}style="color: green;font-weight: 900"{elseif $rtl['bug_type'] == 3}style="color: darkorange;font-weight: 900"{elseif $rtl['bug_type'] == 4}style="color: red;font-weight: 900"{/if}>{$bug_type[$rtl['bug_type']]}</a></h3>

            <div class="timeline-body">
                <p style="float: left;width: 62%">{:__('All_user_id')}：<span><b>{$rtl['responsibility_user_name']}</b></span></p>
                <p>{:__('Entry_user_id')}：<span><b>{$rtl['create_user_name']}</b></span></p>
            </div>

            <div class="timeline-body" >
                {:__('describe')}：<span style="word-break: break-all;"><b>{$rtl['describe']}</b></span>
            </div>

            <div class="timeline-body" >
                {:__('是否完成')}：<span style="word-break: break-all;"><b>{$rtl['is_complete']==1?'是':'否'}</b></span>
            </div>
            {if $rtl['is_complete'] == 0 && in_array(session('admin.id'), explode(',', $rtl['responsibility_user_id']))}
            <form role="form" data-toggle="validator" method="POST" action="{:url('test_record_bug')}">
                <input type="hidden" name="row[id]" value="{$rtl['id']}"/>
                <input type="hidden" name="row[opt_type]" value="1"/>
                <div style="padding-left: 58px;padding-bottom: 1%;padding-top: 1%">
                    <button type="submit" name="web_finish" value="1" class="btn btn-success btn-embossed">{:__('All_finish')}</button>
                </div>
            </form>
            {/if}

            {if $rtl['is_complete'] == 0 && session('admin.id') == $rtl['create_user_id'] }
            <form role="form" data-toggle="validator" method="POST" action="{:url('test_record_bug')}">
                <input type="hidden" name="row[id]" value="{$rtl['id']}"/>
                <input type="hidden" name="row[opt_type]" value="2"/>
                <div style="padding-left: 58px;padding-bottom: 1%;padding-top: 1%">
                    <button type="submit" name="web_finish" value="1" class="btn btn-success btn-embossed">删除</button>
                </div>
            </form>
            {/if}
        </div>
    </li>
    {/volist}
</ul>

<div class="hide layer-footer">
    <label class="control-label col-xs-12 col-sm-2"></label>
    <div class="col-xs-12 col-sm-8">
        <button type="reset" class="btn btn-primary btn-embossed btn-close" onclick="Layer.closeAll();">{:__('Close')}</button>
    </div>
</div>