<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('admin.nickname')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:Form::select('row[admin_id]', $user, null, ['class'=>'form-control selectpicker', 'data-rule'=>'required','data-live-search' => true,'id'=>'admin_id'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select class="form-control site-type" data-live-search="1"  name="row[type]" data-rule="required">
                <option value="">请选择</option>
                <option value="1">zeelool</option>
                <option value="2">voogueme</option>
                <option value="3">nihao</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select class="form-control account-select" data-live-search="1" data-rule="required" name="row[agent_id]">
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Nickname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-nickname" data-rule="required" class="form-control" name="row[nickname]" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Agent_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:Form::select('row[agent_type]', $agent_type, null, ['class'=>'form-control', 'data-rule'=>'required','data-live-search' => true,'id'=>'agent_type'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Count')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-count" data-rule="required" class="form-control" name="row[count]" type="number" value="0">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
