<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">物流公司编码:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="logistics_company_no" class="form-control" name="row[logistics_company_no]"
                placeholder="注意复制下方手册对应物流公司编码,多个英文逗号拼接。例如：yunda,yuantong">{:$do_type == 1 ? '' : $row.logistics_company_no }</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">物流单号:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="logistics_number" class="form-control" name="row[logistics_number]"
                placeholder="注意多个物流单号英文逗号拼接,并与上方物流公司顺序一一对应。">{:$do_type == 1 ? '' : $row.logistics_number }</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">物流公司编码手册:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea class="form-control" style="height: 240px;">
韵达快递 => yunda
邮政快递包裹 =>  youzhengguonei
中通快递 =>  zhongtong
圆通速递 =>  yuantong
申通快递 =>  shentong
百世快递 =>  huitongkuaidi
顺丰速运 =>  shunfeng
京东物流 =>  jd
天天快递 =>  tiantian
EMS => ems
德邦 =>  debangwuliu
德邦快递 => debangkuaidi
                    </textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>